<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <%= @merchant.name %>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
      <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
      <%= link_to "View All My Discounts", "/merchants/#{@merchant.id}/bulk_discounts" %>

    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
  <% @merchant.bulk_discounts.each do |discount| %>
    <div id="bulk-discount-<%= discount.id %>">
      <%= link_to "ID: #{discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %>
      <p><strong>Threshold:</strong> <%= discount.threshold %></p>
      <p><strong>Discount Percentage:</strong> <%= discount.discount_percentage %></p>
      <% end %>
    </div>
  </div>
</div>
