<div id="page-banner">
  <div id ="merchant-details">
    <%= @merchant.name %>
  </div>
  <div id="merchant-links">
    <%= link_to "Dashboard", merchant_path(@merchant.id), class: "dashboard-link"%>
    <%= link_to 'My Items', merchant_items_path(@merchant.id), class: "items-link" %>
    <%= link_to 'My Invoices', merchant_invoices_path(@merchant.id), class: "invoices-link" %>
    <%= link_to 'My Discounts', merchant_bulk_discounts_path(@merchant.id), class: "discounts-link" %>
  </div>
  <div id ="discount-links">
    <%= link_to 'Create New Discount', new_merchant_bulk_discount_path(@merchant.id), class: "discounts-link" %>
  </div>
</div>
<div id="dashboard-content">
  <div id='discount-list'>
    <% @merchant.bulk_discounts.each do |discount| %>
      <div id="discount-<%= discount.id%>">
        <p>ID: <%= discount.id %></p>
        <p>Discount: <%= discount.percentage %>%</p>
        <p>Quantity Threshold: <%= discount.quantity_threshold %> Items</p>
        <%= link_to 'View Details', merchant_bulk_discount_path(@merchant.id, discount.id) %>
        <%= link_to 'Delete Discount', merchant_bulk_discount_path(@merchant.id, discount.id), method: :delete %>
      </div>

    <% end %>
  </div>
</div>