<%= link_to 'Return to Index', merchants_path %>
<br>
<br>
<h1>Welcome <%= @merchant.name %>!</h1>
<br>
<h3><em>Dashboard</em></h3>
<br>
<h5>Top Customers:</h5>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @top_customers.each_with_index do |customer, idx| %>
      <tr id="customer-<%= customer.id %>">
        <td><%= "#{idx + 1}: #{customer.first_name} #{customer.last_name}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p id="notice"><%= notice %></p>

<%= link_to 'Items', merchant_items_path(@merchant.id), method: :get %>
<%= link_to 'Invoices', merchant_invoices_path(@merchant.id), method: :get %>
