<h1><%= @merchant.name %></h1>

<p><%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %></p>


<h3>Items Ready to Ship</h3>
<% @items_not_shipped.each do |item| %>
  <p><b><%= item["name"] %></b> | Invoiced On: <%= item["invoice_date"].strftime('%A %B %e, %Y') %><br>
  Invoice ID: <%= link_to "#{item["invoice_id"]}","/merchants/#{@merchant.id}/invoices/#{item["invoice_id"]}"  %></p>
<% end %>
