<div class="">
  <h1 class="little_esty_shop">Little Esty Shop</h1>
</div>

<div class="nav_bar_wrapper">
  <h1 class="title_name"><%= @merchant.name %></h1>
  <div class="nav_bar_links">
    <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/merchants/#{@merchant.id}/dashboard", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Items", "/merchants/#{@merchant.id}/items", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></p>
  </div>
</div>

<div class="fifty_fifty">
  <div>
    <h3 class="small_title_wrapper">Items Ready to Ship</h3>
  </div>

  <div>
    <h3 class="small_title_wrapper">Top 5 Customers </h3>
    <% counter = 1 %>
    <% @top_5_customers_array.each do |top_customer| %>
    <% @customers.each do |customer| %>
        <% if top_customer.customer_id == customer.id %>
          <%= counter %>. <%= customer.first_name %>
          <%= customer.last_name %><br/>
          <p> Successful Transactions <%= top_customer.count %></p><br/>
          <% counter += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
