<%= @merchant.name %>
<%= link_to "Merchant Items" ,merchant_items_path(@merchant) %>
<%= link_to "Merchant Invoices", merchant_invoices_path(@merchant) %>
<br>
<h2> Favorite Customers: </h2>
<% @merchant.top_five_customers.each do |customer| %>
  <%= "Name: #{customer.first_name} #{customer.last_name}, Successful Transactions:#{customer.count_of_success}" %><br>
<% end  %>
<h3> Items Ready to be shipped: </h3>
<% @merchant.items_ready_to_ship.each do |item|  %>
<%= "#{item.name} - Invoice# #{item.invoice_id} - #{item.ica.strftime("%A,%B,%d,%Y")}" %> <%= link_to "Invoice Item #{item.invoice_id}", merchant_invoice_path(@merchant.id, item.invoice_id) %> <br>
<% end  %>
