<h1><%= @merchant.name %></h1>

<section id="links">
<%= link_to "My Items", merchant_items_path(@merchant) %>
<%= link_to "My Invoices", merchant_invoices_path(@merchant) %>
</section>

<ol id="top_customers">
  <h2>Top Customers</h2>
  <% @merchant.top_five_customers.each do |customer| %> 
    <li><%= customer.first_name %> <%= customer.last_name %> - Purchases: <%= customer.transaction_count %> </li>
  <% end %> 
</ol>

<ol id="not_yet_shipped">
  <h2>Items Ready to Ship</h2>
  <% @items_not_yet_shipped.each do |invoice_item| %> 
    <li><%= invoice_item.item.name %> - <%= link_to "#{invoice_item.invoice_id}", merchant_invoice_path(invoice_item.invoice_id) %> - <%= invoice_item.invoice.created_at.strftime("%A, %B %d, %Y") %></li>
  <% end %>
