<h1>Edit Bulk Discount</h1>

<%= form_with url: merchant_bulk_discount_path(params[:merchant_id], params[:id]), method: :patch do |form| %>
  <%= form.label "Percentage" %>
  <%= form.text_field :percentage_discount %>
  <%= form.label "Minimum Quantity" %>
  <%= form.text_field :quantity_threshold %>
  <%= form.submit :submit %>
<% end %>