<% @holidays.each do |hday| %>
  <> <%= hday[0] %>: <%= hday[1] %> <>
<% end %>

<h1> Bulk Discounts Available </h1>

<%= link_to 'Create New Discount', new_merchant_bulk_discount_path %>

<% @discounts.each do |offer| %>
<h3> <%= offer.discount %>% </h3>
<p>
<ul>
  <li>"Minimum Threshold: <%= offer.threshold %> items"</li>
  <li>"Discount: <%= offer.discount %>%"</li>
  <li> <%= link_to 'View this Offer', merchant_bulk_discount_path(id: "#{offer.id}") %></li>
  <li> <%= link_to 'Remove this Discount', merchant_bulk_discount_path(id: "#{offer.id}"), method: :delete %></li>
  <ul>
  </p>
<% end %>
