<h1> <%= @merchant.name %> Discounts:</h1>

<ul>
  <% @discounts.each do |discount| %>
  <section id="discounts-<%= discount.id %>">
    <li><h3><%= link_to "#{discount.percentage}", merchant_bulk_discount_path(@merchant.id, discount.id) %>% off <%= "#{discount.quantity_threshold}" %> or more!</h3></li>
      <ul>
        <li><%= link_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %></li>
      </ul>
  </section>
  <% end %>
</ul>

<h2>Upcoming Holidays:</h2>
<ul>
  <% @holidays.each do |holiday| %>
    <li> <%= holiday[:name] %> <%= holiday[:date] %> </li>
  <% end %>
</ul>

<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id) %>
