<h2><%= @merchant.name %> Bulk Discount Index Page</h2>

<div id="link-create-bulk-discount">
  <%= link_to "Create New Bulk Discount for #{@merchant.name}", new_merchant_bulk_discount_path(@merchant) %>
</div>
<br>
<% @merchant.bulk_discounts.each do |bulk_discount|  %>
  <div id="bulk-discount-<%= "#{bulk_discount.id}" %>">
    <%= link_to "Show Page for Bulk Discount ID #{bulk_discount.id}", merchant_bulk_discount_path(@merchant, bulk_discount) %>
    <p><b>Bulk_discount <%= "#{bulk_discount.id}" %> Discount: </b><%= bulk_discount.discount %></p>
    <p><b>Bulk_discount <%= "#{bulk_discount.id}" %> Threshold: </b><%= bulk_discount.threshold %></p>
  </div>
<% end %>