<h1>Bulk Discounts</h1>
<% @bulk_discounts.each do |bulk_discount| %>
  <div id="<%=bulk_discount.id%>">
    <br>
    Bulk Discount: <a href="/merchants/<%= @merchant.id %>/bulk_discounts/<%=bulk_discount.id%>"><%= bulk_discount.id %></a>
    <br>
    Percentage: <%= bulk_discount.percentage %>
    <br>
    Quantity: <%= bulk_discount.quantity %>
    <br>
    <%= link_to 'Delete', "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}", method: :delete %>
  </div>
<% end %>
<br>
<a href="/merchants/<%= @merchant.id %>/bulk_discounts/new">New bulk discount</a>
<br>
<div class="upcoming-holidays">
<h3>Upcoming Holidays</h3>
<ol>
<% @next_3_holidays.each do |holiday| %>
  <li>
<%= holiday.name %>
<%= holiday.date %>
  </li>
<% end %>
</ol>
</div>
