<h1>Bulk Discounts:</h1>

<% @bulk_discounts.each do |discount| %>
  <section id="discount<%= discount.id %>">
    <p><%= discount.id %></p>
    <p><%= discount.quantity_threshold %></p>
    <p><%= discount.percentage %></p>
    <%= link_to "Discount Show Page", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %>
    <%= button_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
  </section>
<% end %>

<%= link_to "Create New Bulk Discount", "merchants/#{@merchant.id}/bulk_discounts/new" %>

<h2>Upcoming Holidays: </h2>

  <p><%= @holidays[:holiday_1][0] %> <%= @holidays[:holiday_1][1] %></p>
  <p><%= @holidays[:holiday_2][0] %> <%= @holidays[:holiday_2][1] %></p>
  <p><%= @holidays[:holiday_3][0] %> <%= @holidays[:holiday_3][1] %></p>
