<h1>New Bulk Discount</h1>

<%= form_with url: merchant_bulk_discounts_path(@merchant.id), method: :post do |form| %>
  <%= form.label "Percentage" %>
  <%= form.text_field :percentage_discount %>
  <%= form.label "Minimum Quantity" %>
  <%= form.text_field :quantity_threshold %>
  <%= form.submit :submit %>

<% end %>