<h1>Create a new discount!</h1>

<%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts", method: :post, local: true do |f| %>
  <%= f.label :percentage %>
  <%= f.number_field :percentage %>

  <%= f.label :quantity_threshold %>
  <%= f.number_field :quantity_threshold %>

  <%= f.submit 'Create Discount' %>
<% end %>
