<h1>New Bulk Discount</h1>


<%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts", method: :post, local: true do |form| %>
  <%= form.label :threshold %>
  <%= form.text_field :threshold %>
  <br>
  <br>
  <%= form.label :discount %>
  <%= form.text_field :discount %>
  <br>
  <br>
  <%= form.label :merchant_id %>
  <%= form.hidden_field :status, value: @merchant.id %>
  <br>
  <br>
  <%= form.submit "Submit" %>
  <% end %>
