<h2>Merchant: <%= @merchant.name %></h2>
<%= link_to "Items", merchant_items_path %><br>
<%= link_to "Invoices", merchant_invoices_path %>


<% @merchant.top_customers.each do |customer| %>
  <p><div id="customer-<%= customer.first_name %>">
  <%= customer.last_name %>
  <%= customer.transaction_count %>
  </div>
  </p>
<% end %>
</div>

<h2>Items Ready To Ship</h2>

  <% @merchant.ready_items.each do |item| %>
    <p><div id="merchants-item-<%= item.name %>">
      <%= item.name %>
      <%= link_to item.invoices.first.id, "/merchants/#{@merchant.id}/invoices/#{item.invoices.first.id}" %>
      <%= item.date_created %>
    </div></p>
  <% end %>
