<h1><%= @merchant.name %></h1>

<section>
  <p><%= link_to "My Items", merchant_items_path(@merchant) %></p>
  <p><%= link_to "My Invoices", merchant_invoices_path(@merchant) %></p>
</section>

<section id="topFive">
  <h2>Favorite Customers</h2>
  <ol>
    <% @top_five_cust.each do |cust| %>
  
    <li><%= "#{cust.first_name} #{cust.last_name} -" %>
    <%= cust.successful_transactions %></li><br>
  
    <% end %> 
  </ol>
</section>

<section id="notShipped">
  <h2>Items Not Shipped</h2>
  <ul>
    <% @not_shipped_items.each do |item| %>
    <li><%= " #{item.name} -  Invoice  "%>
        <%= link_to "#{item.id}", merchant_invoice_path(@merchant, item) %>
        <%= "#{item.created_at.strftime("%A, %B %d, %Y")}" %>  
    </li>
    <% end %>
  </ul>

</section>