<h1>Merchant Dashboard</h1>
<div id="merchant-links">
  <%= link_to "Items", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %>
</div>
<div id ="merchant-details">
  <p><%= @merchant.name %></p>
</div>

<h3>Favorite Customers</h3>
<% @merchant.top_5_customers.each_with_index do |customer, index| %>
    <div id="customer-<%= index %>">
        <%= "#{(index + 1)}. #{customer.first_name} #{customer.last_name} - #{customer.successful_transactions_with_merchant(@merchant)}"%>
    </div>
<% end %>
