<%= @merchant.name %>
<%= link_to "My items", merchant_items_path(@merchant.id) %>
<%= link_to "My invoices", merchant_invoices_path(@merchant.id) %>

<h3>Favorite Customers</h3>
<ol>
<% @merchant.top_5_customers.each do |customer| %>
  <div id="customer<%= customer.id %>">
  <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.transaction_count %> purchases</li>
  </div>
<% end %>
</ol>

<h3>Items Ready to Ship</h3>
<% @merchant.items_not_shipped.each do |item| %>
  <div id="item<%=item.id%>">
    <li><%= item.name %> - Invoice#<%= link_to item.invoice_id, merchant_invoice_path(@merchant.id, item.invoice_id) %> - <%= item.invoice_created.strftime("%A, %B %d,%Y") %></li>
  </div>
<% end %>
