<%= link_to "My Items", "/merchant/#{@merchant.id}/items" %>
<%= link_to "My Invoices", "/merchant/#{@merchant.id}/invoices" %>

<p><%= @merchant.name %></p>

<h3>Items Ready to Ship</h3>
  <section class="inv_items_not_shipped">
  <% @invoice_items.items_not_shipped.each do |inv_item| %>
    <p><%= inv_item.name %> <%= link_to "#{inv_item.id}", "/merchant/#{@merchant.id}/invoices/#{inv_item.id}" %> <%= inv_item.created_at.strftime("%A, %B %d, %Y") %></p>
  </section>
  <% end %>

<section>
  <h3>Top 5 Customers</h3>
  <% @customers.top_five_customers.each do |customer| %>
    <p id="customer-<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %>, <%= customer.transactions.count %> purchase(s)</p>
  <% end %>
</section>
