<h1><%= @merchant.name %>'s Dashboard!</h1>

<%= link_to "Items Index", merchant_items_path %>
<br>
<%= link_to "Invoices Index", merchant_invoices_path %>


<h3>Top 5 Customers:</h3>
<% @merchant.top_customers.each do |customer| %>
    <p><%= customer.first_name%>: <%= customer.top_count %> transaction(s)</p>
<% end %>

<h3>Items Ready to Ship:</h3>
<% @merchant.not_shipped.each do |item| %>
    <p><%= item.name %></p>
        <% item.invoices.each do |invoice| %>
            <%= invoice.id %>
        <% end %>
<% end %>
