<h1>Little Esty Shop</h1>


<h3><%= @merchant.name %></h3>

<%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
<%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>


<section id="top_five_customers">
  <h3>Top Five Customers</h3>
  <ol>
    <% @merchant.top_five_customers.each do |customer| %>
    <li>
      Customer: <%= customer.full_name %> Total Transactions: <%= customer.total_transactions %>
    </li>
    <% end %>
  </ol>
</section>
