<h1><%= @merchant.name %> Show</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Back', merchants_path %>
<%= link_to 'Items', merchant_items_path(@merchant.id), method: :get %>
<%= link_to 'Invoices', merchant_invoices_path(@merchant.id), method: :get %>


