<%= @merchant.name %>
<%= link_to "My items", merchant_items_path(@merchant.id) %>
<%= link_to "My invoices", merchant_invoices_path(@merchant.id) %>

<% @merchant.top_5_customers.each do |customer| %>
  <div id="customer<%= customer.id %>">
  <p><%= customer.first_name %> <%= customer.last_name %> <%= customer.transaction_count %></p>
  </div>
<% end %>

<h3>Items Ready to Ship</h3>
<% @merchant.items_not_shipped.each do |item| %>
  <% item.invoice_items.each do |invoice_item| %>
  <p><%= item.name %>-Invoice#<%= link_to invoice_item.id, merchant_invoice_path(@merchant.id, invoice_item.id) %></p>
  <% end %>
<% end %>
