<h1><%= @merchant.name %></h1>
<ul>
  <%= link_to "Merchant Items", merchant_items_path(params[:merchant_id]) %><br>
  <%= link_to "Merchant Invoices", merchant_invoices_path(params[:merchant_id]) %>
</ul>

<div id="top_customers">
<h3>Favorite Customers:</h3>
  <% @merchant.customers.top_customers.each do |customer| %>
    <p>
      <strong>Customer:</strong> <%="#{customer.full_name}"%> - <strong>Total Transactions:</strong> <%="#{customer.total_count}"%>
    </p>
  <% end %>
</div>
<hr>

<h3>Items Ready to Ship:</h3>
<% @merchant.items_ready_to_ship.each_with_index do |invoice_item, index| %>
  <div id="items_to_ship-<%= invoice_item.id %>">
    <p><%= invoice_item.item.name %>
    Invoice ID: <%= link_to "#{invoice_item.invoice.id}", merchant_invoices_path(params[:merchant_id]) %>
    Created At: <%= invoice_item.invoice.created_at.strftime("%A, %B %e, %Y") %></p>
  </div>
<% end %>
<hr>

