<h1>Merchant Dashboard</h1>
<div id="merchant-links">
  <%= link_to "Items", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %>
</div>
<div id ="merchant-details">
  <p><%= @merchant.name %></p>
</div>

<h1> Favorite Customers </h1>
  <ol>
    <% @merchant.top_5_customers.each_with_index do |customer, index| %>
    <div id="customer-<%= index %>">
      <li><%= customer.name %> - <%= customer.trans_count %></li>
    <% end %>
  </ol>
</div>
