<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='mr-auto col-sm-5'>Incomplete Invoices</p>
  </div>
</body>

<section id = "items_ready_to_ship" >
  <p><% @merchant.items_to_ship.each do |item| %>
        <%= item.name %> - Invoice #<%= link_to "#{item.invoice_ids}", "/merchant/#{@merchant.id}/invoices/#{item.id}" %><br>
        <%= item.created_at.strftime("%A, %B %-d, %Y") %> 
     <% end %>
  </p>
</section>
