<h1>Little Esty Shop</h1>
<h3><%= link_to "My Items", "/items/index" %></h3>
<h3><%= link_to "My Invoices", "/invoices/index" %></h3>
<h3><%= @merchant.name %></h3>
<h3><% @merchant.best_customers.each do |cust| %>
  <% if cust.total_success > 1 %>
    <%= cust.find_customer_name_for_merchant + ": #{cust.total_success} successful transactions" %><br>
  <% else %>
    <%= cust.find_customer_name_for_merchant + ": #{cust.total_success} successful transaction" %><br>
  <% end %>
<% end %><br>
<ul><% Merchant.items_ready_to_ship(@merchant.id).each do |item| %>
  <li><%= item.name + " - Invoice ID's: "%>
  <% @merchant.items_ready_to_ship_id(@merchant.id, item.name).each do |id| %>
    <%= link_to "#{id}", "invoices/#{id}" %>
  <% end %></li>
</ul><% end %>
</h3>
