<%= link_to "My Items", "/merchant/#{@merchant.id}/items" %>
<%= link_to "My Invoices", "/merchant/#{@merchant.id}/invoices" %>

<p><%= @merchant.name %></p>

<section>
  <h3>Items Ready to Ship</h3>
  <% @items.ordered_items_no_ship.each do |item| %>
    <p id="item-<%= item.id %>">
      <%= item.name %>
    </p>
  <% end %>
</section>

<section>
  <h3>Top 5 Customers</h3>
  <% @customers.top_five_customers.each do |customer| %>
    <p id="customer-<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %>, <%= customer.transactions.count %> purchase(s)</p>
  <% end %>
</section>
