<h1><%= @merchant.name %>'s Dashboard </h1>
<section>
<%= link_to "Merchant Items Index", "/merchants/#{@merchant.id}/items" %>
<%= link_to "Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices" %>
</section>

<section id="top_five">
  <h3>Top 5 Customers</h3>
  <% @merchant.top_five_customers_by_successful_transaction_count.each do |customer| %>
  <p> <%= customer.full_name %></p>
  <% end %>
</section>

<section id="ready_to_ship">
  <h3>Items Ready To Ship</h3>
    <% @invoice_items.ready_to_ship.each do |invoice_item| %>
      <p><%= invoice_item.item.name %>
      <%= link_to "Invoice ##{invoice_item.invoice.id}", merchant_invoice_path(@merchant.id, invoice_item.invoice.id) %></p>
    <% end %>
</section>
