<% stylesheet_link_tag "merchant_items_index" %>
<h2><%= "#{@merchant.name}" %></h2><br>
<h2><%= link_to "Create New Item", new_merchant_item_path(@merchant.id) %></h2><br>
<div id="items">
  <div class="items">
    <div class="items-left">
      <div id="enabled_items">
        <h3>Enabled Items:</h3><br>
          <% @enabled_items.each do |item| %>
            <div id="item_id-<%= item.id %>">
              <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
              <%= "Status: #{item.status}" %>
              <%= button_to "Disable/Enable", merchant_item_path(@merchant.id, item.id), method: :patch, params: {swap: "true", status: item.status} %>
              <br>
            </div>
          <% end %>
      </div>
    </div>

    <div class="items-center">
      <div id="disabled_items">
        <h3>Disabled Items:</h3><br>
          <% @disabled_items.each do |item| %>
            <div id="item_id-<%= item.id %>">
              <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
              <%= "Status: #{item.status}" %>
              <%= button_to "Disable/Enable", merchant_item_path(@merchant.id, item.id), method: :patch, params: {swap: "true", status: item.status} %>
              <br>
            </div>
          <% end %>
      </div>
    </div>

    <div class="items-right">
      <div id="top_5_items">
        <h3>Top 5 Items by Revenue:</h3><br>
          <% @top_5_items.each.with_index(1) do |item, i| %>
            <div id="item_id-<%= item.id %>">

              <h3><%= "#{i}." %> <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id)%><%= ", Revenue: $#{item.invoice_items.revenue}, Best Sales Date: #{item.item_top_sales_dates.to_formatted_s(:admin_invoice_date)}" %></h3>
              <br>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>