<p> <%= link_to "Merchant items", "/merchants/:merchant_id/items" %> </p>
<p> <%= link_to "Merchant invoices", "/merchants/:merchant_id/invoices"%> </p>

<% @merchants.each do |merchant| %>
<h1> <%= merchant.name %></h1>
<% end %>

<h2> Top 5 customers </h2>
<% @top_customers.each do |customer| %>
<p><%= customer.first_name %> <%= customer.last_name %> transaction: <%= customer.success_count %> </p>
<% end %>


<h3> Items Ready to Ship </h3>
<% @merchant.items_not_shipped.each do |merchant_invoice_item| %>
<p>Item name: <%= merchant_invoice_item.item.name %> Invoice_id: <%= link_to "#{merchant_invoice_item.id}" %>  </p>
<% end %>
