<h1><%= @merchant.name %></h1>
<div id="index-buttons">
  <%= button_to 'Items Index', merchant_items_path(@merchant), method: :get %>
  <%= button_to 'Invoices Index', merchant_invoices_path(@merchant), method: :get %>
</div>

<div id="top-customers">
  <% @customers.each do |customer| %>
    <strong><p><%= customer.first_name %></p></strong>
    Succsessful transactions: <%= customer.succsessful_transaction_count %>
  <% end %>
</div>
