<%= link_to "Admin Merchants Index", "/admin/merchants" %>
<%= link_to "Admin Invoices Index", "/admin/invoices" %><br>

<h1>Admin Dashboard</h1>


<div id="top-5-customers">
<h2>Top 5 Customers by Total Number of Transactions:</h2>
  <% @customers.top_five_by_transaction_count.each do |customer| %>
      <p>Name: <%= customer.first_name %> <%= customer.last_name %></p>
      <p><%= customer.total_transaction_count %> successful transactions</p>
      <hr>
  <% end %>
</div>
