<h2>
  For customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %>
</h2>

<hr/>

<h3>
  Invoice status: <%= @invoice.status %>
</h3>

<p>
  Invoice created at: <strong><%= @invoice.created_at.strftime('%A, %B %d, %Y') %></strong>
</p>

<hr/>
<div id="invoice_items">
  <h1> Invoice Items </h1>
  <hr/>
  <% @invoice.invoice_items.each do |ii| %>
  <div id="ii-<%= ii.id %>">
    <h2><%= ii.item.name %></h2>
    <p>Quantity: <strong><%= ii.quantity %></strong></p>
    <p>Sold for: <strong>$<%= ii.unit_price / 100.0 %></strong> each</p>
    <% if ii.has_discount? %>
      <%= link_to "Bulk discount applied", "/merchants/#{ii.merchant.id}/bulk_discounts/#{ii.bulk_discount.id}" %>
    <% end %>
    <p>Status: <strong><%= ii.status %></strong></p>
    <p>Status:<%= form_with url: "/merchants/#{ii.merchant.id}/invoice_items/#{ii.id}", method: :patch, local: true do |f| %>
      <%= f.select(:status, ['pending', 'packaged', 'shipped'], selected: "#{ii.status}") %>
      <%= f.submit "Update" %>
      <% end %>
    </p>
  </div>
<% end %>

<div id="total_revenue">
  <h1> Total: <%= number_to_currency(@invoice.invoice_total / 100.0) %> </h1>
</div>

<h3> Discounted Revenue: <%= number_to_currency(@invoice.discounted_revenue / 100.0) %> </h3>
