<h1>Invoice Number: <%= @invoice.id %></h1>

<u><h2>Invoice Details</h2></u>
<p>Status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.created_at.strftime("%A, %B %e, %Y") %></p>
<p>Customer Name: <%= @invoice.customer.full_name %></p>

<h2>Invoice Items:</h2>

<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">
    <u><h3><%= invoice_item.item.name %></h3></u>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Price: <%= number_to_currency(invoice_item.unit_price.fdiv(100)) %></p>
    <p>Status: <%= invoice_item.status %></p>
  </div>
<% end %>
