<h2>Invoice #<%= @invoice.id %></h2>
<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Total Revenue: $<%= @invoice_items.total_revenue %></p>

<h2>Customer:</h2>
<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<h2>Items on this Invoice:</h2>
<% @invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">
    <h3>Item Name: <%= invoice_item.item.name %></h3>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Unit Price: <%= invoice_item.unit_price %></p>

    <%= form_with url: "/merchant/#{@merchant.id}/invoices/#{@invoice.id}/invoice_items/#{invoice_item.id}", method: :patch do |form| %>
      <%= form.label :status, "Status: " %>
      <%= form.select :status, options_for_select(["pending", "packaged", "shipped"], selected: "#{invoice_item.status}") %>
      <%= form.submit "Update Item Status" %>
    <% end %>
  </div>
<% end %>
