<h1>Merchant's Invoice Show Page</h1>

<p><b>Invoice ID: </b><%= @invoice.id %></p>
<p><b>Invoice Status: </b> <%= @invoice.status %></p>
<p><b>Customers Name: </b><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %>
<p><small>Created At: <%= @invoice.custom_date %></p></small>

<section id="items" >
  <h3>Item List:</h3>
  <ul>
  <% @invoice.unique_items.each do |item| %>
    <div id="item-<%= item.id %>">
    <li><p><b>Name: </b><%= item.name %></p></li>
    <li><p><b>Quantity: </b><%= @invoice.item_quantity(item) %></p></li>
    <li><p><b>Price: </b><%= item.unit_price %></p></li>
    <li><p><b>Status: </b><%= item.status %></p></li>
    <%= form_with model: @item, local: true do |form| %>
      <%= form.label :update_status %>
      <%= form.submit "Update Item Status" %>
    <% end %>
    </div><br>
  <% end %>
  <p><b>Total Revenue: </b><%= @invoice.total_invoice_revenue %></p>
  </ul>
</section>

