<h2>Invoice Id: <%= @invoice.id %> Show Page </h2>

<div id="invoice-info">
  <p><%= @invoice.id %></p>
  <p><%= @invoice.status %></p>
  <p><%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <p><%= @invoice.customer.first_name %></p>
  <p><%= @invoice.customer.last_name %></p>

<div id="invoice-items-info">
  <% @invoice.items.each do |item| %>
    <p><%= item.name %></p>
    <p><%= item.unit_price %></p>
    <p><%= item.quantity_purchased(@invoice.id) %></p>
    <p><%= item.shipping_status(@invoice.id) %></p>
  <% end %>
</div>

