<h1>Invoice Information</h1>

<p>ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Created: <%= @invoice.created_at_date %></p>
<p>First Name: <%= @invoice.customer.first_name %></p>
<p>Last Name: <%= @invoice.customer.last_name %></p>
