<h1><center> Merchant Invoice Information</center> </h1>
<hr>
<p><strong>Invoice ID: </strong><%= @invoice.id %> </p>
<br>
<p><strong>Customer Name: </strong> <%= @invoice.customer.first_name%> <%= @invoice.customer.last_name %></p>
<p><strong>Invoice Status: </strong><%= @invoice.status %></p>
<p><strong>Created at: </strong><%= @invoice.created_at.strftime('%A, %B %d, %Y')%> </p>
<p><strong>Total Revenue: </strong><%= @invoice.total_revenue %></p>
<br>
<br>

<p><h4>Invoice Items Ordered: </h4></p>
<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">
  <p><strong>Name: </strong><%= invoice_item.item.name %></p>

  <p><strong>Unit Price: </strong><%= invoice_item.unit_price %></p>
  <p><strong>Quantity: </strong><%= invoice_item.quantity %></p>
  <p><strong>Status: </strong><%= invoice_item.status %></p>
  <%= form_with url:invoice_item_path(invoice_item.id), method: :patch, local: true do |f| %>
    <%= f.label :status, "pending" %>
    <%= f.radio_button :status, "pending", :checked => invoice_item.status == "pending" %>
    <%= f.label :status, "packaged" %>
    <%= f.radio_button :status, "packaged", :checked => invoice_item.status == "packaged" %>
    <%= f.label :status, "shipped" %>
    <%= f.radio_button :status, "shipped", :checked => invoice_item.status == "shipped" %>
    <%= f.submit "Update Item Status" %>
    <hr>
  <br>
  <br>
  <% end %>
  </div>
<% end %>
<br>





