<h1>Invoice Show Page</h1>

<p>ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Created At: <%= @invoice.created_at.strftime("%A, %B %e, %Y") %></p>

<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %>

<% @invoice_items.each do |item| %>
  <div id="invoice-item-<%= item.id %>">
    <%= form_with url: "/invoice_items/#{item.invoice_where(@invoice.id).id}", method: :patch, local: true do |form| %>
      <p>Name: <%= item.name %></p>
      <p>Unit Price: <%= format_price(item.sale_price) %></p>
      <p>Status: <%= item.stat %></p>
      <%= form.select :status, display_and_order(@statuses, item.stat) %><%= form.submit "Update Item Status" %>
      <p>Quantity: <%= item.item_quantity %></p>
    <% end %>
  </div>
<% end %>

<p> Total Revenue: <%= format_price(@total_revenue) %></p>


