
<h1>Invoice <%= @invoice.id %> Information </h1>

<ul>
    <li>Invoice: <%= @invoice.id %></li>
    <li>Invoice Status: </li>
    <%= render partial: './invoice_status_form', locals: { path: merchant_invoice_path(@merchant, @invoice), 
                                            method: :patch,
                                            label: :status,
                                            options: ['cancelled', 'in progress', 'completed'],
                                            selected: @invoice.status,
                                            submit: "Update Invoice Status" } %> 
       
    <li>Created: <%= "#{@invoice.created_at.strftime("%A,%B %d, %Y")}" %></li>
    <li>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></li>
</ul>


<h3>Invoice Item Information<h3>

<% @invoice_items.each do |invoice_item|%>
<ul>
    <li>Item Name: <%= invoice_item.item.name %></li>
    <li>Item Quantity: <%= invoice_item.quantity %></li>
    <li>Item Sold For: $<%= invoice_item.unit_price %></li>
    <li>Item Status: <%= invoice_item.status %></li>
</ul>
<% end %>


<h3>Total Revenue for Invoice <%= "#{@invoice.id}" %>: $<%= "#{@invoice.total_revenue}" %></h3>
