<h1><center> Merchant Invoice Information</center> </h1>
<hr>
<p><strong>Invoice ID: </strong><%= @invoice.id %> </p>
<br>
<p><strong>Customer Name: </strong> <%= @invoice.customer.first_name%> <%= @invoice.customer.last_name %></p>
<p><strong>Invoice Status: </strong><%= @invoice.status %></p>
<p><strong>Created at: </strong><%= @invoice.created_at.strftime('%A, %B %d, %Y')%> </p>



