<h1>Invoice #<%= @invoice.id %>:</h1>

<h2>Total Revenue from this Invoice:</h2>

<h2>Status:</h2>
<p><%= @invoice.status_for_view %></p>

<h2>Date of Creation:</h2>
<p><%= @invoice.convert_create_date %></p>

<h2>Customer Name:</h2>
<p><%= @customer.first_name %> <%= @customer.last_name %></p>

<h1>Items:</h1>

<% @invoice_items.each do |invoice_item| %>
  <% if invoice_item.item.merchant == @merchant %>
    <section id="<%=invoice_item.id%>">
      <h3><%= invoice_item.item_name %></h3>
      <p>Quantity:<%= invoice_item.quantity %></p>
      <p>Unit Price:<%= invoice_item.unit_price %></p>
      <p>Status:<%= invoice_item.status %></p>
      <%= form_with url: "/merchants/#{@merchant.id}/invoice_items/#{invoice_item.id}", method: :patch do |form| %>
        <%= form.select :status, [["Pending", 0], ["Packaged", 1], ["Shipped"], 2], selected: invoice_item.status_for_view %>
        <%= form.submit 'Update Item Status' %>
      <% end %>
    </section>
  <% end %>
<% end %>
