<section id="invoice-info">
  <h1>Invoice # <%= @merchant_invoice.id %></h1>

  <p>Status: <%= @status_format %></p>
  <p>Created on: <%= @merchant_invoice.date_format %></p>
</section>
<section id="invoice-customer-info">
  <h2>Customer:</h2>
  <p><%= @merchant_invoice.customer.name %></p>
</section>

<section id="invoice-items-info">
  <h3>Items on this Invoice: </h3>
  <table>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
    </tr>
    <% @merchant_invoice.invoice_items.each do |invoice_item| %>
      <tr id="invoice-items-<%= invoice_item.id %>-info">
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= invoice_item.unit_price %></td>
        <td><%= invoice_item.status %></td>
      </tr>
    <% end %>
  </table>
</section>
