<h1><%="#{@merchant.name} - Invoice # #{@invoice.id}" %></h1>

<section id="invoice-info">
  <h3>Invoice Info:</h3>
  <p><%= "Status: #{@invoice.status}" %></p>
  <p><%= "Created At: #{@invoice.created_at.strftime("%A, %B %d, %Y")}" %></p>
</section>

<section id="customer-info">
  <h3>Customer Info:</h3>
  <p><%= "First name: #{@invoice.customer.first_name}" %> </p>
  <p><%= "Last name: #{@invoice.customer.last_name}" %> </p>
</section>
 
<section id="invoice_item-info">
  <h3>Invoice Item Info:</h3>
  <% @invoice.invoice_items.each do |inv_item| %>
  <ul>
    <li><%= "Invoice item name: #{inv_item.item.name}" %></li>
    <li><%= "Invoice item quantity: #{inv_item.quantity}" %></li>
    <li><%= "Invoice item price: #{inv_item.unit_price}" %></li>
    <li><%= "Invoice item status: #{inv_item.status}" %></li>
</ul>
  <% end %>
</section>

<section id="total-revenue">
  <h3><%= "Total revenue from invoice: #{@invoice.total_revenue}" %></h3>
</section>