<h1>Merchant's Invoice Show Page</h1>

<p><b>Invoice ID: </b><%= @invoice.id %></p>
<p><b>Invoice Status: </b> <%= @invoice.status %></p>
<p><b>Customers Name: </b><%= @invoice.customer.full_name %>
<p><small>Created At: <%= @invoice.custom_date %></p></small>

<section id="items" >
  <h3>Item List:</h3>
  <ul>
  <% @invoice.unique_items.each do |item| %>
    <div id="item-<%= item.id %>">
    <li><p><b>Name: </b><%= item.name %></p></li>
    <li><p><b>Quantity: </b><%= @invoice.item_quantity(item) %></p></li>
    <li><p><b>Price: </b><%= item.unit_price %></p></li>
    <li><%= form_with model: @item do |form| %>
      <p><b>Status: </b><%= form.select(:status, [['disabled', 0], ['enabled', 1]],{}) %>
    <% end %></p></li>
    </div><br>
  <% end %>
  <p><b>Total Revenue: </b><%= @invoice.total_invoice_revenue %></p>
  </ul>
</section>

