<h1>Invoice ID: <%=@invoice.id %></h1>

<p>Invoice Status: <%=@invoice.status %></p>
<p>Invoice Created at: <%=@invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer: <%=@invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<br>

<% @invoice.invoice_items.each do |ii| %>
<div id="invoice_item-<%= ii.item.id %>">
	<p> Item: <%= ii.item.name %></p>
	<p> Quantity: <%= ii.quantity %></p>
	<p> Price: $<%= sprintf("%.2f", (ii.unit_price/100.00))%></p>
<%= form_with model: ii, url: merchant_invoice_path(@merchant, @invoice), method: :patch  do |f|%>
<h2>Item Status: <%= f.select(:status, InvoiceItem.statuses.keys, selected: "#{ii.status}") %>
<%= f.hidden_field :ii_id, value: ii.id %>
<%= f.submit 'Update Item Status'%>
<%end%> </h2>	
<br>
</div>
<% end %>

<p> Total Revenue: $<%= sprintf("%.2f", (@invoice.total_revenue/100.00))%></p>

