<%= render partial: "layouts/merchant_header", locals: {page_name: @merchant.name, merchant_id: @merchant.id}%>

<h3><%= @merchant.name %>: Information for Invoice #<%= @invoice.id %></h3>
<p>Invoice: <%=@invoice.id%></p>
<p>Status: <%=@invoice.status%></p>
<p>Created On: <%=@invoice.created_at.strftime("%A, %B%e, %Y")%></p>
<p>Customer: <%=@invoice.customer.first_name%> <%=@invoice.customer.last_name%></p>

<b>Items from <%= @merchant.name %> on this invoice:</b>
<% @invoice.items.each do |item| %>
  <% if @merchant.id == item.merchant_id %>
    <p>Item Name: <%= item.name %></p>
    <p>Quantity: <%= @invoice.invoice_item(item.id).quantity %></p>
    <p>Selling Price: $<%= @invoice.invoice_item(item.id).unit_price %> per unit</p>
    <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
      <%= form.hidden_field :invoice_item_id, value: "#{@invoice.invoice_item(item.id).id}" %>
      <%= form.label "Status: " %>
      <%= form.select :status, options_for_select([["Pending", "pending"], ["Packaged", "packaged"], ["Shipped", "shipped"]], @invoice.invoice_item(item.id).status) %>
      <%= form.submit "Update Item Status" %>
    <% end %>
    ----------------------------------------
  <% end %>
<% end %>

<p>"Total revenue for invoice <%=@invoice.id%>: $<%=@total_revenue%></p>

