<h1>Invoice Information</h1>

<p>ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Created: <%= @invoice.created_at_date %></p>
<p>First Name: <%= @invoice.customer.first_name %></p>
<p>Last Name: <%= @invoice.customer.last_name %></p>


<h3>Invoice Item Information</h3>
<p>Name: <%= @invoice.invoice_items.first.item.name %></p>
<p>Quantity: <%= @invoice.invoice_items.first.quantity %></p>
<p>Price: $<%= @invoice.invoice_items.first.item.unit_price %>.00</p>

<p>Status: <%= @invoice.invoice_items.first.status %></p>
