<h2>Invoice Id: <%= @invoice.id %> Show Page </h2>


<div id="invoice-revenue">
  <p>Total Invoice Revenue: <%= @invoice.items.total_revenue_of_all_items %></p>
</div>

<div id="invoice-merchant-revenue">
  <p> Total Merchant Invoice Revenue: <%= @invoice.total_revenue_merchant(@merchant.id)  %></p>
</div>

<div id="invoice-discounted-revenue">
  <p> Total Merchant Invoice Discounted Revenue: <%= @invoice.revenue_with_discount(@merchant.id) %></p> 
</div>

<div id="invoice-info">
  <p>Invoice Id: <%= @invoice.id %></p>
  <p>Invoice Status: <%= @invoice.status %></p>
  <p>Invoice Created: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <p>Customer Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</div>

<div id="invoice-items-info">
  <% @invoice.items.each do |item| %>
    <p>Item Name: <%= item.name %></p>
    <p>Item Price: <%= item.unit_price %></p>
    <p>Item Quantity: <%= item.quantity_purchased(@invoice.id) %></p>
    <p>Item Shipping Status: <%= item.shipping_status(@invoice.id) %>  </p>
    <%= form_with model: [@merchant, @invoice], local: true do |form| %>
      <%= form.label :item_id %>
      <%= form.hidden_field :item_id, value: "#{item.id}" %>
      <%= form.label :status, "Invoice Item Status: " %>
      <%= form.select :status, [["Pending", :pending], ["Packaged", :packaged], ["Shipped", :shipped]], selected: "#{item.shipping_status(@invoice.id)}" %>
      <%= form.submit "Update Item Status" %>
    <% end %>
    <br>
    <%= link_to "#{item.name} Bulk Discount Page", merchant_bulk_discount_path(@merchant, item.applied_discount(item.id)) %>
  <% end %>
</div>

