<h2><%= @merchant.name %>'s Invoice:</h2>

<h3>Invoice #<%= @invoice.id %> </h3>
  <p>Status: <%= @invoice.status%></p>
  <p>Created at: <%= @invoice.formatted_date %></p>
  <p>Customer: <%= @invoice.customer.full_name %></p>
  
  <%# <%= link_to "Edit #{item.name}", "/merchants/#{merchant.id}/#{item.id}", method: :patch %>
  <%# <%= link_to "Delete #{vet.name}", "/merchants/#{merchant.id}/#{item.id}", method: :delete %>
