

<%= @invoice.id %>
<%= @invoice.status %>
<%= @invoice.created_at.strftime("%A, %B %-d, %Y") %>

<h3>Customer Information</h3>
<%= @customer.first_name %>
<%= @customer.last_name %>

<h3>Item Information</h3>
<%= @invoice_item.item.name %>
<%= @invoice_item.quantity %>
<%= @invoice_item.unit_price %>
<%= @invoice_item.status %>
<%= @invoice.total_revenue %>

<%= form_with model: @invoice, url: merchant_invoice_path(@merchant, @invoice), method: :patch do |f| %>
  <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
  <%= f.submit 'Update Invoice' %>
<% end %>
