<h1>Invoice</h1>

<p>ID:<%= @invoice.id %></p>
<p>Status:<%= @invoice.status %></p>
<p>Created at:<%= @invoice.created_at %></p>
<p>Customer:<%= @invoice.customer.first_name %> <%= @invoice.customer.last_name%></p>

<section id="all_invoice_items">
    <h3>Items</h3>
    <% @invoice.invoice_items.each do |invoice_item| %>
        <ul>
        <div id="Invoice-Item-<%= invoice_item.id %>">
            <%= invoice_item.item.name %>
            <li><%= invoice_item.quantity %></li>
            <li><%= invoice_item.unit_price %></li>
            <li><%= invoice_item.status %></li>
        <div>
        </ul>
    <% end %>
</section>
