<p>Invoice ID: <%= @invoice.id %><br></p>
<p>Status: <%= @invoice.status %><br></p>
<p>Date of Creation: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %><br></p>
<p>Customer First Name: <%= @customer.first_name %><br></p>
<p>Customer Last Name: <%= @customer.last_name %><br></p>
<p>Total Revenue: <%= @invoice.invoice_items.total_revenue %></p>
