<h1>Invoice Information</h1>

<p>ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Created: <%= @invoice.created_at_date %></p>
<p>First Name: <%= @invoice.customer.first_name %></p>
<p>Last Name: <%= @invoice.customer.last_name %></p>

<h3>Invoice Item Information</h3>
<% @invoice.invoice_items.each do |item| %>
  <div id="<%= item.id %>">
  <p>Name: <%= item.item.name %></p>
  <p>Quantity: <%= item.quantity %></p>
  <p>Price: <%= number_to_currency(item.unit_price) %></p>
  <p>Status: <%= item.status %></p>
  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch do |f| %>
    <%= f.select :status, ['pending', 'packaged', 'shipped'], selected: item.status %>
    <%= hidden_field_tag "invoice_item_id", "#{item.id}" %>
  <%= f.submit 'Update Item Status' %>
  <% end %>
<p>--------------</p>
</div>
<% end %>
<p>Total Revenue: <%= number_to_currency(@invoice.total_revenue) %></p>
