<h1><center> Merchant Invoice Information</center> </h1>
<hr>
<p><strong>Invoice ID: </strong><%= @invoice.id %> </p>
<br>
<p><strong>Customer Name: </strong> <%= @invoice.customer.first_name%> <%= @invoice.customer.last_name %></p>
<p><strong>Invoice Status: </strong><%= @invoice.status %></p>
<p><strong>Created at: </strong><%= @invoice.created_at.strftime('%A, %B %d, %Y')%> </p>
<br>
<br>

<p><h4>Invoice Items Ordered: </h4></p>
<% @invoice.items.each do |item| %>
  <p><strong>Name: </strong><%= item.name %></p>
  <% item.invoice_items.each do |invoice_item| %>
  <p><strong>Unit Price: </strong><%= invoice_item.unit_price %></p>
  <p><strong>Quantity: </strong><%= invoice_item.quantity %></p>
  <p><strong>Status: </strong><%= invoice_item.status %></p>
  <% end %>
<% end %>





