<p><b>ID: </b><%= @invoice.id %></p>
<p><b>Status: </b><%= @invoice.status %></p>
<p><b>Created: </b><%= @invoice.created_at.strftime("%A, %B %e, %Y")  %></p>
<p><b>Customer: </b><%= @invoice.customer.full_name %></p>

<h2>Items: </h2>
<% @items.each do |item| %>
  <div id="item-<%= item.id %>">
    <p><b>Name: </b><%= item.name %></p>
    <p><b>Price: </b><%= "#{item.unit_price}¢" %></p>
    <p><b>Quantity: </b><%= item.invoice_items.first.quantity %></p>
    <p><b>Status: </b><%= item.invoice_items.first.status %><br> 
    <%= form_with url: merchant_invoice_path(@merchant, @invoice), method: :patch, local: true do |f| %>
    <%= f.hidden_field :invoice_item_id, value: item.invoice_items.first.id %>
    <%= f.label :status %><br>
    <%= f.select :status, item.invoice_items.statuses.keys, :selected => item.invoice_items.first.status %>
    <%= f.submit 'Update Item Status'%>
<% end %></p>
  </div> 
<% end %>
<br>

<div id="total_invoice_revenue">
  <p><b>Total Invoice Revenue: </b><%= @invoice.total_revenue(@merchant) %>
  <p>Total Invoice Revenue with Discounts: <%= @invoice.revenue_with_discount(@merchant) %>
</div>
