<h1>Invoice: <%=@invoice.id%> </h1>

<p>Invoice Status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.created_at.strftime( "%A, %B, %d, %Y") %></p>
<p>Customer first name: <%= @invoice.customer.first_name %></p>
<p>Customer last name: <%= @invoice.customer.last_name %></p>

<p><b>Invoice Items</b></p>
<% @invoice.invoice_items.each do |invoice_item|%>
<div id="item_invoice-<%=invoice_item.id %>">
<p>Item name: <%=invoice_item.item.name %></p>
<p>Price: <%=number_to_currency(invoice_item.item.unit_price) %></p>
<p>Quantity: <%=invoice_item.quantity %></p>
 
 <p>Status: <%= form_with url: "/merchants/#{invoice_item.item.merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
 <%= f.select :status, ['pending', 'packaged', 'shipped'], selected: invoice_item.status %>
  <%= hidden_field_tag "invoice_item_id", "#{invoice_item.id}" %>
  <%= hidden_field_tag "merchant_id", "#{invoice_item.item.merchant.id}" %>
   <%= hidden_field_tag "invoice_id", "#{@invoice.id}" %>
  <%= f.submit "Update Item Status" %>
  <% end %>

</div>
<% end %>

<p>Total Revenue: <%=number_to_currency(@invoice.total_revenue)%></p>