<h1>My Discounts</h1>

<% @discounts.each do |discount| %>
<%= link_to "Discount ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %><br>
  <p>Discount Percentage: <%= discount.discount_percentage %>% -
  Discount Quantity Threshold: <%= discount.quantity %></p>
<% end %>

<h1>Upcoming Holidays</h1>
<% UpcomingHolidaysServices.new.holidays.each do |holiday| %>
  <p><%= holiday[:date] %> - <%= holiday[:name] %>
<% end %>
