<h1>All Discounts</h1>
<div style='margin-left:20px'>
<% @discounts.each do |discount| %>
<div id="discount_<%=discount.id %>">
  <p>Discount #<%= discount.id %></p>
  <p>Percentage Off: %<%= discount.percentage_discount %></p>
  <p>Quantity of Items: <%= discount.quantity_threshold %></p>
  <p><%= link_to "View this Discount", merchant_bulk_discount_path(@merchant, discount.id) %></p>
  <p><%= button_to "Delete", merchant_bulk_discount_path(@merchant, discount.id) ,method: :delete %></p>

</div>
<% end %>

<p><%= link_to "Create a New Discount", new_merchant_bulk_discount_path(@merchant) %></p>
</div>

