<h1><%= "#{@merchant.name}'s bulk discounts" %> </h1><br>
<% @merchant.bulk_dicounts.each_with_index do | discount, index | %>
  <div id="bulk_discount-<%= index %>">
    <h4>Name: <%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant.id, discount.id) %> </h4><br>
    <h4>Discount: <%= discount.display_discount %>%</h4><br>
    <h4>With purchase of <%= discount.quantity_threshold %> or more</h4><br><br>
  </div>
<% end %>
