<h1>New Merchant Bulk Discount Page</h1>

<%= form_with model: [@merchant, @new_discount] do |f| %>
  <%= f.label :discount_percent, "Discount Percent" %>
  <%= f.number_field :discount_percent, in: 1..99, step: 1 %>
  <%= f.label :quantity_threshold, "Quantity Threshold" %>
  <%= f.number_field :quantity_threshold, min: 1, step: 1 %> 
  <%= f.submit "Add new discount" %>
<% end %>