<h1>Admin Dashboard</h1>

<%= link_to "Admin merchants index", admin_merchants_path %>
<%= link_to "Admin invoices index", admin_invoices_path %>

<p>Top 5 Customers:</p>
<% @customers.each do |customer| %>
<%= "#{customer.first_name} #{customer.last_name}"  %>, Succesful Transactions: <%= customer.transactions.length %></p>
<% end %>

<h1> Incomplete Invoices </h1>
<% @invoices.each do |inv| %>
Invoice #<%= link_to "#{inv.id}", admin_invoice_path(inv.id) %> Created at: <%= inv.created_at.strftime("%A, %B %d %Y") %>
<% end %>
