<h2>Admin Dashboard</h2><br>

<%= link_to "Admin Merchants Index", 'admins_merchants_path' %><br>
<%= link_to "Admin Invoices Index", 'admins_invoices_path' %><br>

<h3>Top Customers</h3>
<% @top_five_customers.each do |customer| %>
  <section id="top_customers-<%=customer.id%>">
  <div><%= customer.name %>: Successful Transactions: <%= customer.successful_count %></div><br>
  </section>
<% end %>

<h3>Incomplete Invoices</h3>
<ul id="incomplete_invoices">
<% @invoice_items.incomplete_invoices.each do |invoice_item| %>
  <section id="created_at_incomplete_invoice_items-<%=invoice_item.invoice_id%>">
  <li><%= link_to "#{invoice_item.invoice_id}", 'admin_invoice_path(invoice_item)' %></li>
  <h4>Created at: <%= invoice_item.invoice.format_time %></h4>
  </section>
<% end %>
</ul>
