<header id="admin_header">
  <h2 >Admin Dashboard</h2>
</header>
<nav id="admin_nav">
  <%=  link_to "Merchants", '/admin/merchants' %>
  <%=  link_to "Invoices", '/admin/invoices' %>
</nav>

<section id="top_customers">
  <h4>Top Customers</h4>
  <ol>
    <% @top_customers.each do |customer|  %>
      <li><%= customer.full_name %>- <%= customer.successful_order %> purchases</li>
    <% end %>
  </ol>
</section>

<section id="incomplete_invoices">
  <h3>Incomplete Invoices</h3>
  <% @incompleted_invoices.each do |invoice| %>
    <ul id="<%= invoice.id %>">
      <li> Invoice #<%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %> <%= invoice.created_at.strftime("%A, %B %d, %Y") %></li>
    </ul>
  <% end %>
</section>