<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to 'Admin Merchants', admin_merchants_path %></li>
  <li><%= link_to 'Admin Invoices', admin_invoices_path %></li>
</ul>

<div id="top-5">
  <% @top5.each do |c| %>
    <p><%= "#{c.first_name} #{c.last_name} Transactions: #{c.transaction_count}" %></p>
  <% end %>
</div>

<div id="incomplete_invoices">
  <h1>Incomplete Invoices</h1>
  <% @incomp_invoices.each do |i| %>
    <p class="incomp" id="invoice-<%= i.id %>"><a href=""><%= i.id%></a> <%= i.created_at.strftime('%A, %B %d, %Y') %></p>
  <% end %>
</div>