<%= link_to "Admin Merchants Index", admin_merchants_path  %><br>
<%= link_to "Admin Invoices Index", admin_invoices_path  %><br>
<h3> Top Customers </h3>
<%@top_customers.each do |customer|%>
  <p>Name: <%= customer.first_name %> <%= customer.last_name %> -- Total Transactions: <%= customer.count_of_success %></p>
<% end %>
<h3> Incomplete Invoices </h3>
<% @incomplete_invoices.each do |invoice| %>
	<section id="incomplete-<%= invoice.id %>">
		<p> Invoice Id: <a href = "/admin/invoices/<%=invoice.id%>"><%=invoice.id%></a> -- created on: <%= invoice.created_at.strftime("%A") %>, <%= invoice.created_at.strftime("%B") %> <%= invoice.created_at.strftime("%d") %>, <%= invoice.created_at.strftime("%Y") %><br></p>
	</section>
 <%end %>
