<header>
  <h1> Admin Dashboard </h1>
</header>

<div id="body">
 <p> <%= link_to "Admin Merchants", admin_merchants_path %> </p>
 <p> <%= link_to "Admin Invoices", admin_invoices_path %> </p>

 <h3> Top 5 Customers:</h3>
  <%@top_5.each do |customer|%>
    <p> <%= "#{customer.first_name + " " + customer.last_name}: #{customer.transaction_count} transactions"%> </p>
  <% end %>
</div>

<div id='incomplete_invoices'>
  <h3> Incomplete Invoices:</h3>
  <% @incomplete.each do |invoice| %>
    <p>id: <%= link_to "#{invoice.id}", admin_invoice_path(invoice.id)%> 
     Created at: <%=invoice.created_at.strftime('%A, %B %d, %Y')  %></p>
  <% end %>
</div>
