<h1>Admin Dashboard</h1>

<%= link_to 'Merchants', admin_merchants_path %>
<%= link_to 'Invoices', admin_invoices_path %>


<section id='incomplete-invoices'>
  <h3>Incomplete Invoices</h3>
  <% @incomplete_invoices.each do |invoice| %>
    <%= link_to "#{invoice.id}", admin_invoice_path(invoice) %>
  <% end %>
</section>

<section id='five_best_customers'>
  <h3>Five Best Customers:</h3>
  <% @five_best_customers.each do |customer| %>
    <%= "#{customer.first_name}" %>
    <%= "#{customer.last_name}" %>
  <% end %>
</section>

<section id='top-5-merchants'>
  <h3>Five Best Merchants:</h3>
  <ol>
    <% @top_five_merchants.each do |merchant| %>
        <li><%= merchant.name %>Total revenue: </li>
    <% end %>
  </ol>

</section>
