<h3 class='dash_header'>Admin Dashboard</h3><br>
<%= render partial: 'admin/shared/nav' %>
<br>

<div id="top_customers">
  <h5>Top Customers: </h5>
  <% @top_customers.each do |customer| %>
    <p id="customer_<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %> - <%= customer.transactions_count %> purchases</p>
  <% end %>
</div>

<div id='incomplete_invoices'>
  <% @incomplete_invoices.each do |invoice| %>
    <%= link_to "Invoice ##{invoice.id}", "admin/invoices/#{invoice.id}" %> - <%= invoice.updated_at.strftime('%A, %B %-d, %Y') %><br>
  <% end %>
</div>