<h2>Admin Dashboard</h2>

<div style="font-size:15px; text-align:right;">
<span style="padding:10px; padding:10px;"><%= link_to "Dashboard", "/admin/" %></span>
<span style="padding:10px; padding:10px;"><%= link_to "Merchant Index", "/admin/merchants" %></span>
<span style="padding:10px; padding:10px;"><%= link_to "Invoice Index", "/admin/invoices" %></span>
</div>

<div id="top-5-customers">
<h3>Top 5 Customers:</h3>
<ol>
  <% @customers.top_5_customers.each do |customer| %>
    <li id="<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %> - <%= customer.success_count %> purchases</li>
  <% end %>
</ol>
</div>

<div id="incomplete-invoices")>
  <h3>Incomplete Invoices</h3>
  <ul> 
    <% @invoices.unshipped_invoices.each do |invoice| %>
      <li><%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice.id) %></li>
    <% end %>
  </ul>
</div>