<h1> Admin Dashboard </h1>
<section>
<%= link_to "Admin Merchants Index", admin_merchants_path %>
<%= link_to "Admin Invoices Index", admin_invoices_path %>
</section>

<h2> Top 5 Customers </h2>
<% @top_customers.each do |customer| %>
  <p id="customer-<%= customer.id %>">
    <%= customer.first_name %>
    <%= customer.last_name %>
    <%= customer.successful_transaction_count %>
  </p>
<% end %>

<section>
  <h3>Incomplete Invoices</h3>
    <%@invoices.each do |invoice|%>
     <p id="invoice-<%= invoice.id %>"><%=link_to "Invoice #{invoice.id}", "/admin/invoices/#{invoice.id}"%> - <%="#{invoice.created_at.strftime("%A, %B %d, %Y")}"%><br></p>
  <%end%> 
</section>