<%= link_to "Home Page", "/" %> |
<%=link_to "Merchants", "/admin/merchant"%> |
<%=link_to "Invoices", "/admin/invoices"%> |
<%=link_to "Dashboard", "/admin"%>

<h2>Admin Dashboard</h2>

    <h3>Top Customers</h3>

    <% @customers.each do |customer| %>
      <p id="customer-<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %>, <%= customer.transactions.count %> purchase(s)</p>
    <%end%>


  <section>
    <h3>Incomplete Invoices</h3>
      <%@invoices.each do |invoice|%>
      <p id="invoice-<%= invoice.id %>"><%=link_to "Invoice #{invoice.id}", "/admin/invoices/#{invoice.id}"%> - <%="#{invoice.created_at.strftime("%A, %B %d, %Y")}"%><br></p>
    <%end%>

  </section>
