<%= render partial: 'admin/shared/header' %>

<div class="general_body">
  <div id="top_customers">
    <h4>Top Customers</h4>
    <% @top_customers.each do |customer| %>
      <p id="customer_<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %> - <%= customer.transactions_count %> purchases</p>
    <% end %>
  </div>

  <div id='incomplete_invoices'>
    <h4>Incomplete Invoices</h4>
    <% @incomplete_invoices.each do |invoice| %>
      <p class='column'><%= link_to "Invoice ##{invoice.id}", "admin/invoices/#{invoice.id}" %> - <%= invoice.updated_at.strftime('%A, %B %-d, %Y') %></p><br>
    <% end %>
  </div>
</div>

<%= render partial: "/github_info" %>