<header>
  <h1>Admin Dashboard</h1>
  <p><%= link_to :Merchants, "/admin/merchants" %> | <%= link_to :Invoices, "/admin/invoices" %></p>
</header>
<section class="top_customers">
  <h2> Top 5 Customers</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Successful transactions:</th>
      </tr>
    </thead>
    <tbody>
      <% @top_five_customers.each do |customer| %>
        <tr id="customer_id_<%= customer.id %>">
          <th scope="row"><%= customer.last_name %></th>
          <td><%= customer.first_name %></td>
          <td><%= customer.transaction_count %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
<section class="incomplete_invioces">
  <h2>Incomplete invioces</h2>
  <h4>Total incomplete invoices: <%= @incomplete_invoices.count %></h4>
  <% @incomplete_invoices.each do |invoice| %>
    <div class="card border-primary mb-3" style="width: 25rem; padding: 5px; display: inline-block;" id="invoice_id_<%= invoice.id%>">
      <p><%= link_to "Invoice: #{invoice.id}", "/admin/invoices/#{invoice.id}" %><br>
      Created at: <%= invoice.created_at.strftime('%A, %b %d, %Y') %></p>
    </div>
  <%end%>
</section>
