<% @facade.repo_name.each do |element| %>
<% if element.name == "little-esty-shop" %>
  <h4>Github repo: <%= element.name %></h4>
  <% end %>
<% end %>

<p><strong>Contributors:</strong></p>
<% @facade.contributor_pull_requests.each_pair do |name, count| %>
<ul>
  <li><%= name %>, <%= count %> pull requests</li>
</ul>
<% end %>
<h1>Admin Dashboard</h1>


<p><%= link_to "Admin: Merchants", "/admin/merchants" %></p>
<p><%= link_to "Admin: Invoices", "/admin/invoices" %></p>

<div id='customers'>
  <h3>Top Customers:</h3>
  <% @customers.each do |customer| %>
    <div id='customer-<%= "#{customer.id}" %>'
      <p><li><%= customer.full_name %> -
      <%= customer.transaction_count %> purchase(s)</li></p>
    </div>
  <% end %>
</div><br><br>



<div id='invoices'>
  <h3>Incomplete Invoices:</h3>
  <% @invoices.each do |invoice| %>
    <div id='invoice-<%= "#{invoice.id}" %>'
      <p><li><%= link_to " Invoice #{invoice.id}", "/admin/invoices/#{invoice.id}"%>
      <%= invoice.format_time %></li></p>
    </div>
  <% end %>
</div>
