<h1>Admin Dashboard</h1>
<p><%= link_to 'Merchants', '/admin/merchants' %></p>
<p><%= link_to 'Invoices', '/admin/invoices' %></p>
<div class="row">
    <div id="column1">
    <h2>Top 5 Customers</h2>
    <% Customer.top_five_customers.each do |customer| %>
        <div class="customer">
        <p><%= customer.first_name %> <%= customer.last_name %> - <%= customer.total_transactions %></p>
    <% end %>
    </div>
    </div>
    <div id="column2">
    <h2> Incomplete Invoices </h2>
    <% Invoice.incomplete_invoices_not_shipped.each do |invoice| %>
        <div class="invoice">
        <p>Id: <%= link_to invoice.id, "/admin/invoices/#{invoice.id}" %> </p>
        <p>Date: <%= invoice.created_at.strftime("%A, %B %d, %Y") %> </p>

        </div>
    <% end %>
    </div>
</div>