<h1> Admin Dashboard </h1>

<section id = "favorite_customers" >
<h2> Top 5 Customers Overall </h2>

<% @top_5_customers.each do |cust| %>
  <li> <%= cust.first_name %> <%= cust.last_name %>, Successful Transactions: <%= cust.transac_count %> </li>
<% end %>

</section>


<section id = "incInvoices" >
<h2> Incomplete Invoices </h2>


</section>




<%= link_to "Merchant Index", admin_merchants_path %>
<%# <%= link_to "Invoice Index", admin_invoices_path %> 