<%= render partial: 'partials/admin_dashboard_nav_bar' %>

<div class="body_container">
  <div class="sub_container">
    <div class="sub_header">Incomplete Invoices</div>
    <div id="incomplete_invoices">
      <ul>
        <% @incomplete_invoices.each do |invoice| %>
          <div id= "incomplete_invoice-<%=invoice.id%>">
            <p>
              Invoice #<%= link_to "#{invoice.id}", admin_invoice_path(invoice)%>
              - <%= invoice.created_at.strftime("%A, %B %d, %Y") %>
            </p>
          </div>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="sub_container">
    <div class="sub_header">Top Customers</div>
    <div id="top_customers">
      <ol>
        <% @top_five_customers.each do |customer| %>
          <li><div class="customer_font">
            <%= "#{customer.first_name} #{customer.last_name} - #{customer.total_purchases} purchases" %>
          </div></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>