<h1 id="admin_title">Admin Dashboard</h1>
<ul id="admin_links">
  <li><%= link_to "Merchants" %></li>
  <li><%= link_to "Invoices" %></li>
</ul>
<section>
  <h1>Top Customers</h1>
  <ol id="top_customers">
    <% @five_top_customers.each do |key, value| %>
      <li id="<%= key[1] %>"><%= key[0] %>, <%= key[1] %> - <%= value %></li>
    <% end %>
  </ol>
</section>
<section id="incomplete_invoices">
  <h1>Incomplete Invoices</h1>
  <ul id="invoice_id_not_shipped">
    <% @not_shipped_invoices.each do |invoice| %>
      <li class="invoice_<%= invoice.id %>"><%= link_to "Invoice ##{invoice.id}" %> - <%= invoice.created_at.strftime("%A, %B %e, %Y") %></li>
    <% end %>
  </ul>
</section>