<header>
<h1>Admin Dashboard</h1>
</header>
<%= link_to  "Admin Merchants", admin_merchants_path %>
<br>
<br>
<%= link_to "Admin Invoices",  admin_invoices_path %>
<br>
<div id="top_five_customers">
<h3>Top Five Customers</h3>
<% @customers.each do |customer| %>
  <h4>Name: <%= customer.first_name %> <%= customer.last_name %>, Successful Transactions: <%= customer.result_count %></h4>
<% end %>
</div>