<%= render partial: 'admin/admin_navbar'%>

<div class="float-container">
  <div class="float-child">
    <h3>Incomplete Invoices</h3>
    <table>
      <% @incomplete_invoices.each do |invoice| %>
        <div id="invoice-<%= invoice.id %>">
          <tr>  
          <td>Invoice # <%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %> - <%= invoice.created_at.strftime('%A, %B %d, %Y') %></td>
          </tr>
        </div>
        <% end %>
    </table>
  </div>
</div>
  <h3>Top Customers</h3>

  <% @top_customers.each do |customer| %>
  <div class="float child">
    <div id="customer-<%=customer.id%>">
    <ul>
      <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.count %> purchases</li>
    </div>
    </ul>
    <% end %>
  </div>
</div>