<h1>Admin Dashboard</h1>
<h3><%= GithubServices.new.get_repo_name %></h3>

<%= link_to 'Admin Merchants Index', admin_merchants_path %>
<%= link_to 'Admin Invoices Index', admin_invoices_path %>


<h2>Incomplete Invoices</h2>
<% Invoice.incomplete_invoices.each do |invoice| %>

<%= link_to "#{invoice.id}", admin_invoice_path(invoice) %><%= " #{invoice.format_time}" %><br>
<% end %>
<br><br>
<br>

<h1> Top 5 Items </h1>
<% Item.top_5_items.each do |item| %>
<%= item.name %>
<%= "$#{item.total_revenue.to_i}" %><br>
<% end %>

<h1> Top 5 Customers </h1>
<% Customer.top_five_customers.each do |customer| %>
<%= customer.first_name %> - <%= customer.successful_transactions %><br>
<% end %><br>
