<h1>Admin Dashboard</h1>
<%= link_to "Merchant Index", admin_merchants_path %><br>
<%= link_to "Invoice Index", admin_invoices_path %><br>
<h3>Top Five Customer With Most Transactions:</h3>
<% @customers.top_five_customers.each do |customer|%>
<%= customer.first_name %>
<%= customer.last_name %>,
Successful Transactions: <%= customer.successful_transactions_count%><br>
<% end %>
<section id='incomplete'>
  <h1>Incomplete Invoices</h1>
  <% @incomplete_invoices.each do |invoice| %>
  <%= link_to invoice.id, admin_invoice_path(invoice) %><br>
  <% end %>
</section>
