<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <div class="nav_bar_links">
      <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/admin", method: :get %></p>
      <p class="nav_bar_links_inline"><%= button_to "Merchants", "/admin/merchants", method: :get %></p>
      <p class="nav_bar_links_inline"><%= button_to "Invoices", "/admin/invoices", method: :get %></p>
    </div>
    <h1>Admin Dashboard</h1>
  </head>
  <body>
    <section>
      <h4>Top Customers</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Number of Transactions</th>
        </tr>
        <% @top_five_customers.each do |customer| %>
        <tr>
          <td><%= customer.first_name %> <%= customer.last_name %></td>
          <td style="text-align: center"><%= customer.number_of_transactions %></td>
        </tr>
        <% end %>
      </table>
    </section><br>

    <section>
      <h4>Incomplete Invoices</h4>
      <% @incomplete_invoices.each do |invoice| %>
        <%= link_to "Invoice-#{invoice.id}", "/admin/invoices/#{invoice.id}" %>: <%= invoice.created_at.strftime('%A, %B %d, %Y') %><br>
      <% end %>
    </section>
  </body>
</html>
