<%= render partial: 'shared/home_link', locals: {path: "/"} %>
<%= render partial: 'shared/admin_links', locals: {path: "/admin"} %>

<h1>Admin Dashboard</h1>

<div class="row">
<section class="column">
  <h2>Top 5 Customers</h2>

  <% @customers.top_five.each do |customer| %>
  <p><%= "| #{customer.first_name} #{customer.last_name} - #{customer.trans_count} purchases | " %></p>
  <% end %>
</section>

<section class="column">
  <h2>Incomplete Invoices</h2>

  <% @invoices.incomplete_invoices.each do |invoice| %>
    <div id="invoice-<%= invoice.id %>">
    <%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %>
    Date Created: <%= invoice.created_at.strftime("%A, %B, %d, %Y") %>
  </div>
<% end %>
</section>
</div>
