<%= render "header" %>
<%= render "link_bar" %>
<h3>Top Customers: </h3>
<% @customers.top_five.each do |customer| %>
  <div id="customer-<%= customer.id %>">
    <h3><%= [customer.first_name, " ", customer.last_name].join %></h3>
    <p>Successful transactions: <%= customer.transactions.count %></p>
  </div>
<% end %>
<div class="invoices">
  <h3>Incomplete Invoices:</h3>
  <% @invoices.incomplete.each do |invoice| %>
  <p>Invoice ID: <%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}"  %></p>
  <% end %>

</div>
