<div id="admin-header">
  <h1>Admin Dashboard</h1>
</div>

<div id="dashboard-links">
  <p><%= link_to "Merchants View", admin_merchants_path %></p>
  <p><%= link_to "Invoices View", admin_invoices_path %></p>
</div>

<h3>Favorite Customers:</h3>
  <% @customers.top_customers.each do |customer| %>
    <p>
      <strong>Customer:</strong> <%="#{customer.full_name}"%> - <strong>Total Transactions:</strong> <%="#{customer.total_count}"%>
    </p>
  <% end %>
</div>
<hr>

<h3>Incomplete Invoices:</h3>
<% @invoices.incomplete_invoices.each_with_index do |invoice, index|%>
  <div id="incomplete-invoices-<%= invoice.id %>">
    <p><strong><%= link_to "#{invoice.id}", admin_invoice_path(invoice.id) %> Created At: <%= invoice.created_at.strftime("%A, %B %e, %Y") %></strong></p>
  </div>
<% end %>

<div id="top_customers">