<h1>Admin Dashboard</h1>

<%= link_to "Admin Merchants Index", "/admin/merchants" %>
<%= link_to "Admin Invoices Index", "/admin/invoices" %>

<h3>Top 5 Customers</h3>

<% @customers.top_five.each do |customer| %>
<%= "| #{customer.first_name} #{customer.last_name} - #{customer.trans_count} purchases | " %>
<% end %>

<h3>Incomplete Invoices</h3>

<% @invoices.incomplete_invoices.each do |invoice| %>
<div id="invoice-<%= invoice.id %>">
<%= link_to "#{invoice.id}", "/admin/invoices/:id" %> 
Date Created: <%= invoice.created_at.strftime("%A, %B, %d, %Y") %>
</div>
<% end %>