<h1>Little Esty Shop</h1>

<%= link_to 'Create Merchant', "/admin/merchants/new"%>

<div id="admin_merchant">
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%="#{merchant.id}"%>">
    <p><h3><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></h3></p>
    <p>Status: <%= merchant.status %></p>
    <% if merchant.status == "enabled"  %>
    <%= button_to "Enable/Disable", "/admin/merchants/#{merchant.id}/update", action: :update, params: { status: :disabled}, method: :patch %>
    <% elsif merchant.status == "disabled"%>
    <%= button_to "Enable/Disable", "/admin/merchants/#{merchant.id}/update", action: :update, params: { status: :enabled}, method: :patch %>
    <% end %>
    </div>
  <% end %>
</div>

<% @invoices.each do |invoice| %>
  <p>Invoice #<%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %> </p>
<% end %>
