<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <h1>Admin Dashboard</h1>
    <h3><%= link_to 'Merchants', '/admin/merchants' %> <%= link_to 'Invoices', '/admin/invoices' %></h3>
  </head>
  <body>
    <section>
      <h4>Top Customers</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Number of Transactions</th>
        </tr>
        <% @top_five_customers.each do |customer| %>
        <tr>
          <td><%= customer.first_name %> <%= customer.last_name %></td>
          <td style="text-align: center"><%= customer.number_of_transactions %></td>
        </tr>
        <% end %>
      </table>
    </section><br>

    <section>
      <h4>Incomplete Invoices</h4>
      <% @incomplete_invoices.each do |invoice| %>
        <%= "Invoice-#{invoice.id}" %>: <%= invoice.created_at.strftime('%A, %B %d, %Y') %><br>
      <% end %>
    </section>
  </body>
</html>
