<%=link_to "Admin Merchants", "/admin/merchants"  %>
<%=link_to "Admin Invoices", "/admin/invoices"  %>
<h1>Admin Dashboard Page</h1>

<section id ="incomplete_invoices">
  <h2>Incomplete Invoices:</h2>
    <% @invoices.incomplete_invoices_ids_ordered.each do |invoice| %>
      <ul>
      <li><%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %> <%= invoice.created_at %></li>
      </ul>
    <% end %>
</section>

<section id = 'top_5_customers'>
<h2>Top 5 Customers</h2>
<% @customers.top_admin_5_customers.each do |customer| %>
<ul>
  <li><%= customer.full_name %> <%= customer.successful %>Purchases</li>
</ul>
<% end %>
</section>
