<%= render partial: "layouts/admin_header"%>

<div id="top_customers">
  <h2>--- Top 5 Customers ---</h2>
    <% @top_customers.each do |customer, number_of_transactions|%>
      <p> Customer: <%= customer[0] %> <%= customer[1] %>, Number of Successful Transactions: <%= number_of_transactions %></p>
    <%end%>
</div>

<div id="incomplete_invoices">
  <h2>--- Incomplete Invoices ---</h2>
    <% @incomplete_invoice_items.each do |invoice_item|%>
      <p> <%= link_to "Invoice #{invoice_item.invoice_id}", admin_invoice_path(invoice_item.invoice_id)%> , Created On: <%= invoice_item.invoice.created_at.strftime("%A, %B%e, %Y")%></p>
    <%end%>
</div>

