<h1>Admin Dashboard</h1>
<p><strong><%= link_to "Admin Merchants Index", "/admin/merchants" %></p>
<p><%= link_to "Admin Invoices Index", "/admin/invoices" %></strong></p><br>
<h3>Top Customers</h3>
<ol>
  <% @top_customers.each do |customer| %>
    <li id="customer-<%= customer.id %>">
      <%= "#{customer.first_name} #{customer.last_name}" %>
      <%= customer.success_count %> transactions
    </li>
  <% end %>
</ol>

<div id="incompleteInvoices">
  <h3>Incomplete Invoices</h3>
  <% @inc_invoices.each do |invoice| %>
    <li><%= link_to "Invoice ID number: #{invoice.id}", "/admin/invoices/#{invoice.id}" %><%= invoice.created_at.strftime("%A, %B, %d, %Y") %></li>
  <% end %>
</div>
