<div class="flex-container">
  <div id='title'>
<h2>Admin Dashboard</h2>
  </div>
    <div id='nav'>
      <th><%= link_to "Dashboard", "/admin" %></th>&emsp;
      <th><%= link_to "Merchants", "/admin/merchants" %></th>&emsp;
      <th><%= link_to "Invoices", "/admin/invoices" %></th>
    </div>
</div>

<div class="flex-container">

  <div class='body-left'>
    <center><h2 style='background-color: #f1f1f1;'>Incomplete Invoices</h2></center>
    <% @invoices.incomplete_invoices.each_with_index do |invoice, index| %>
      <div id="invoice<%= index %>">
        <%= "Invoice #" %><%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}"%><%= "- #{invoice.created_at.strftime("%A, %B%e, %Y")}"%>
      </div>
    <% end %>
  </div>

  <div class='body-right'>
    <center><h2 style='background-color: #f1f1f1;'>Top Customers</h2></center>
      <% @customers.top_five_customers.each_with_index do |customer, index| %>
        <div id="customer<%= index %>">
          <%= "#{index + 1}. #{customer.first_name} #{customer.last_name} - #{customer.transactions_count} Purchases" %>
        </div>
      <% end %>
  </div>
</div>