<h1 id="admin_title">Admin Dashboard</h1>
<ul id="admin_links">
  <li><%= link_to "Merchants" %></li>
  <li><%= link_to "Invoices" %></li>
</ul>
<ol id="top_customers">
  <% @top_five_customers.each do |key, value| %>
    <li id="<%= key %>"><%= key %> - <%= value %></li>
  <% end %>
</ol>
<section id="incomplete_invoices">
  <h1>Incomplete Invoices</h1>
  <ul id="invoice_id_not_shipped">
    <% @not_shipped_invoices.each do |invoice| %>
      <li id="<%= invoice.id %>"><%= link_to "Invoice ##{invoice.id}" %></li>
    <% end %>
  </ul>
</section>