<h1> Admin Dashboard </h1>

<%= link_to "Admin Merchants Index"%>
<%= link_to "Admin Invoices Index"%>

<div class = "adminIndex", id="info", style="width:100%;">
  <div id="incomplete-invoices", style="float:left;width:50%">
    <h4> Incomplete Invoices </h4>
    <%@invoice_items.each do |invoice|%>
    <p>Invoice #<a href="/admin/:id"><%=link_to invoice.invoice_id%></a> - <%=invoice.created_at.strftime("%A, %B %d, %Y")%></p>
    <%end%>
  </div>

  <div id="top-5-customers", style="float:right;width:50%;">
    <h4>Top Customers</h4>
    <% Customer.top_five_customers.each do |customer| %>
    <ol>
      <li><%= customer.first_name %> - <%= customer.transactions %> purchases</li>
    </ol>
    <% end %>
  </div>
</div>
