<header>
<h1>Admin Dashboard</h1>
</header>
<%= link_to  "Admin Merchants", admin_merchants_path %>
<br>
<br>
<%= link_to "Admin Invoices",  admin_invoices_path %>
<br>
<div id="top_five_customers">
<h3>Top Five Customers</h3>
<% @customers.each do |customer| %>
  <p>Name: <%= customer.first_name %> <%= customer.last_name %>, Successful Transactions: <%= customer.result_count %></p>
<% end %>
</div>
<br>
<div id="incomplete_invoices">
<h3>Incomplete Invoices:</h3>
<% @incomplete_invoices.each do |invoice| %>
  <%= link_to invoice, admin_invoice_path(invoice) %><br>
<% end %>