<h1>Admin Dashboard</h1>
<%= link_to "Admin Merchant Index", "/admin/merchants" %>
<%= link_to "Admin Invoice Index", "/admin/invoices" %>

<h3>Incomplete Invoices</h3>
<% @invoices.incomplete_invoices_ordered.each do |invoice| %>
  <%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %>
  <%= " - #{invoice.created_at.strftime("%A, %B %d, %Y")}" %>
  <br>
<% end %>


<div id='top_5'>
  <h3>Top 5 Customers</h3>
  <ul>
  <% @customers.top_5_by_successful_transactions.each do |customer| %>
    <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.successful_transactions %></li>
    <% end %>
  </ul>
</div>

