<header>
  <h1>Admin Dashboard</h1>
</header>
<div class="links">
  <%= link_to "Merchants", '/admin/merchants' %>
  <%= link_to "Invoices", '/admin/invoices' %>

</div>

<div class="top_customers">
  <% @customers.top_five.each do |customer| %>
    <p><%= customer.name %> - <%= customer.count_transactions_id %> purchases</p>
  <% end %>
</div>

<div class="incompleted_invoices">
  <% @invoices.not_completed.each do |invoice| %>
    <p><%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %> Created On: <%= invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <% end %>
</div>
