<h1>Bulk Discounts Index</h1>

<% @bulkdiscounts.each_with_index do |discount, i| %>
<div id="bulk_discount<%= i %>">
  <%= "Discount Name: #{discount.name}" %>
  <%=link_to "#{discount.name} Show Page", "/merchants/#{@merchant.id}/bulkdiscounts/#{discount.id}" %>
  <%=link_to "Delete Discount", "/merchants/#{@merchant.id}/bulkdiscounts/#{discount.id}", method: :delete, local: true %>
  <ul>
    <li><%= "Discount Percentage: #{discount.percentage}%" %></li>
    <li><%= "Discount Threshold: #{discount.threshold}%" %></li>
  </ul>
</div>
<% end %>

<%= link_to "Create New Bulk Discount", "/merchants/#{@merchant.id}/bulkdiscounts/new" %>

<h2>Upcoming Holidays</h2>
<% @holidays.each do |holiday| %>
  <%= holiday.name %> - <%= holiday.date %>
<% end %>
