<h1>Merchants Index</h1>
<h3><%= link_to "Create New Admin Merchant", "/admin/merchants/new" %></h3>

<h2>Enabled Merchants:</h2>
<% @enabled_merchants_array.each do |merchant| %>
  <h3><%= merchant.name %></h3> %>
  <%= button_to "Disable #{merchant.name}", "/admin/merchants/#{merchant.id}", method: :patch, params: [merchant_status: :Disabled] %>
<% end %>

<h2>Disabled Merchants:</h2>
<% @disabled_merchants_array.each do |merchant| %>
  <h3><%= merchant.name %></h3>
<%= button_to "Enable #{merchant.name}", "/admin/merchants/#{merchant.id}", method: :patch, params: [merchant_status: :Enabled] %>
<% end %>
