<h1>Admin Merchants</h1>

<div id = "Enabled" >
<h3> Enabled Merchants </h3>
<% @merchants.each do |merchant| %>
  <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %><br>
<% end %>
</div>

<div id = "Disabled" >
<h3> Disabled Merchants <h3>
</div>

<h3>Top 5 Merchants:</h3>
<ol>
<% Merchant.top_merchants.each do |merchant| %>
    <li><%= merchant.name %> - <%= number_to_currency(merchant.revenue) %></li>
<% end %>
</ol>
<hr>

<% @merchants.each do |merchant| %>
  <div id="id-<%= merchant.id %>">
    Name: <%= merchant.name %><br>
    Status: <%= merchant.status %>
    <%= button_to 'Enable/Disable', "/admin/merchants/#{merchant.id}", params: {change_status: true, merchant_id: merchant.id}, method: :patch %>
  </div>
<% end %>
<%= link_to 'Create Merchant', admin_merchants_new_path %>

