<h1>Admin Merchant Index</h1>
<ul>
    <div id="top_5">
        <h3>Top 5 Merchants:</h3>
        <% Merchant.top_5_merchants_by_revenue.each_with_index do |merchant, index| %>
            <div id="merchant-<%= index %>">
                    <%=link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
                    - $<%= number_with_delimiter(merchant.total_revenue.div(100)) %> in sales
                    <br>
                    Top day for <%= merchant.name%>'s store was <%= merchant.best_day.strftime("%m/%d/%y") %>
            </div>
        <% end %>
    </div>
</ul>
<ul>
    <div id="disabled">
        <h3>Disabled Merchants:</h3>
        <% @merchants.each do |merchant| %>
            <div id="merchant-<%= merchant.id %>">
                <% if merchant.status == "disabled" %>
                    <%=link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
                    <%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: "enabled"} %>
                <% end %>
            </div>
        <% end %>
    </div>
</ul>

<ul>
    <div id='enabled'>
    <h3>Enabled Merchants:</h3>
    <% @merchants.each do |merchant| %>
        <div id="merchant-<%= merchant.id %>">
        <% if merchant.status == "enabled" %>
            <%=link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
            <%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: "disabled"} %>
        <% end %>
        </div>
    <% end %>
    </div>
</ul>

<%= link_to "Create New Merchant", "/admin/merchants/new" %>