<h1>Merchants</h1>

<h2>Enabled Merchants</h2>
<% @merchants.return_by_status_enabled.each do |merchant| %>
  <div id="merchant_enabled-<%=merchant.id%>">
    <p><%= link_to "#{merchant.name}" , "/admin/merchants/#{merchant.id}"%>
      <%= button_to "Disable #{merchant.name}", "/admin/merchants?disable=#{params[:disable]}", method: :patch, local: true, params: {id: merchant.id}%> </p>
  </div>
<% end %>

<h2>Disabled Merchants</h2>
<% @merchants.return_by_status_disabled.each do |merchant| %>
  <div id="merchant_disabled-<%=merchant.id%>">
    <p><%= link_to "#{merchant.name}" , "/admin/merchants/#{merchant.id}"%>
      <%= button_to "Enable #{merchant.name}", "/admin/merchants?enable=#{params[:enable]}", method: :patch, local: true, params: {id: merchant.id}%> </p>
    </div>
<% end %>
