<h1>Merchants Index</h1>
<h3><%= link_to "Create New Admin Merchant", "/admin/merchants/new" %></h3>

<div class="top_merchants">
  <h2>Top Merchants</h2>
  <% Merchant.top_merchants(5).each do |merchant| %>
    <div class=<%= "top_merchant_#{merchant.id}" %>>
      <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
      <p><%= "Top selling date for #{merchant.name} was #{merchant.best_day.strftime("%A, %B %d, %Y")}." %></p>
      <p><%= "Total Revenue: #{money_honey(merchant.total_revenue)}" %></p>
    </div>
  <% end %>
</div>

<h2>Enabled Merchants:</h2>
<% @enabled_merchants_array.each do |merchant| %>
  <h3><%= merchant.name %></h3> %>
  <%= button_to "Disable #{merchant.name}", "/admin/merchants/#{merchant.id}", method: :patch, params: [status: :Disabled] %>
<% end %>

<h2>Disabled Merchants:</h2>
<% @disabled_merchants_array.each do |merchant| %>
  <h3><%= merchant.name %></h3>
<%= button_to "Enable #{merchant.name}", "/admin/merchants/#{merchant.id}", method: :patch, params: [status: :Enabled] %>
<% end %>
