<h1>Admin Merchants Index</h1>
<% @merchants.each do |merchant| %>

    <section id="merchant-<%= merchant.id %>">
      <p><% if merchant.status == "Enabled" %>
        <h3><strong><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h5></strong>
        <%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: "Disabled"} %></p>

      <p><% elsif merchant.status == "Disabled"%>
        <h3><strong><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h5></strong>
        <%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: "Enabled"} %></p>
      <% end %></section>
<% end %>
