<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <h2>Admin Dashboard</h2>
    <%= link_to "Create New Merchant", new_merchant_path %>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to "Merchants", '/admin/merchants' %>
      <%= link_to "Invoices", '/admin/invoices' %>
    </ul>
  </div>
</div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
    <div class="enabled-merchants">
      <h2>Enabled Merchants</h2>
      <% @merchants.enabled.each do |merchant| %>
        <div id="enabled-<%= merchant.id %>">
          <p>
            <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
            <%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch, params: {update_status_to: :disabled} %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="disabled-merchants">
      <h2>Disabled Merchants</h2>
      <% @merchants.disabled.each do |merchant| %>
        <div id="disabled-<%= merchant.id %>">
          <p>
            <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
            <%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch, params: {update_status_to: :enabled} %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="page-defaults" id="rightSide2">
    <h3>Top Merchants</h3>
    <ol type="1">
      <% @merchants.top_5.each_with_index do |merch, index| %>
      <div id="topMerchant-<%=index%>">
        <li><%= link_to "#{merch.name}", "/admin/merchants/#{merch.id}" %> - <%= number_to_currency(merch.revenue / 100.0) %> in sales</li>
      </div>
      <% end %>
    </ol>
  </div>
</div>
