<h1>Merchants Index</h1>
<h3><%= link_to "Create New Admin Merchant", "/admin/merchants/new" %></h3>

<h2>Enabled Merchants:</h2>
<% @enabled_merchants_array.each do |merchant| %>
  <h3><%= merchant.name %></h3> %>
  <%= form_with model: [merchant], local: true do |form| %>
    <%= form.hidden_field :status, value: "Disabled" %>
    <%= form.submit "Disable #{merchant.name}" %>
  <% end %>
<% end %>

<h2>Disabled Merchants:</h2>
<% @disabled_merchants_array.each do |merchant| %>
  <h3><%= merchant.name %></h3>
<% end %>
