<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <h2>Admin Dashboard</h2>
  </div>

  <div class="page-defaults" id="rightSide">
    <%= link_to "Merchants", '/admin/merchants' %>
    <%= link_to "Invoices", '/admin/invoices' %>
    <ul>

    </ul>
  </div>

</div>

<div class="center-screen">
  <h2><%= @merchant.name %> </h2>

  </div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
  <%= link_to "Update Merchant", "/admin/merchants/#{@merchant.id}/edit" %>
  </div>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
</div>
