<div>
  <h1> All Invoice Items</h1><br>
  <h3>Expected Total Revenue: <%= number_to_currency(@invoice_items.total_revenue) %></h3> <br>
  <table class="invoice-items"style='width: 80%; border-color: white;'>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
    <% @invoice_items.each do |ii| %>
      <tr>
        <td><%= ii.item.name %></td>
        <td><%= ii.quantity %></td>
        <td><%= number_to_currency(ii.unit_price) %></td>
        <td class="status-update"><%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
            <%= form.hidden_field :ii_id, :value => ii.id %>
            <%= form.select :status, ["pending", "packaged", "shipped"], value: "#{ii.status}" %>
            <%= form.submit 'Update Item Status' %></p>
        <% end %></td>
      </tr>
    <% end %>
  </table>
</div>