<h1>Admin Merchants Index:</h1>

<%= link_to "Create new merchant", "/admin/merchants/new", method: :get %>

<div id="enabled">
  <h3>Enabled:</h3>
  <% @merchants.only_enabled.each do |m| %>
    <%= link_to "#{m.name}", "/admin/merchants/#{m.id}", method: :get %>
    <%= button_to "Disable #{m.name}", "/admin/merchants/#{m.id}?status=disabled", method: :patch %>
  <% end %>
</div>

<div id="disabled">
  <h3>Disabled:</h3>
  <% @merchants.only_disabled.each do |m| %>
    <%= link_to "#{m.name}", "/admin/merchants/#{m.id}", method: :get %>
    <%= button_to "Enable #{m.name}", "/admin/merchants/#{m.id}?status=enabled", method: :patch %>
  <% end %>
</div>

<div id="top_5_merchants">
  <h3>Top 5 Merchants:</h3>
  <%@merchants.top_5_total_revenue.each do |m| %>
  <ul><%= m.name %> Total Revenue: <%= m.total_revenue %></ul>
  <% end %>
</div>


