<h1>Merchant Dashboard</h1>

<div id="attributes-merchant-<%= @merchant.id %>">
  <%= @merchant.name %>
</div>

<div id="links-merchant-<%= @merchant.id %>">
  <%= link_to "#{@merchant.name}'s Items", "/merchants/#{@merchant.id}/items"%>
  <%= link_to "#{@merchant.name}'s Invoices", "/merchants/#{@merchant.id}/invoices"%>
</div>

<div id="top-customers-merchant-<%= @merchant.id %>">
  <%= "#{@merchant.name}'s Top 5 Customers:" %>
  <ul>
    <% @merchant_top_five.each do |customer| %>
      <li><%= "#{customer.last_name}, #{customer.first_name}: #{customer.num_transactions} Transactions" %></li>
    <% end %>
  </ul>
</div>

<div id="items-to-ship-merchant-<%= @merchant.id %>">
  Items Ready to Ship:
  <ul>
    <% @item_invoices.each do |item_invoice| %>
      <li><%= "#{item_invoice.item_name}: " %> <%= link_to "Invoice # #{item_invoice.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{item_invoice.invoice_id}" %> <%= item_invoice.invoice_date %></li>
    <% end %>
  </ul>
</div>