<h1><%= @merchant.name %></h1>

<p>
  <%= link_to "Items", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %>
</p>

<div id="top_customers">
  <ol>
    <% @top_five_merchant_customers.each do |customer| %>
      <li><%= "#{customer.first_name} #{customer.last_name} - #{customer.total_purchases} purchases" %></li>
    <% end %>
</div>

<div id="items_ready_to_ship">
  <ol>
    <% @invoice_items_ready_to_ship.each do |invoice_item| %>
      <li><%= "#{invoice_item.item.name}" %> - <%= link_to "Invoice ##{invoice_item.invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice.id}" %></li>
    <% end %>
</div>