<h1>Merchant Dashboard</h1>

<div id="attributes-merchant-<%= @merchant.id %>">
  <%= @merchant.name %>
</div>

<div id="links-merchant-<%= @merchant.id %>">
  <%= link_to "#{@merchant.name}'s Items", "/merchants/#{@merchant.id}/items"%>
  <%= link_to "#{@merchant.name}'s Invoices", "/merchants/#{@merchant.id}/invoices"%>
</div>

<div id="top-customers-merchant-<%= @merchant.id %>">
  <%= "#{@merchant.name}'s Top 5 Customers:" %>
  <ul>
    <% @merchant_top_five.each do |customer| %>
      <li><%= "#{customer.last_name}, #{customer.first_name}: #{customer.num_transactions} Transactions" %></li>
    <% end %>
  </ul>
</div>

<div id="items-to-ship-merchant-<%= @merchant.id %>">
  Items Ready to Ship:

</div>