<center><h1><%= @merchant.name %></h1></center>

<div style="position:fixed; padding: 1em; bottom: 0; right: 0;">
  <p><%= link_to "See #{@merchant.name}'s Items", merchant_items_path(@merchant)%></p>
  <p><%= link_to "See #{@merchant.name}'s Invoices", merchant_invoices_path(@merchant)%></p>
</div>

<ul>

<% @vip_customers.each do |customer| %>
  <div id="customer_info-<%= customer.id %>">
    <li><h5 style="color: MAROON"> Customer Name: <%= customer.complete_name %> &nbsp - &nbsp
    Transaction Count: <%= customer.trans_count %></h5></li>
  </div>
<% end %>

    <h3>Items Ready to Ship</h3>
<% @all_merchant_unshipped_items.each do |item_name, invoice_id, invoice_date| %>
  <div id="ready_to_ship-<%=invoice_id %>">
    <li><h5> Item Name: <%=item_name%> - Invoice Created: <%= invoice_date.to_formatted_s(:admin_invoice_date) %> &nbsp - &nbsp
    Item Invoice: <%=link_to invoice_id, "/merchants/#{@merchant.id}/invoices/#{invoice_id}" %></h5></li>
  </div>
<% end %>