<div class="flex-container">
  <div id='title'>
    <h3><%= @merchant.name %>'s Dashboard</h3>
  </div>
  <div id='nav'>
    <th><%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard" %></th> &emsp;
    <th><%= link_to "My Items", "/merchants/#{@merchant.id}/items" %> </th> &emsp;
    <th><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></th>&emsp;
    <th><%= link_to "My Discounts", "/merchants/#{@merchant.id}/bulk_discounts" %></th>
  </div>
</div>

<div class="flex-container">

  <div class='body-left'>
    <center><h2 style='background-color: #f1f1f1;'>Items Ready to Ship</h2></center>
    <% @merchant.ready_to_ship.each_with_index do |item, index| %>
      <div id="item<%=index%>">
        <%= "#{item.name} -" "Invoice #"%> <%=link_to "#{item.invoices.first.id}", "/merchants/#{@merchant.id}/invoices/#{item.invoices.first.id}" %> <%= "#{item.date_created.strftime("%A, %B %e, %Y")}" %>
      </div>
    <% end %>
  </div>

  <div class='body-right'>
    <center><h2 style='background-color: #f1f1f1;'>Top Customers</h2></center>
    <ol>
      <% @merchant.favorite_customers.each_with_index do |customer, index| %>
        <div id="customers<%= customer.id %>">
          <li><%= "#{customer.first_name} #{customer.last_name} - Transactions: #{customer.transactions_count}" %></li>
        </div>
      <% end %>
    </ol>
  </div>
</div>
