<%= render partial: '/merchants_navbar'%>

<div id="title">
  <h2><p>Invoice #<%= @invoice.id %></p></h2>
</div>

<p>Status: <%= @invoice.status %></p>
<p>Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<div id="items">
<h3>Items on this invoice:</h3>
<table>
  <tr>
    <th> Item Name </th>
    <th> Quantity </th>
    <th> Unit Price </th>
    <th> Status </th>
  </tr>
  
<% @invoice.invoice_items.each do |ii| %>
  <tr>
    <div id="attributes">
    <td><%= ii.item.name %></td>
    <td><%= ii.quantity %></td>
    <td><%= price_round(ii.unit_price) %></td>
    </div>


  <%# <%= form_with url: merchant_invoice_item_path(@merchant, ii), method: :patch, local: true do |form| %> 
    <td><%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?item_id=#{ii.item.id}", method: :patch, local: true do |form| %>
      <%= form.label :status %>
      <%= form.select :status, ["pending", "packaged", "shipped"], :selected => ii.status %>
      <%= form.submit "Update" %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<p>Total Revenue: <%= price_round(@invoice.calculate_total_revenue) %></p>
</div>