<center> 
<h1> Merchant Invoices Show Page </h1>

<div class="Total Revenue"
  <p>Total Revenue: <%=@invoice.invoice_revenue %></p>

</div>

<div class="Invoice Information">
  <p>Invoice Id: <%= @invoice.id %></p>
  <p>Invoice Status: <%= @invoice.status %></p>
  <p>Created At: <%= @invoice.format_created_at(@invoice.created_at) %></p>
  <p>Customer Name: <%= @invoice.customer_name %></p>
</div>

<div class="Invoice Items Information">
  <% @invoice.invoice_items.each do |ii| %>
    <p>Item name: <%= ii.item.name %></p>
    <p>Item quantity: <%= ii.quantity %></p>
    <p>Item price sold at: <%= ii.item.display_price %></p>
    <p>Item status: <%= ii.status %></p>
  <% end %>
</div>
</center>