<p>Invoice ID: <%= @invoice.id %><br></p>
<p>Status: <%= @invoice.status %><br></p>
<p>Date of Creation: <%= @invoice.format_time %><br></p>
<p>Customer First Name: <%= @customer.first_name %><br></p>
<p>Customer Last Name: <%= @customer.last_name %><br></p>


<p>Total Revenue: <%= @invoice.invoice_items.total_revenue %></p>

<h2>Items on this Invoice:</h2>
  <% @merchant.invoice_items.each do |invoice_item| %>
    <section id="invoice-item-<%= invoice_item.item.id %>">
      <h3><p><%= invoice_item.item.name %></h3></p>
      <p>Quantity: <%= invoice_item.quantity %></p>
      <p>Unit Price: <%= number_to_currency(invoice_item.unit_price) %></p>
      <p>Status: <%= invoice_item.status %></p>

      <%= form_with url: merchant_invoice_item_path(@merchant, invoice_item), method: :patch, params: { status: :status }, local: true do |f|%>
        <%= f.label :status %>
        <%= f.select :status, [:pending, :packaged, :shipped], selected: invoice_item.status %>
        <%= f.submit "Update Item Status" %>
      <% end %>

    </section>
<% end %>
