<h1> Merchant Invoices Show Page </h1>

<div class="total_revenue"
<p>Revenue pre-discount: $<%= @invoice.pre_discount_revenue %></p>
<p>Revenue post-discount: $<%= @invoice.display_discount_revenue %></p>
</div>
<div class="invoice_information">
  <p>Invoice Id: <%= @invoice.id %></p>
  <p>Invoice Status: <%= @invoice.status %></p>
  <p>Created At: <%= @invoice.format_created_at(@invoice.created_at) %></p>
  <p>Customer Name: <%= @invoice.customer_name %></p>
</div>

<div class="invoice_items_information">
  <% @invoice.invoice_items.each do |ii| %>
    <div id="id-<%=ii.id%>"
      <p>Item name: <%= ii.item.name %></p>
      <p>Item quantity: <%= ii.quantity %></p>
      <p>Item price sold at: $<%= ii.item.display_price %></p>
      <p>Item status: <%= ii.status %></p>
  <% if ii.merchant_discount != nil %>
  <div class="link_to_discoount">
<p><%= link_to "Discount applied to #{ii.item.name}", merchant_bulk_discount_path(ii.item.merchant_id, ii.merchant_discount.id) %><p>
  </div>
  <% end %>
    <%= form_with url: merchant_invoice_path(@merchant.id, @invoice.id), method: :patch, local: true do |form| %>
            <%= form.hidden_field :ii_id, value: ii.id %>
            <%= form.select :status, options_for_select([:pending, :packaged, :shipped], ii.status) %>
            <%= form.submit "Update Item Status" %>
          <% end %>
    </div>
  <% end %>
</div>
