<p id="notice"><%= notice %></p>

 <p>Invoice ID: <%= @invoice.id %></p>
 <p>Status: <%= @invoice.status %></p>
 <p>Date: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
 <%= @invoice.customer.first_name %>
 <%= @invoice.customer.last_name %>



<%= link_to 'Edit', edit_merchant_invoice_path(@merchant.id, @invoice.id) %> |
<%= link_to 'Back', merchant_invoices_path %>
