<h1>Invoice ID: <%= @invoice.id %></h1>
<h3>Invoice Status: <%= @invoice.status %></h3>
<h4>Customer Last, First: <%= @customer.last_name %>, <%= @customer.first_name %></h4>
<h5>Created At: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></h5>

<% @invoice_items.each do |item| %>
<p>Name: <%= Item.where('id = ?', item.item_id).first.name %></p>
<p>Quantity Ordered: <%= item.quantity %></p>
<p>Price Sold For: <%= item.unit_price %></p>
<%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?item_id=#{item.id}", method: :patch, local: true do |f| %>
<p>Status: <%= f.select :status, ['Pending','Packaged', 'Shipped'], selected: item.status  %></p>
<%= f.submit 'Update Status' %>
<% end %>
<% end %>

<p>Total Revenue: <%= @total_revenue %></p>
