<div class="">
  <h1 class="little_esty_shop">Little Esty Shop</h1>
</div>

<div class="nav_bar_wrapper">
  <h1 class="title_name"><%= @merchant.name %></h1>
  <div class="nav_bar_links">
    <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/merchants/#{@merchant.id}/dashboard", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Items", "/merchants/#{@merchant.id}/items", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></p>
  </div>
</div>

<h2 class="title_wrapper">Invoice #<%= @invoice.id %></h2>

<h1>Invoice ID: <%= @invoice.id %></h1>
<h3>Invoice Status: <%= @invoice.status %></h3>
<h4>Customer Last, First: <%= @customer.last_name %>, <%= @customer.first_name %></h4>
<h5>Created At: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></h5>

<% @invoice_items.each do |item| %>
<p>Name: <%= Item.where('id = ?', item.item_id).first.name %></p>
<p>Quantity Ordered: <%= item.quantity %></p>
<p>Price Sold For: <%= item.unit_price %></p>
<%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?item_id=#{item.id}", method: :patch, local: true do |f| %>
<p>Status: <%= f.select :status, ['pending','packaged', 'shipped'], selected: item.status  %></p>
<%= f.submit 'Update Status' %>
<% end %>
<% end %>

<p>Total Revenue: <%= @total_revenue %></p>
