<h3>Merchant Invoice Show Page</h3>

<div id="invoice-info">
  <h3>Invoice #<%= @invoice.id %></h3>
  <p>Status: <%= @invoice.status %></p>
  <p>Created on: <%= @invoice.convert_created_at %></p>
  <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue) %></p>
</div>

<div id="customer-info">
  <h3>Customer:</h3>
  <p><%= @invoice.customer_name %></p>
</div>

<h3>Items on this Invoice:</h3>
<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="item-info-<%= invoice_item.item.id %>">
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Quantity: <%= invoice_item.item.quantity_sold(@invoice).first %></p>
    <p>Unit Price: <%= number_to_currency(invoice_item.item.find_sold_price(@invoice)) %></p>
    <p>Status: <%= invoice_item.item.invoice_item_status(@invoice).first %></p>
    
    <p>Update Invoice Item Status</p>
    <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
      <%= form.select :status, ['pending', 'packaged', 'shipped'], selected: invoice_item.status %>
      <%= form.submit "Update Item Status" %>
      <br>
    <% end %>
  </div>
<% end %>
