<%= render "shared/merchant_header" %>

<div id="invoice-info">
  <h3 class="center-header">Invoice #<%= @invoice.id %></h3>
  <p>Status: <%= @invoice.status %></p>
  <p>Created on: <%= format_date(@invoice.created_at) %></p>
  <p>Total Revenue: <%= format_currency(@invoice.total_revenue) %></p>
</div>

<div id="customer-info">
  <h3>Customer:</h3>
  <p><%= @invoice.customer_name %></p>
</div>

<h3>Items on this Invoice:</h3>
<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="item-info-<%= invoice_item.item.id %>">
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Quantity: <%= format_item_info(invoice_item.item.quantity_sold(@invoice)) %></p>
    <p>Unit Price: <%= format_currency(format_item_info(invoice_item.item.find_sold_price(@invoice))) %></p>
    <p>Status: <%= format_item_info(invoice_item.item.invoice_item_status(@invoice)) %></p>

    <div id="selector">
      <p>Update Invoice Item Status</p>
      <%= form_with model: invoice_item, url: invoice_item_path(invoice_item), method: :patch, local: true do |form| %>
        <%= form.select :status, ['Pending', 'Packaged', 'Shipped'], selected: invoice_item.status %>
        <%= form.submit "Update Item Status" %>
        <br>
      <% end %>
    </div>
  </div>
<% end %>
