<div class="invoice_info">
  <h1>Invoice ID: <%= @invoice.id %></h1>
  <p>
    Invoice status: <%= @invoice.status %><br>
    Created at: <%= @invoice.created_at.strftime('%A, %b %d, %Y') %>
  </p>
</div>

<div class="update_status">
  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
    <%= form.label "Update status:" %>
    <%= form.select :status, [:cancelled, :'in progress', :completed], selected: @invoice.status %>
    <%= form.submit :Submit %>
  <%end%>
</div>

<div class="customer_info">
  <p>Customer: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>
</div>

<div class="item_info">
  <% @invoice.invoice_items.each do |invoice_item| %>
  <div id="item_id_<%=invoice_item.item.id%>">
    <p>
      Item: <%= invoice_item.item.name %>
      Quantity ordered: <%= invoice_item.quantity %><br>
      Price: <%= invoice_item.unit_price %><br>
      Item status: <%= invoice_item.status %>
    </p>
  </div>
  <% end %>
</div>

<div class="total_revenue">
    <p>
      Total: $<%= "#{@invoice.total_revenue}".ljust(4, '0') %>
    </p>
</div>
