<h3>Merchant Invoice Show Page</h3>

<div id="invoice-info">
  <h3>Invoice #<%= @invoice.id %></h3>
  <p>Status: <%= @invoice.status %></p>
  <p>Created on: <%= @invoice.convert_created_at %></p>
</div>

<div id="customer-info">
  <h3>Customer:</h3>
  <p><%= @invoice.customer_name %></p>
</div>

<h3>Items on this Invoice:</h3>
<% @invoice.items.each do |item| %>
  <div id="item-info-<%= item.id %>">
    <p>Item Name: <%= item.name %></p>
    <p>Quantity: <%= item.quantity_sold(@invoice).first %></p>
    <p>Unit Price: <%= number_to_currency(item.find_sold_price(@invoice)) %></p>
    <p>Status: <%= item.invoice_item_status(@invoice).first %></p><br>
  </div>
<% end %>
