<h1>Invoice Show Page</h1>
<h2> Merchant: <%= @merchant.name %> </h2>
<section id="invoice_info">
  <ul>
    <li> Invoice ID: <%= @invoice.id %> </li>
    <li> Current Status: <%= @invoice.status %> </li>
    <li> Invoice Creation Date: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </li>
    <li> Customer Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %> </li>
  </ul>
</section>

<section id="invoice_revenue">
  <h3> Total Potential Revenue: <%= @invoice.total_revenue %> </h3>
</section>

<section id="items_info">
  <ul> 
    <% @items.each do |item|  %>
      <li> Item Name: <%= item.name %> </li>
      <li> Item Quantity: <%= item.quantity %> </li>
      <li> Item Price: <%= item.unit_price %> </li>
      <li> Item Status: <%= item.invoice_item_status %> </li>
      <br>
    <% end %>
  </ul>

