<h2>ID: <%= @invoice.id %></h2>
<h2>Status: <%= @invoice.status %></h2>
<h4>Created At: <%= @invoice.created_at.strftime('%A, %B %e, %Y')%></h4>
<h4>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></h4>
