<h1>Invoice: #<%= @invoice.id %></h1>
<ul>
  <li>Status: <%= @invoice.status%></li>
  <li>Created at: <%= @invoice.created_at.strftime("%A %b %M %Y") %></li>
  <li>Total Revenue: $<%= ('%.2f' % @invoice.total_revenue.fdiv(100)) %></li>
  <li> Customer Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></li>
</ul>

<% @invoice.invoice_items.each do |ii| %></p>
      <p>Item: <%= ii.item.name %></p>
      <p>Quantity ordered: <%= ii.quantity %></p>
      <p>Unit price: <%= ii.unit_price %></p>
      <p>Status: <%= ii.status %></p>
    <% end %>

