<h1>Invoice ID: <%= @invoice.id %></h1>

<p>Invoice Status: <%= @invoice.status %></p>
<p>Customer: <%= @customer.first_name %> <%= @customer.last_name %></p>
<p>Created at: <%= @invoice.created_at.strftime('%A %b %e %Y') %></p>
