<h1>Admin Invoice Show Page</h1>
<div id="invoice-information">
    <h2>ID: <%= @invoice.id %></h2>
    <h2>Status: <%= @invoice.status %></h2>
    <%= form_with url:"/admin/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
        <%= f.label "New Status" %>
        <%= f.select :status, ["in progress", "cancelled", "completed"], selected: @invoice.status %>
        <%= f.submit "Update Invoice Status" %>
    <% end %>
    <h4>Created At: <%= @invoice.created_at.strftime('%A, %B %e, %Y')%></h4>
    <h4>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></h4><hr>
</div>

<% @invoice.invoice_items.each do |invoice_item| %>
<div id="invoice-item-<%= invoice_item.id %>">
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Unit Price: <%= invoice_item.unit_price.to_s.insert(-3,'.') %></p>
    <p>Status: <%= invoice_item.status %></p><hr>
</div>
<% end %>
<h3>Total Revenue: <%= @invoice.invoice_revenue.to_s.insert(-3,'.') %></h3>