<h1>Invoice ID: <%= @invoice.id %></h1>

<p>Invoice Status: <%= @invoice.status %></p>
<p>Customer: <%= @customer.first_name %> <%= @customer.last_name %></p>
<p>Created at: <%= @invoice.created_at.strftime('%A %b %e, %Y') %></p>

<h2>Item Information:</h2>
<p>Item Name: <%= @item.name %></p>
<p>Quantity Ordered: <%= @invoice_items.quantity %></p>
<p>Price Sold For: <%= @item.unit_price %></p>
<p>Invoice Item Status: <%= @invoice_items.status %></p>

Total Revenue Generarted: <%= @invoice.revenue %>
