<h1>Id: <%= @invoice.id %></h1>
<br>
<h2>Status: <%= @invoice.status %></h2>
<h3>Created at: <%= @invoice.created_at %></h3>
<h4>Customer Name: <%= @invoice.customer.full_name %></h4>
<br>
<h1>Invoice Items:</h1>
<% @invoice.invoice_items.each do |invoice_item|%>
    <h2>Item Name: <%= invoice_item.item.name %></h2>
    <h3>Unit Price: <%= invoice_item.item.unit_price %></h3>
    <h4>Quantity: <%= invoice_item.quantity %></h4>
    <h5>Status: <%= invoice_item.status %></h5>

<% end %>
