<%= render partial: 'partials/admin_invoice_nav_bar' %>

<div class="body_container">
  <div class="sub_container">
    <div class="sub_header"><%= "Invoice ##{@invoice.id}" %></div>
    <p><%= "Status: #{@invoice.status}" %></p>
    <p><%= "Created on: #{@invoice.created_at.strftime("%A, %B %-d, %Y")}" %></p>
    <h4>Customer:</h4>
    <p><%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>
  </div>
</div>