<h1>Invoice #<%= @invoice.id %></h1>
<div id="invoice_info">
    <p>Status: </p><%= form_with model: [:admin, @invoice] do |f| %>
      <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
      <%= f.submit 'Update Invoice' %>
    <% end %>

  <p>Created at: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
  <p>Total Revenue: <%= @invoice.calculate_invoice_revenue %></p>
  <h4 style='font-size:150%'>Customer:<h4> 
  <p style='font-weight:normal; margin-top:-20px; margin-left:20px; margin-bottom:50px'><%= @invoice.customer.name %></p>
</div>

<h3>Invoice Items</h3>
<table id="invoice_items" class='table_full'>
  <tr><h4><th>Item Name</th><th>Quantity</th><th>Unit Price</th><th>Status</th></h4></tr>
  <% @invoice.invoice_items.each do |item| %>
    <tr id="item_<%= item.id %>">
      <td id="name_<%= item.id %>"><%= item.item.name %></td>
      <td id="quant_<%= item.id %>"><%= item.quantity %></td>
      <td id="unit_price_<%= item.id %>"><%= item.unit_price %></td>
      <td id="status_<%= item.id %>"><%= item.status %></td>
    </tr>
  <% end %>
</table>
