<h1>ADMIN Invoice #<%= @invoice.id %></h1>
  Status: <%= @invoice.status %><br>
  Created at: <%= @invoice.pretty_created_at %><br>
  Customer: <%= @invoice.customer_name %><br>
  Items:
  <hr>
  <% @invoice.items_info.each_with_index do |info, index| %>
      <section id="invoice-item-<%= index %>">
        Item name: <%= info.name %><br>
        Qty: <%= info.quantity %><br>
        Unit price: <%= format_price(info.unit_price) %><br>
        <%= info.status %><br>
      </section>
      <hr>
  <% end %>
