<h1>Invoice #:<%= @invoice.id %></h1>
<p>Invoice Status:<%= @invoice.status %></p>
<p>Invoice created at:<%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer first name:<%= @invoice.customer.first_name %></p>
<p>Customer last name:<%= @invoice.customer.last_name %></p>
