<h1>Invoice #: <%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Created At: <%= @invoice.format_date_long %></p>
<p>Customer: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %>
<p>
  Status: <%= select(:invoice, :status, [[:cancelled, 0], [:completed, 1], [:in_progress, 2]]) %>
  <%= button_to "Update Invoice Status", admin_invoice_path(@invoice), method: :patch %>
</p>
<% @invoice.items.each do |item| %>
  <p><%= item.name %></p>
  <p>Quantity: <%= @invoice.invoice_item(item).quantity %></p>
  <p>Unit Price: $<%= @invoice.invoice_item(item).unit_price.to_f.round(2) %></p>
  <p>Status: <%= @invoice.invoice_item(item).status %></p>
<% end %>
<p>Total Revenue: $<%= @invoice.total_revenue.to_f.round(2) %></p>

