<h1> Invoice ID: <%= @invoice.id %> </h1>

<p><%= 'ID: ' + @invoice.id.to_s %></p>
<p><%= 'Status: ' + @invoice.status %></p>
<p><%= 'Created_at: ' + @invoice.created_at.strftime("%A, %B %e, %Y")%></p>
<p><%= 'Customer First Name: ' + @invoice.customer.first_name %></p>
<p><%= 'Customer Last Name: ' + @invoice.customer.last_name %></p>
