<h3>Invoice Id: <%= @invoice.id %> </h3>
<h3>Invoice Status: <%= @invoice.status %> </h3>
<h3>Created: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </h3>
<h3>Customer First Name: <%= @invoice.customer.first_name %> </h3>
<h3>Customer Last Name: <%= @invoice.customer.last_name %> </h3>

<p>Items: <% @invoice.invoice_items.each do |invoice_item| %>
  <p>Item: <%= invoice_item.item.name %></p>
  <p>Quantity: <%= invoice_item.quantity %></p>
  <p>Price: <%= invoice_item.unit_price %></p>
  <p>Status: <%= invoice_item.status %></p>
  <% end %>
</p>
