<style>
.main_text {
  padding-left: 3em;
  padding-right: 3em;
}

#p0 {
  text-indent: 2em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>


<%= render partial: "admin_shared/header", locals: { subtitle: "Admin Dashboard" } %>

<h3 style="text-align:center;background-color:whitesmoke;border-top-style:solid">Invoice #<%= @invoice.id %></h3>

<div class="main_text">
  <h4>Status:</h4>
  <%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
    <%= form.select :invoice_status, ["Cancelled", "Completed", "In Progress"], selected: "#{@invoice.status}" %>
    <%= form.submit 'Update Invoice Status' %>
  <% end %>

  <h4>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></h4>
  <h4><b>Total Revenue:</b> $<%= sprintf('%.2f', @invoice.invoice_revenue) %></h4>

  <h4>Customer:</h4>
  <p style="padding-left:4em"><%= "#{@customer.first_name} #{@customer.last_name}" %></p>

  <div id="items-details">
    <h4>Items on this Invoice:</h4>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Discounted Price</th>
        <th>Discount Link</th>
        <th>Status</th>
      </tr>
      <% discounted_revenue = 0.0 %>
      <% @invoice.items.each do |item| %>
        <% discounts = @discounts.avaliable_discounts(item) %>
        <% price = item.invoice_item_by(@invoice.id).unit_price %>
        <% price_discounted = item.discounted_price(discounts, @invoice.id) %>
        <% quantity = item.invoice_item_quantity(@invoice.id) %>
        <tr>
          <td><%= item.name %></td>
          <td><%= quantity %></td>
          <td><%= "$" + sprintf('%.2f', price) %></td>
          <td>
            <% if discounts != [] %>
              <%= "$" + sprintf('%.2f', price_discounted) %><% discounted_revenue += price_discounted * quantity %>
            <% else %>
              <%= "N/A" %><% discounted_revenue += price * quantity %>
            <% end %>
          </td>
          <td>
            <% item_discount = item.best_discount(discounts, @invoice.id) %>
            <% if item_discount != nil %>
              <%= link_to "Discount # #{item_discount.id}", merchant_discount_path(item_discount.merchant_id, item_discount.id) %>
            <% else %>
              <%= "N/A" %>
            <% end %>
          </td>
          <td><%= item.invoice_items.first.status %></td>
        </tr>
      <% end %>
      <% if discounted_revenue != @invoice.invoice_revenue %>
        <h4> Revenue After Discount: <%= "$" + sprintf('%.2f', discounted_revenue) %></h4>
      <% end %>
    </table>
  </div>
</div>


