<h1> Invoice ID: <%= @invoice.id %> </h1>

<p><%= 'ID: ' + @invoice.id.to_s %></p>

<%= form_with url: admin_invoice_path(@invoice), method: :put, remote: true do |form|  %>
<p> Status: <%= form.select :status, display_and_order(@statuses, @invoice.status) %>
<%= form.submit "Update Invoice Status" %>
<% end %>

<p><%= 'Created_at: ' + @invoice.created_at.strftime("%A, %B %e, %Y")%></p>
<p><%= 'Customer First Name: ' + @invoice.customer.first_name %></p>
<p><%= 'Customer Last Name: ' + @invoice.customer.last_name %></p>

<div class = 'items'>
<h3> Items on this invoice: </h3>

<% @invoice_items_and_attributes.each do |item| %>
<p><%= item.name %></p>

<ul>
<li><p>Quantity: <%= item.quantity %></p></li>
<li><p>Price: <%= format_price(item.unit_price)%></p></li>
<li><p>Status: <%= item.status %></p></li>
</ul>
<%end %>
</div>

<h3> Total Revenue: <%= format_price(@total_revenue) %> </h3>



 