<h1>Invoice Overview</h1>

==============================
Invoice Details
===============================
<section class="invoice_details">
<%= render partial: 'select_form', locals: {
                                              model: @invoice, 
                                              url: admin_invoice_path(@invoice.id), 
                                              button_text: 'Update Invoice Status'
                                              } %><br>

<li>Status:        <%= @invoice.status.capitalize %></li>
<li>ID:            <%= @invoice.id %></li>
<li>Total Revenue: $<%= @invoice.total_revenue %></li>
<li><%= @invoice.created_at.strftime("Created: %A, %B %d, %Y") %></li><br>
</section>
=============================
Customer Details
===============================
<section class="customer_details">
<li>First Name:       <%= @invoice.customer.first_name %></li>
<li>Last Name:        <%= @invoice.customer.last_name %></li><br>
</section>
===============================
Item Details
================================
<% @invoice.items.each do |item| %>
  <section id="item-<%=item.id%>">
    <h4>        <%= item.name %></h4>
    <li>Qty:    <%= item.quantity_ordered(item.id, @invoice.id).to_sentence %></li>
    <li>Price: $<%= item.total_price(item.id, @invoice.id) %></li>
    <li>Status: <%= item.status(item.id, @invoice.id).to_sentence.capitalize %></li><br>
  </section>
<% end %>