<h1>Invoice Show Page</h1>
<div id="invoice-<%=@invoice.id%>">
<h2>Invoice #<%= @invoice.id %>
</div>
<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
<h3>Customer <%= @invoice.customer.first_name%> <%=@invoice.customer.last_name %></h3>
<h4>Items on this Invoice:</h4>
<%# <style>

table, th, td {
  border:1px solid black;
}
</style> %>

<table style="width:50%">
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
  <tr>
    <% @items.each do |item| %>
     <% @invoice_items.each do |invoice_item| %>
    
      <td><%= item.name%></td>
      <td><%= invoice_item.quantity %></td>
      <td><%= invoice_item.unit_price %></td>
      <td><%= invoice_item.status %></td>
    </tr>
      <% end %>
    <% end %>
    
</table>
