<h1> Admin Invoice Show Page</h1>

<h2>Invoice ID: <%= @invoice.id %></h2>

<h3>
<%= form_with model: @admin_invoice, method: :patch do |f| %>
  <%= f.label :status, "Status:" %>
  <%= f.select :status, ['in_progress', 'completed', 'cancelled'], selected: @invoice.status %>
  <%= f.submit "Update Invoice Status" %>
<% end %>
</h3>

<p><b>Created At:</b> <%= @invoice.created_at.strftime('%A, %b %d, %Y') %></p>
<p><b>Customer:</b> <%= @customer.first_name %> <%= @customer.last_name %></p>
<p><b>Total Revenue:</b> $<%= @invoice.total_revenue/100 %></p>
<br>

<h3>Invoice Items:</h3>
<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">
    <p><b>Item Name:</b> <% @invoice.items.each do |item| %>
                           <%= item.name if item.id == invoice_item.item_id %>
                         <% end %></p>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Unit Price: $<%= (invoice_item.unit_price/100).to_f.round(2) %></p>
    <p>Status: <%= invoice_item.status %></p>
    <br>
  </div>
<% end %>
