<h2>Invoice Show Page</h2><p>Invoice ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Date: <%= @invoice.format_date(@invoice.created_at) %></p>
<p>Customer: <%= @invoice.customer.first_name %>
<br>

<h2>Items On This Invoice:</h2>
<br>

<% @invoice.invoice_items.each do |ii| %>
  <p>Item: <%= ii.item.name %></p>
  <p>Quantity: <%= ii.quantity %></p>
  <p>Unit Price: <%= number_to_currency(ii.unit_price) %></p>
  <p>Status: <%= ii.status %></p>


<% end %>


