<h1>Invoice Number: <%= @invoice.id %></h1>
<hr>

<p><b>Invoice Id:</b> <%= @invoice.id %></p>
<p><b>Invoice Status:</b> <%= @invoice.status %></p>
<%= form_with url: "/admin/invoices/#{@invoice.id}?invoice_id=#{@invoice.id}", method: :patch, local: true do |form| %>
    <%= form.radio_button :status, "completed" %>
    <%= form.label :status_completed, "completed" %>
    <%= form.radio_button :status, "cancelled" %>
    <%= form.label :status_cancelled, "cancelled" %>
    <%= form.radio_button :status, "in progress" %>
    <%= form.label :status_in_progress, "in progress" %>
    <%= form.submit "Update Invoice Status" %>
  <% end %>
<p><b>Invoice Creation Date:</b> <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p><b>Customer Name: </b> <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<p><b>Total Invoice Revenue: </b> $<%= @invoice.total_invoice_revenue %>

<h2>Item Information:</h2>
<% @invoice.invoice_items.each do |invoice_item| %>
<p>-----------------------------</p>
<p><b>Name: </b><%= invoice_item.item.name %></p>
<p><b>Quantity: </b> <%= invoice_item.quantity %>
<p><b>Price Sold For: </b> <%= invoice_item.unit_price %>
<p><b>Invoice Item Status: </b> <%= invoice_item.status %>
  <% end %>
