<h1>Invoice ID: <%= @invoice.id %>'s Info</h1>

<h3><%= @invoice.status %></h3>
<h3><%= @invoice.created_at %></h3>
<h3><%= @invoice.updated_at %></h3><br>
<h3><%= @invoice.customer.first_name %></h3>
<h3><%= @invoice.customer.last_name %></h3>
