<%= render partial: 'admin/shared/header' %>
<h4>Invoice #<%= @invoice.id %></h4>

<h3>Status: </h3>

<div id='invoice_<%= @invoice.id %>_status'>
  <%= form_with model: [:admin, @invoice], local: true do |form| %>   
    <% form.label :status %>
    <%= form.select :status, options_for_select(['In Progress', 'Cancelled', 'Complete'], @invoice.status.capitalize) %>
    <%= form.submit 'Update Invoice Status' %>
  <% end %>
</div>

Invoice Created: <%= @invoice.created_at.strftime('%A, %B %-d, %Y') %><br>
Invoice Total: <%= @invoice.total_invoice_revenue %>
<h3>Customer:</h3>
<%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %>
<br>
<h3>Items on this Invoice:</h3>
<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
  <% @invoice.invoice_items.each do |inv_item| %>
    <div id="invoice_items_<%= inv_item.id %>">
      <tr>
        <td><%= inv_item.item.name %></td>
        <td><%= inv_item.quantity %></td>
        <td><%= inv_item.unit_price_to_dollars %></td>
        <td><%= inv_item.status.capitalize %></td>
      </tr>
    </div>
  <% end%>
</table>

<%= render partial: "/github_info" %>