<h1>Invoice #<%= @invoice.id %></h1>
<h3>Created at: </h3>
<p> <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>

<h3>Status:</h3>
<%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
  <%= f.label :status %>
  <%= f.select :status, ['in progress', 'cancelled', 'completed'], selected: @invoice.status %>
  <%= f.submit 'Update Invoice Status' %>
<% end %>

<h3>Total Revenue: <%= @invoice.total_revenue %></h3>

<h2>Customer:</h2>

<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<% @invoice.items.each do |item| %>
  <p>Item Name: <%= item.name %></p>
  <p>Item Quantity: <%= item.invoice_items.first.quantity %></p>
  <p>Item Unit price: <%= item.unit_price %></p>
  <p>Invoice Status: <%= item.invoice_items.first.status %></p>
<% end %>
