<%= render partial: "/admin/admin_navbar" %>

<h2 id="invoice_">Invoice #<%= @invoice.id %></h2>
<div id='invoice_info'>
<%= form_with model: [:admin, @invoice], url: admin_invoice_path(@invoice), local: true do |form|%>
<%= form.label :status %>
<%= form.select(:status, ['cancelled', 'in progress', 'completed'], :selected => @invoice.status) %>
<%= form.submit 'Update invoice status'%>
<% end %>
</div>
<p id="date"> Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>

<div id='total_revenue'>
  <p> Total Revenue: <%= price_round(@invoice.calculate_total_revenue) %></p>
</div>

<section id="discounted_total">
  <% if @invoice.calculate_total_revenue != @invoice.discounted_invoice_total %>
    <p>Total Discounted Revenue: <%= price_round(@invoice.discounted_invoice_total) %></p>
  <% end %>
</section>

<h4 id="customer_header">Customer:</h4>
<p id="customer"><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<h4 id="invoice_items">Items on this Invoice:</h4>
<table>

    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
    </tr>

<% @invoice.invoice_items.each do |invoice_item| %>

    <tr>
      <div id="item-<%= invoice_item.id %>">
      <td><%= invoice_item.item.name %></td>
      <td><%= invoice_item.quantity %></td>
      <td><%= price_round(invoice_item.unit_price) %></td>
      <td><%= invoice_item.status %></td>
      </div>
    </tr>

<% end %>
</table>

