<h1> Id: <%= @invoice.id %></h1>
<p> Status: <%= @invoice.status %></p>
<p> Creation Date: <%= @invoice.creation_date_formatted %></p>
<p> Customer Name: <%= @customer.first_name %> <%= @customer.last_name %></p>

<% @items.each do |item| %>
   <% item.invoice_items_filtered_by_ivoice_id(@invoice.id).each do |invoice_item| %>
    <h3>Item Name: <%= item.name %></h3>
    <p> Quantity: <%= invoice_item.quantity %></p>
    <p> Price: $<%= item.unit_price.to_f/100 %></p>
    <p> Status: <%= invoice_item.status %></p>
  <% end  %>
<% end %>
<br>
<h3> Total Revenue: $<%= @invoice.invoice_items.revenue.to_f/100 %> </h3>
