<h1>Id: <%= @invoice.id %></h1>
<p><b>Status: </b><%= @invoice.status %></p>
<p><b>Created at: </b><%= @invoice.created_at.strftime("%A, %B %e, %Y") %></p>
<p><b>Customer Name: </b><%= @invoice.customer.full_name %></p>

<%= form_with url: "/admin/invoices/#{@invoice.id}", method: "PATCH" do |form| %>
    <%= form.radio_button :status, "in progress" %>
    <%= form.label :status, "In Progress" %>
    <%= form.radio_button :status, "completed" %>
    <%= form.label :status, "Completed" %>
    <%= form.radio_button :status, "cancelled" %>
    <%= form.label :status, "Cancelled" %>
    <%= form.submit 'Update Invoice Status' %>
<% end %>
<br>

<h1>Invoice Items:</h1>
<% @invoice.invoice_items.each do |invoice_item|%>
    <div id="item-<%= invoice_item.id %>">
    <p><b>Item Name: </b><%= invoice_item.item.name %></p>
    <p><b>Unit Price: </b><%= invoice_item.unit_price %></p>
    <p><b>Quantity: </b><%= invoice_item.quantity %></p>
    <p><b>Status: </b><%= invoice_item.status %></p>
    <br>
    </div>
<% end %>

<br>

<p><b>Total Revenue of All Items: </b><%= @invoice.all_revenue %></p>
<p><b>Total Discounted Revenue: </b><%= @invoice.all_merchants_discounts_revenue %></p>