<div id='invoice-details'>
    <h1>Invoice #<%= @invoice.id %> </h1>

    <p>
      <%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true, form: {style: 'display:inline-block;'} do |f| %>
        <%= f.select :status, options_for_select(['in progress', 'completed', 'cancelled'], @invoice.status) %>
        <%= f.submit "Update Invoice Status"%>
      <% end %>
    </p>

    <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </p>
    <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue.to_f/100)%></p>
    <h2>Customer: </h2>
    <p><%= @invoice.customer.first_name.titlecase  %> <%= @invoice.customer.last_name.titlecase  %> </p>
</div>

<div id="invoice-item-details">
    <h2>Items on this Invoice:</h2>

    <table>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        <% @invoice.invoice_items.each do |invoice_item| %>
            <tr id="invoice-item-<%= invoice_item.id %>">
                <td><%= invoice_item.item.name.titlecase %></td>
                <td><%= invoice_item.quantity %></td>
                <td><%= number_to_currency(invoice_item.unit_price.to_f/100) %></td>
                <td><%= invoice_item.status.titlecase %></td>
            </tr>
        <% end %>
    </table>
</div>