<h1> Invoice id: <%= @invoice.id %> Show Page </h1>

<p><%= 'id: ' + @invoice.id.to_s %></p>
<p><%= 'customer_id: ' + @invoice.customer_id.to_s %></p>
<p><%= 'status: ' + @invoice.status %></p>
<p><%= 'created_at: ' + @invoice.created_at.to_s %></p>
<p><%= 'updated_at: ' + @invoice.updated_at.to_s %></p>