<h1>Admin Invoice Show Page</h1>
<div id = "<%=@invoice.id%>_id">
<p>Invoice ID: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Created At: <%= @invoice.convert_created_at %></p>
<p>Customer Name: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>
<p>Items: <% @invoice.items.each do |i| %></p>
          <ul id = "item_<%=i.id%>">
          <li>ID:<%= i.id %></li>
          <li>Item name: <%= i.name %></li>
          <li>Quantity Ordered: <%= i.quantity_sold(@invoice) %></li>
          <li>Item sold price: <%= i.find_sold_price(@invoice) %></li>
          <li>Invoice Item status:  <%= i.invoice_item_status(@invoice) %>
          </ul>
          <% end %>
</div>