<p><%= @invoice.id %></p>
<p><%= @invoice.status %></p>
<p><%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<% @invoice.items.each do |item| %>
  <p>Name: <%= item.name %> Quantity: <%= @invoice.find_invoiceitem_quantity(item) %> Price sold for: <%= number_to_currency(@invoice.find_invoiceitem_unitprice(item)/100.0) %> Invoice Item Status: <%= @invoice.find_invoiceitem_status(item) %></p>
<% end %>
<% total_revenue = @invoice.items.sum do |item| %>
  <% (@invoice.find_invoiceitem_unitprice(item))*(@invoice.find_invoiceitem_quantity(item)) %>
<% end %>
<p>Total Revenue: <%= number_to_currency(total_revenue/100.0)  %></p>