<h1>Invoice #<%= @invoice.id %></h1>
<div id="invoice_info">
    <p>Status: </p><%= form_with model: [:admin, @invoice] do |f| %>
      <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
      <%= f.submit 'Update Invoice' %>
    <% end %>

  <p>Created at: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
  <p>Customer: <%= @invoice.customer.name %></p>
  <p>Total Revenue: <%= @invoice.calculate_invoice_revenue %></p>
</div>

<h3>Invoice Items</h3>
<ul id="invoice_items">
  <% @invoice.invoice_items.each do |item| %>
    <li id="item_<%= item.id %>">
      <%= item.item.name %>
      <p>Quantity: <%= item.quantity %></p>
      <p>Sale Price: <%= item.unit_price %></p>
      <p>Status: <%= item.status %></p>
    </li>
  <% end %>
</ul>
