<li>ID: <%=@invoice.id%></li>
<li>Status: <%=@invoice.status%></li>
<li>Created at: <%=@invoice_created%></li>
<li>Customer: <%=@invoice.customer_full_name%></li>

<% @invoice.items.each do |item| %>
  <%=item.name%><br>
<% end %>