<!DOCTYPE html>
<div class="">
  <h1 class="little_esty_shop">Little Esty Shop</h1>
</div>

<div class="nav_bar_wrapper">
  <h1 class="title_name">Admin Dashboard</h1>
  <div class="nav_bar_links">
    <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/admin", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "Merchants", "/admin/merchants", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "Invoices", "/admin/invoices", method: :get %></p>
  </div>
</div>

<h2 class="title_wrapper">Invoice #<%= @invoice.id %></h2>


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Invoice Show Page</title>
    <h1>Admin Invoice Show Page</h1>
  </head>
  <body>
    <h2>Invoice #<%= @invoice.id %></h2><br>
    <section>
      <div>
        <div style='display:flex;' name="Current Status">Status:
          <%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
            <%= f.select :status, ["in progress", "completed", "cancelled"], selected: @invoice.status %>
            <%= f.submit "Update Invoice Status" %>
          <% end %>
        </div>
        <!-- <div>Current Status: <%= @invoice.status %></div> -->
        <h4>Created on: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></h4>
        <h4>Expected Invoice Revenue: $<%= number_with_precision(@invoice_revenue, precision: 2, delimiter: ',') %></h4>
      </div>
      <div>
        <h4>Customer Info: <%= @customer.first_name %> <%= @customer.last_name %></h4>
      </div>
    </section><br>
    <section>
      <table>
        <tr>
          <th>Item Name:</th>
          <th>Quantity:</th>
          <th>Item Price:</th>
          <th>Status:</th>
        </tr>
          <% @invoice_items.each do |invoice_item| %>
        <tr id="id-<%= invoice_item.id %>">
            <td><%= invoice_item.name %></td>
            <td><%= invoice_item.quantity %></td>
            <td>$<%= number_with_precision(invoice_item.convert_to_dollar, precision: 2, delimiter: ',') %></td>
            <td><%= invoice_item.status %></td>
          <% end %>
        </tr>
      </table>
    </section>
  </body>
</html>
