<%= render partial: "layouts/admin_header"%>
<p>ID: <%=@invoice.id%></p>
<p>Status: <%=@invoice.status%></p>

<%= form_with url: admin_invoice_path(@invoice), method: :patch, local: true do |form| %>
  <%= form.label :status, "Change Status" %>
  <%= form.select :status, options_for_select([["In Progress", "in progress"], ["Cancelled", "cancelled"], ["Completed", "completed"]], @invoice.status) %>
  <%= form.submit "Update Invoice Status" %>
<% end %>

<p>Created on <%=@invoice.created_at.strftime("%A, %B %e, %Y")%></p>
<p>Customer: <%="#{@customer.first_name} #{@customer.last_name}"%></p>
<p>Total Revenue: $<%= sprintf("%.2f", @total_revenue.round(2)) %></p>

<div id="invoice_items">
  <h2>--- Items ---</h2>
    <% @invoice_items.each do |invoice_item|%>
      <p> <%= invoice_item.item.name %> , Quantity: <%= invoice_item.quantity %>, Price: $<%=sprintf("%.2f", (invoice_item.unit_price.to_f/100).round(2))%>, Status: <%= invoice_item.status %></p>
    <%end%>
</div>
