<h1>Admin Invoice Show</h1>


<p><%= @invoice.id %></p>
<p><%= @invoice.status %></p>
<p><%= @invoice.created_at.strftime("%A, %B, %d, %Y") %><p>

<p><%= @invoice.customer.first_name%> <%= @invoice.customer.last_name%></p>
