<p>Invoice ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Date of Creation: <%= @invoice.format_time %></p>
<p>Customer First Name: <%= @customer.first_name %>
<p> Customer Last Name: <%= @customer.last_name %>

<% @invoice.items.each do |item| %>
  <p>Item name: <%= item.name %><br></p>
  <p>Item quantity: <%= item.invoice_items.first.quantity %><br></p>
  <p>Item unit price: <%= item.unit_price %><br></p>
  <p>Item status: <%= item.invoice_items.first.status %><br></p>
<% end %><br><br>

<p>Total Revenue: <%= @invoice.invoice_items.total_revenue %></p>
