<h1> Customer's Name: <%= @invoice_customer.first_name %> <%= @invoice_customer.last_name %> </h1>
<h3> Invoice I.D.:  <%= @invoice.id %> </h3>
<p> Status: <%= @invoice.status %> </p>
<p> Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </p>
