<h1>Admin Dashboard</h1>
<h3>Invoice #<%= @invoice.id %></h3>
<%= form_with url: admin_invoice_path(@invoice), method: 'patch', local: true do |f| %>
  <%= f.label :invoice_status, "Status" %>
  <%= f.select :invoice_status, ["cancelled", "in progress", "completed"], selected: @invoice.status %>
  <%= f.submit "Update Invoice Status" %>
<% end %>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<div id="total_revenue">
  <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue.to_f/100, precision:2) %></p>
</div>
<div id="customers">
  <h3>Customer:</h3>
  <p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</div>
<h3>Items on this Invoice:</h3>
<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <div id=<%= invoice_item.item.name %>>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= number_to_currency(invoice_item.unit_price.to_f/100, precision:2) %></td>
        <td>Status: <%= invoice_item.status %></td>
      </tr>
    </div>  
  <% end %>
</table>