
<h1>Invoice #: <%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Created At: <%= @invoice.format_date_long %></p>
<p>Customer: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %>
<%= form_with(url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true) do |f| %>
  
  <%= f.label :status %>
  <%= f.select :status, options_for_select([[:cancelled, "cancelled"], [:completed, "completed"], [:in_progress, "in_progress"]], @invoice.status) %>
  <%= f.submit "Update Invoice Status" %>
<% end %>
<% @invoice.items.each do |item| %>

  <p><%= item.name %></p>
  <p>Quantity: <%= @invoice.invoice_item(item).quantity %></p>
  <p>Unit Price: $<%= (@invoice.invoice_item(item).unit_price / 100.00) %></p>
  <p>Status: <%= @invoice.invoice_item(item).status %></p>

<% end %>
<p>Total Revenue: $<%= @invoice.total_revenue %></p>


