<h1> admin invoice show </h1>

<section id="invoice-information">
  <ul>
    <li>invoice id: <%= @invoice.id %></li>
    <li>invoice status: <%= @invoice.status %></li>
    <li>invoice creation date: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></li>
    <li>invoice total: <%= @invoice.invoice_items.invoice_amount %></li>
  </ul>

  <%= form_with invoice: @invoice, method: :patch do |f| %>
    <%= f.select :status, ["in progress","completed", "cancelled"], selected: "#{@invoice.status}" %>
    <%= f.label :status %>
    <%= f.submit %>
  <% end %>
</section>

<section id="customer-information">
  <ul>
    <li>customer name: <%= @invoice.customer.name %></li>
    <li>customer address: <%= @invoice.customer.address%></li>
  </ul>
</section>

<section id="invoice-items-information">
  <ul>
    <% @invoice.invoice_items.each do |i| %>
      <li>item name: <%= i.item.name %></li>
      <li>quantity: <%= i.quantity %></li>
      <li>unit price: <%= i.unit_price %></li>
      <li>shipping status: <%= i.status%></li>
    <% end %>
  </ul>
</section>