
<p>Invoice ID: <%= @invoice.id%></p>
<p>Invoice Status: <%= @invoice.status%></p>
<p>Invoice Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y")%></p>
<p>Invoice's Customer Name: <%= @invoice.customer.name %></p>
<%@invoice.items.each do |item|%>
  <p>Item: <%=item.name%></p>
  <p>Quantity: <%item.invoice_items.each do |invoice_item| %>
    <%= invoice_item.quantity%></p>
    <p>Price: <%=invoice_item.unit_price%></p>
    <p>Status: <%=invoice_item.status%></p>
  <%end%>


<%end%>