<h1>Invoice Info</h1>


<h3>Invoice ID: <%= @invoice.id %></h3>
<h4>Status: <%= @invoice.status %></h4>
<h4>Created at: <%= @invoice.created_at %></h4>

<section class="customer">
  <h2>Customer Info</h2>
  <p><%= @invoice.customer.first_name %></p>
  <p><%= @invoice.customer.last_name %></p>
</section>

<section>
  <h2>Items on this Invoice:</h2>
  <% @invoice.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <p>Name: <%= item.name %></p>
    <p>Quantity: <%= @invoice.find_invoice_item(item.id).quantity %></p>
    <p>Unit Price: <%= @invoice.find_invoice_item(item.id).unit_price %></p>
    <p>Status: <%= @invoice.find_invoice_item(item.id).status %></p>
  </div><hr>
  <% end %>
</section>
