<h1><%="Invoice #{@invoice.id} Details"%></h1>
==============================
Customer Details
===============================
<li>First Name:       <%= @invoice.customer.first_name %></li>
<li>Last Name:        <%= @invoice.customer.last_name %></li><br>
================================
Invoice Details
===============================
<li>ID:     <%= @invoice.id %></li>
<li>Status: <%= @invoice.status %></li>
<li><%= @invoice.created_at.strftime("Created: %A, %B %d, %Y") %></li><br>
=================================
Item Details
================================
<% @invoice.items.each do |item| %>
  <section id="item-<%=item.id%>">
    <h4>        <%= item.name %></h4>
    <li>Qty:    <%= item.quantity_ordered(item.id, @invoice.id).to_sentence %></li>
    <li>Price: $<%= item.total_price(item.id, @invoice.id) %></li>
    <li>Status: <%= item.status(item.id, @invoice.id).to_sentence.capitalize %></li><br>
  </section>
<% end %>