<section id=invoice-information>
  <ul>
    <li>Invoice id: <%= "#{@invoice.id}" %></li>
    <li>Invoice Status: <%= "#{@invoice.status}" %></li>
    <li>Created on: <%= "#{@invoice.date}" %></li>
    <li>Customer Name: <%= "#{@invoice.customer_name}" %></li>
  </ul>
</section>


<h3>Invoice Items</h3>

  <% @items.each do |item| %>
    <%= item.name %>
    <%= item.amount(@invoice.id) %>
    <%= item.sold_price(@invoice.id) %>
    <%= item.order_status(@invoice.id) %>
  <% end %>

<h4>Total Revenue</h4>

<%= @invoice.revenue %>

<section id='change-status'>
  <%= form_with model: [:admin, @invoice], method: :patch, local: true do |form| %>

    <%= form.select(:status, ['completed', 'in progress', 'cancelled'], selected: @invoice.status) %>
    <%= form.submit "Update Invoice Status" %>

  <% end %>
</section>
