<h1>Invoice ID: <%= @invoice.id %></h1>
<h3>Created At: <%= @invoice.custom_date %></h3>
<h3>Customer Name: <%= @invoice.customer.full_name %></h3>
<br>
<section id="invoice-status">
<h3>Status: <%= @invoice.status %></h3>
<%= form_with model: @invoice, url: admin_invoice_path(@invoice) do |form| %>
  <%= form.select :status, ['in_progress', 'completed', 'cancelled'], selected: @invoice.status %>
  <%= form.submit "Update" %>
<% end %>
</section>
<br>
<h2>Items: </h2>
<ul>
<% @invoice.items.each do |item| %>
<li><p><b>Name: </b><%= item.name %></p></li>
<li><p><b>Quantity: </b><%= @invoice.item_quantity(item) %></p></li>
<li><p><b>Price: </b><%= item.unit_price %></p></li>
<li><p><b>Status: </b><%= item.status %></p></li>
<% end %>
<p><b>Total Revenue: </b><%= @invoice.total_invoice_revenue %></p>
</ul>