<h3>Invoice Id: <%= @invoice.id %> </h3>
<h3>Invoice Status: <%= @invoice.status %> </h3>
<h3>Created: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </h3>
<h3>Customer First Name: <%= @invoice.customer.first_name %> </h3>
<h3>Customer Last Name: <%= @invoice.customer.last_name %> </h3>
