<div id="header">
    <%= render "shared/admin_header" %>
</div>

<div class='section-title'><h1>Edit Merchant Information</h1></div>
    
<% flash.each do |type, msg| %>
    <div class='flash_red'><%= msg %></div>
<% end %>

<%= form_with url: admin_merchant_path(@merchant), method: :patch, local: true do |form| %>
    <%= form.label :name, 'Updated Merchant Name' %>
    <%= form.text_field :name, value: @merchant.name %>
    <%= submit_tag("Update Information") %>
<% end %>
