<h1>Edit <%= "#{@merchant.name}" %></h1>
<%= form_with url: "/admin/merchants/#{@merchant.id}", method: :patch, local: true do |f| %>
    <div id="merchant_edit_name">
        <p><%= f.label :name, "Name: "%> 
        <%= f.text_field :name, value:@merchant.name %></p>
    </div>
     <%= f.submit "Update" %>
<% end %>