<h1>Edit Merchant #<%= @merchant.id %></h1>
<br>
<%= form_with url: "/admin/merchants/#{@merchant.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, value: @merchant.name %>
  <%= form.select :status, options_for_select(["disabled", "enabled"]), class: 'form-control' %>
  <%= form.submit "Update Merchant" %>
<% end %>
