<h1>Edit Merchant #<%= @merchant.id %></h1>
<br>
<%= form_with url: "/admin/merchants/#{@merchant.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, placeholder: "#{@merchant.name}" %>
  <%= form.label :status %>
  <%= form.text_field :status, placeholder: "#{@merchant.status}" %>
  <%= form.submit "Update Merchant" %>
<% end %>
