<%= render 'shared/nav_bar_admin' %>
<%= render '/shared/flash_messages' %>
<% flash.each do |type, message|%>
  <p><%= message %> </p>
  <% end %>
<h1>Update: <%=@merchant.name%></h1>
<%=form_with url: admin_merchant_path(@merchant), method: :patch, local: true do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name, value: @merchant.name%>
  <%= f.hidden_field :merchant_id, value: @merchant.id %>
  <%= f.submit "Update" %>
<% end %>