<%= form_tag admin_merchant_path(@merchant.id), method: :patch do %>
  <h2>Update Merchant:</h2>
  <%= link_to "#{@merchant.name}", admin_merchant_path(@merchant.id) %></br>
  <%= label_tag :name %>
  <%= text_field_tag :name, @merchant.name %><br>
  <%= submit_tag "Submit" %>
<% end %>