<h1>Editing Merchant <%= @merchant.name %></h1>

<%= form_with(model: @merchant, url: admin_merchant_path(@merchant), method: :patch,local: true, :html => { :class => 'navbar-custom', :style => 'width: auto;' }) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.submit %>

<% end %>