<h1>Edit Merchant Information</h1>

<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>

<%= form_with url: admin_merchant_path(@merchant), method: :patch, local: true do |form| %>
    <%= form.label :name, 'Updated Merchant Name' %>
    <%= form.text_field :name, value: @merchant.name %>
    <%= submit_tag("Update Information") %>
<% end %>
