<%= link_to "Create New Merchant", new_admin_merchant_path %>
<% @merchants.each do |merchant| %>
  <div id=<%="merchant-#{merchant.id}"%> >
    <%=link_to merchant.name, admin_merchant_path(merchant) %> is <%= merchant.status%><br>
    <%=button_to "Enable", admin_merchant_path(merchant), method: :patch, params: {status: "Enabled"} %>
    <%=button_to "Disable", admin_merchant_path(merchant), method: :patch, params: {status: "Disabled"} %>
  </div>
<% end %>
