<%= render 'shared/nav_bar_admin' %>

<%= render '/shared/flash_messages' %>

<section id="merchants-enabled">
  <h2>Enabled Merchants</h2>
  <ul id="merchants-enabled-list">
    <% @merchants_enabled.each do |merchant| %>
      <div id="merchant-<%=merchant.id%>"> 
       <%= image_tag(@images.sample.thumb) %>
      <li><%= link_to merchant.name, admin_merchant_path(merchant) %>
      <%= merchant.status%>
       <%= form_with(model: merchant, url: admin_merchant_path(merchant), method: :put) do |form| %>
            <%= form.hidden_field :status, value: merchant.enabled? ? 'disabled' : 'enabled' %>
            <%= form.submit merchant.enabled? ? 'Disable' : 'Enable' %>
          <% end %>
          </li>
      </div>
    <% end %>
  </ul>
</section>

<section id="merchants-disabled">
  <h2>Disabled Merchants</h2>
  <ul id="merchants-disabled-list">
    <% @merchants_disabled.each do |merchant| %>
      <div id="merchant-<%=merchant.id%>">
      <%= image_tag(@images.sample.thumb) %>
      <li><%= link_to merchant.name, admin_merchant_path(merchant) %>
      <%= merchant.status%>
       <%= form_with(model: merchant, url: admin_merchant_path(merchant), method: :put) do |form| %>
            <%= form.hidden_field :status, value: merchant.enabled? ? 'disabled' : 'enabled' %>
            <%= form.submit merchant.enabled? ? 'Disable' : 'Enable' %>
          <% end %>
          </li>
      </div>
    <% end %>
  </ul>

<section id="top_merchants">
  <h3>Top Merchants</h3>
  <ol>
    <% @merchants.top_five_merch_by_revenue.each do |merchant| %>
      <div id="top_merchant_<%= merchant.id %>">
      <li><%= link_to merchant.name, admin_merchant_path(merchant) %> - 
      <%= number_to_currency(merchant.total_merch_revenue) %> in sales</li>
      <p>Top day for <%= merchant.name %> was <%= merchant.top_selling_date %></p>
      <br>
      </div>
    <% end %>
  </ol>
</section>

