<header>
    <h1>Admin Dashboard</h1>
    <nav>
    <%= link_to 'Dashboard', '/admin'%>
    <%= link_to 'Merchants', '/admin/merchants'%>
    <%= link_to 'Invoices', '/admin/invoices'%>
    </nav>
</header>

<h2>Merchants</h2>
  <table id='merchant-index'>
    <tr><th><h3>Name</h3></th></tr>
    <% @merchants.each do |merchant| %>
    <tr><td id='merchant-<%= merchant.id %>'> <%= link_to merchant.name, admin_merchant_path(merchant) %> </td></tr>
    <%end%>
  </table>