<div class="enabled_merchants">
  <h2> Enabled Merchants </h2>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "enabled" %>
      <%= merchant.name %>
      <%= button_to "Disable #{merchant.name}", "/admin/merchants/#{merchant.id}?status=disabled", method: :put %>
    <% end %>
  <% end %>
</div>

<div class="disabled_merchants">
  <h2> Disabled Merchants </h2>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "disabled" %>
      <%= merchant.name %>
      <%= button_to "Enable #{merchant.name}", "/admin/merchants/#{merchant.id}?status=enabled", method: :put %>
    <% end %>
  <% end %>
</div>

<div class="top_merchants">
  <% @merchants.top_five_merchants.each do |merchant| %>
  <li>
    <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
    <%= merchant.totalrevenue %>
  </li>
  <% end %>
</div>
