<h1>Merchants Index</h1>
<div id='enabled'>
  <h2> Enabled Merchants: </h2>
    <ul>
      <% @merchants.each do |merchant| %>
        <% if merchant.enabled? %>
          <div id=<%=merchant.id %>>
            <li>
              <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %> Status: <%= merchant.status %>
              <%= form_with url:admin_merchant_path(merchant.id), model: @merchant, method: :patch, local: true do |form|  %> 
                <%= form.hidden_field :status, value: :disabled %>
                <%= form.hidden_field :to_index %>
                <%= form.submit 'Disable' %>
              <% end %>
            </li>
          </div> 
        <% end %>
      <% end %>
    </ul>
</div>

<div id='disabled'>
  <h2>Disabled Merchants:</h2>
    <ul>
    <% @merchants.each do |merchant| %>
      <% if merchant.disabled? %>
        <div id=<%=merchant.id %>>
          <li>
            <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %> Status: <%= merchant.status %>
            <%= form_with url:admin_merchant_path(merchant.id), model: @merchant, method: :patch, local: true do |form|  %> 
              <%= form.hidden_field :status, value: :enabled %>
              <%= form.hidden_field :to_index %>
              <%= form.submit 'Enable' %>
            <% end %>
          </li>
        </div>
      <% end %>
    <% end %>
    </ul>
<div>

<div> <%= link_to "Create a new merchant", new_admin_merchant_path %> </div>

<div class = 'top'> 
  <h3>Top 5 merchants by total revenue generated:<h3>
    <% @top_merchants.each do |top_merchant| %>
      <li> <%= link_to "#{top_merchant.name}:" , admin_merchant_path(top_merchant) %> <%= "#{top_merchant.revenue}" %> </li>
      <% end %>
</div>