<h1>Admin Merchants Index page</h1>



<ul>
  <% @merchants.each do |merchant| %>

    <% if merchant.status == true %>
      <div id="merchant-<%= merchant.id %>">
        <p><li><%= link_to "#{merchant.name}", admin_merchant_path( merchant.id) %>
              <%= button_to "Disable", admin_merchant_path( merchant.id), method: :patch, params:[status: false]%>
        </li></p>
      </div>
    <% else %>
      <div id="merchant-<%= merchant.id %>">
      <p><li><%= link_to "#{item.name}", admin_merchant_path(merchant.id) %>
             <%= button_to "Enable", admin_merchant_path( merchant.id), method: :patch, params:[status: true]%>
      </li></p>
      </div>
    <% end %>
    <% end %>
</ul>
