<h1>Merchants</h1>

<p><%= link_to "New Merchant", "/admin/merchants/new" %></p>
<%= render partial: 'sortable' %>

<div class = top_merchants>
<h3> Top Merchants </h3>
<ol>
<% Merchant.top_merchants(5).each do |merchant| %>
  <li>
    <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
    <%= "- #{number_to_currency(merchant.revenue)} in sales" %>
    <br>
    <%= "Top selling date for #{merchant.name} was #{date_formatter(merchant.best_day.first.created_at)}" %>
  </li>
<% end %>
</ol>
</div>

<div class = enabled>
<h3> Enabled Merchants </h3>
<% @merchants.each do |merchant| %>
    <% if merchant.status == "enabled" %>
      <ul>
        <li>
          <%= merchant.name%>
          <%= button_to("Disable", "/admin/merchants/#{merchant.id}/", method: :patch, name: "status",value: "disable") %>
        </li>
      </ul>
    <% end %>
<% end  %>
</div>

<div class = disabled>
<h3> Disabled Merchants </h3>
<% @merchants.each do |merchant| %>
    <% if merchant.status == "disabled" %>
      <ul>
        <li>
          <%= merchant.name%>
          <%=button_to("Enable", "/admin/merchants/#{merchant.id}/", method: :patch, name: "status",value: "enable")%>
        </li>
      </ul>
    <% end %>
<% end %>
</div>