<h1>Admin Merchants</h1>



<div id="all_enabled_merchants">
<h3>Enabled Merchants</h3>

<% @enabled.each do |enabled_merchant| %>
<section id="enabled_merchants-<%= enabled_merchant.id %>">

  <%= link_to "#{enabled_merchant.name}", "/admin/merchants/#{enabled_merchant.id}" %><br>
<p> <%= button_to "Disable #{enabled_merchant.name}", "merchants/#{enabled_merchant.id}", method: :patch, params: {status: "disabled"} %> <p>
</section>
<% end %>
</div>

<br><br>
<div id="all_disabled_merchants">
<h3>Disabled Merchants</h3>
<% @disabled.each do |disabled_merchant| %>

<section id="disabled_merchants-<%= disabled_merchant.id %>">

  <%= link_to "#{disabled_merchant.name}", "/admin/merchants/#{disabled_merchant.id}" %><br>
<p> <%= button_to "Enable #{disabled_merchant.name}", "admin/merchants/#{disabled_merchant.id}", method: :patch, params: {status: "enabled"} %> <p>

</section>
<% end %>

<h3>Top 5 Merchants By Revenue</h3>

<div id="top_5_big">

<% @top_five.each do |merchant| %>
<section id="top_five_merchant-<%= merchant.id %>">

  <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %><br>

<section>
<% end %>
</div>