<header>
    <h1>Admin Dashboard</h1>
    <nav>
    <%= link_to 'Dashboard', '/admin'%>
    <%= link_to 'Merchants', '/admin/merchants'%>
    <%= link_to 'Invoices', '/admin/invoices'%>
    </nav>
</header>

<h2>Merchants</h2>
<div id='merchant-index'>
  <table>
    <tr><th><h3>Name</h3></th></tr>
    <% @merchants.each do |merchant| %>
    <tr><td id='merchant-<%= merchant.id %>'> <%= merchant.name %> </td></tr>
    <%end%>
  </table>
</div>