<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text">Admin Dashboard</p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', admin_dashboard_index_path, style: 'pull-right' %>
      <%= link_to 'Merchants', admin_merchants_path, style: 'pull-right' %>
      <%= link_to 'Invoices', admin_invoices_path, style: 'pull-right' %></li>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='ml-auto col-sm-5'>Top Merchants</p>
    <p class='mr-auto col-sm-5'>Merchants</p>
    <ul class='ml-auto col-sm-4'>
      <% @merchants.each do |m| %>
        <section id="merchant-<%= m.id %>">
          <li><%= link_to "#{m.name}", admin_merchant_path(m) %>
          <%= button_to 'Enable', admin_merchant_status_path(m), method: :patch, params: {status: 'enabled'} %>
          <%= button_to 'Disable', admin_merchant_status_path(m), method: :patch, params: {status: 'disabled'} %></li>
        </section>
      <% end %>
    </ul>
  </div>
</body>

