<h1>Admin Merchants</h1><br>
<% @merchants.each_with_index do |merchant, index| %>
  <div id="merchants<%= index %>">
  <h3> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
  </div>

  <div id="top-five-merchants">
  <h3>Top Items</h3>
  <% @merchant.top_five_items.each do |item| %>
    <ol>
      <li><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> - <%= number_to_currency(item.revenue.fdiv(100)) %> in sales </li>
      <p> Top selling date for <%= item.name %> was <%= item.top_day.strftime("%-m/%d/%y") %> </p>
    </ol>
  <% end %>
</div>
<% end %>
