<h3>All Merchants: </h3>
<%= render partial: 'admin/shared/nav' %>
<%= button_to 'Create a new merchant', new_admin_merchant_path, method: :get %>

<div id='enabled_merchants'>
<h5>Enabled Merchants: </h5>
<% @merchants.each do |merchant| %>
  <% if merchant.enabled %>
    <div id="merchant_<%= merchant.id %>">
    <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
    <%= button_to 'Disable', admin_merchant_path(merchant.id), method: :patch, params: { enabled: false } %></p>
    </div>
  <% end %>
<% end %>
</div>

<div id='disabled_merchants'>
<h5>Disabled Merchants: </h5>
<% @merchants.each do |merchant| %>
  <% unless merchant.enabled %>
    <div id="merchant_<%= merchant.id %>">
    <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
    <%= button_to 'Enable', admin_merchant_path(merchant.id), method: :patch, params: { enabled: true } %></p>
    </div>
  <% end %>
<% end %>
</div>

<div id='top_by_revenue'>
<h5>Top Merchants:</h5>
<ol>
<% Merchant.top_5_by_revenue.each do |merchant| %>
  <li><%= merchant.name %> - <%= number_to_currency(merchant.total_revenue/100.0) %></li>
<% end %>
</ol>
</div>