<header>
    <h1>Admin Dashboard</h1>
    <nav>
    <%= link_to 'Dashboard', '/admin'%>
    <%= link_to 'Merchants', '/admin/merchants'%>
    <%= link_to 'Invoices', '/admin/invoices'%>
    </nav>
</header>

<h2>Merchants Index</h2>
<div id='merchant-index'>
  <table id='enabled_merchants'>
    <tr><th><h3>Enabled Merchants</h3></th></tr>
    <% @enabled_merchants.each do |merchant| %>
    <tr><td id='merchant-<%= merchant.id %>'> 
      <%= link_to merchant.name, admin_merchant_path(merchant) %> 
      <%= button_to "Disable", admin_merchant_path(merchant), method: :patch, params: { enabled: false }, :class => 'status_button' %>
    </td></tr>
    <%end%>
  </table>

  <br>
  
  <br>

  <table id='disabled_merchants'>
    <tr><th><h3>Disabled Merchants</h3></th></tr>
    <% @disabled_merchants.each do |merchant| %>
    <tr><td id='merchant-<%= merchant.id %>'> 
      <%= link_to merchant.name, admin_merchant_path(merchant) %> 
      <%= button_to "Enabled", admin_merchant_path(merchant), method: :patch, params: { enabled: true }, :class => 'status_button' %>
    </td></tr>
    <%end%>
  </table>
</div>