<%= render partial: 'admin/header' %>

<section id="enabled-merchants">
<h3>Enabled Merchants</h3>

<% @merchants.active.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>" >
  <p>
    <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
    <%= button_to "Disable", admin_merchant_path(merchant.id) , method: :patch, params: {merchant: {active_status: :disabled}}%>
  </p>
  </div>
<% end %>
</section>

<section id="disabled-merchants">
<h3>Disabled Merchants</h3>

<% @merchants.inactive.each do |merchant| %>
<div id="merchant-<%= merchant.id %>" >
  <p>
  <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
  <%= button_to "Enable", admin_merchant_path(merchant.id) , method: :patch, params: {active_status: :enabled}%>
  </p>
</div>
<% end %>
</section>