<%= render partial: 'admin/header' %>

<% @merchants.each do |merchant| %>
<div id="merchant-<%= merchant.id %>" >
  <p>
  <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
  <% if merchant.active_status == "enabled" %>
    <%= button_to "Disable", admin_merchant_path(merchant.id) , method: :patch, params: {merchant: {active_status: :disabled}}%>
  <% else %>
    <%= button_to "Enable", admin_merchant_path(merchant.id) , method: :patch, params: {active_status: :enabled}%>
  <% end %>
  </p>
</div>
<% end %>