<h3>Admin Merchants</h3>
<% @merchants.each do |merchant|%>
<div id="<%=merchant.id%>"
<p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}/edit"%>, <%= merchant.status %></p>
<p><%= button_to "Enable", "/admin/merchants/#{merchant.id}", type: "submit", name: "status", merchant_status: "enabled", method: :patch %><%= button_to "Disable", "/admin/merchants/#{merchant.id}", type: "submit", name: "status", merchant_status: "disabled", method: :patch %></p>
</div>
<% end %>


<div id="Enabled">
  <h3>Enabled Merchants:</h3>
  <% @merchants.enabled_merchants.each do |merchant| %>
    <div id="enabled_merchant<%= merchant.id %>">
    <%= merchant.name%>     
    </div>
  <% end %>  
</div>
<div id="Disabled">
  <h3>Disabled Merchants:</h3>
  <% @merchants.disabled_merchants.each do |merchant| %>
    <div id="disabled_merchant<%= merchant.id %>">
    <%= merchant.name%>
    </div>
  <% end %>  
</div>

<div id="top_merchants">
<h3>Top 5 Merchants by Revenue</h3>
<% @merchants.top_5_merchants.each do |merchant| %>
<p><%= merchant.name %>, <%= merchant.revenue %>, <%= "Top selling date for #{merchant.name} was #{merchant.high_rev_day}" %></p>
<% end %> 
</div>


<%= link_to "New Merchant", "/admin/merchants/new" %>