<h1>Admin Merchants Index</h1>
<%= link_to "Create New Merchant", new_merchant_path %>

<div id = "enabled-merchants">
<h2>Enabled Merchants</h2>
  <% @merchants.all_enabled.each do |merchant|%>
    <div id = "merchant-<%=merchant.id%>">
      <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> Status: <%= merchant.enabled_status %><p>

      <p><%= form_with model: merchant, url: merchant_path(merchant), local: true, method: :patch do |form| %>
        <%= form.hidden_field :is_enabled, value: false %>
        <%= form.submit "Disable" %>
      <% end %></p>
    </div>
  <% end %>
</div>

<div id = "disabled-merchants">
<h2>Disabled Merchants</h2>
  <% @merchants.all_disabled.each do |merchant|%>
    <div id = "merchant-<%=merchant.id%>">
      <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> Status: <%= merchant.enabled_status %><p>

      <p><%= form_with model: merchant, url: merchant_path(merchant), local: true, method: :patch do |form| %>
        <%= form.hidden_field :is_enabled, value: true %>
        <%= form.submit "Enable" %>
      <% end %></p>
    </div>
  <% end %>
</div>
