<h1>Admin Merchants</h1><br>
<% @merchants.each_with_index do |merchant, index| %>
  <div id="merchants<%= index %>">
  <h3> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3><p> Status: <%= merchant.status %></p>
  <%= button_to "Enable #{merchant.name}", "/admin/merchants/#{merchant.id}?enabled=true", method: :patch, local: true %>&emsp;
  <%= button_to "Disable #{merchant.name}", "/admin/merchants/#{merchant.id}?disabled=true", method: :patch, local: true %>
  </div>
<% end %>

<div id="top-five-merchants">
  <h3>Top Merchants</h3>
  <ol>
  <% @merchants.top_five_merchants.each do |merchant| %>
      <li><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %> - <%= number_to_currency(merchant.revenue.fdiv(100)) %> in sales </li>
  <% end %>
  </ol>
</div>