<h1> List of all Merchants </h1>
<% @merchants.each do |merchant| %>
  <section id="merchant-<%=merchant.id%>">
    <li>Merchant Name: <%= link_to merchant.name, admin_merchant_path(merchant.id) %>
    Status: <%= merchant.status %>
    <%= button_to "Disable", admin_merchant_path(merchant.id, update_to: 'Disabled'), method: :patch %> 
    <%= button_to "Enable", admin_merchant_path(merchant.id, update_to: 'Enabled'), method: :patch %> 
</section>
<% end %>

