<%= render partial: 'admin/admin_navbar'%>
<h1>Admin Merchants</h1>


<%= button_to "Create New Merchant", new_admin_merchant_path, method: :get, local: true %>


<div id="Enabled Merchants"> Enabled Merchants:

<ul> <% @enabled_merchants.each do |merchant| %>
  <li> <%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
    <%=button_to "Disable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: {enabled: false} %>
  </li>
<% end%>
</ul>
</div>

<div id="Disabled Merchants"> Disabled Merchants:
  <ul> <% @disabled_merchants.each do |merchant| %>
    <li> <%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
      <%=button_to "Enable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: {id: merchant.id} %>
    </li>
  <% end%>
  </ul>
</div>

<div id="Top 5 Merchants"><h2> Top 5 Merchants by Revenue</h2>
  <ul> <% Merchant.top_5_revenue.each do |merchant| %>
    <li><p> Name: <%= merchant.name %> </p><p> Best Day: <%= merchant.top_day %></p> </li>
    <% end %>
  </ul>
</div>