<h1><center>Admin Merchants Index</center></h1>
<% @merchants.each do |merchant| %>
<div id="merchant-<%= merchant.id %>">
  <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
  <p><%= merchant.status %></p>
  <% if merchant.status == "Enabled" %>
  <%= button_to 'Disable', "/admin/merchants/#{merchant.id}", method: :patch, params: {status: "Disabled"}%>
    <% elsif merchant.status == "Disabled" %>
    <%= button_to 'Enable', "/admin/merchants/#{merchant.id}", method: :patch, params: {status: "Enabled"} %>
    <% end %>
</div>
<% end %>
