<h1>Merchants</h1>
<h2>Admin</h2>

<% if @merchants.any? %>
  <% @merchants.each do |merchant| %>
    <ul>
      <div id=<%= "admin-merchants-#{merchant.id}" %> >
        <li>
          <%= link_to merchant.name, admin_merchant_path(merchant.id) %>
          <%= form_with model: merchant, url: admin_merchant_path(merchant.id), method: :patch do |f| %>
            <%= "Status: #{merchant.status}" %>
            <%= f.hidden_field :status %>
            <%= f.submit "Disable/Enable" %>
          <% end %>
        </li>
      </div>
    </ul>
  <% end %>
<% end %>