<header>
  <h1 style="text-align: center;">Merchants</h1>
  <nav class="navbar">
    <%= link_to "Create Merchant", new_admin_merchant_path %>
  </nav>
</header>
<body>

  <section class="card text-white bg-primary mb-3" style="width: 30rem; float:left; text-align: center;">
    <div class="card-body">
      <h3 class="card-header">Index</h3><br>
        <% @merchants.each do |m| %>
          <div class="card-text" id="merchant-<%= m.id %>">
            <a href="/admin/merchants/<%=m.id %>" style="color:white; font-size: larger;"><%= m.name %></a>, <i>Status: <%= m.status %></i> <%= form_with url: admin_merchant_path(m), method: :patch, local: :true do |f| %>
              <% if m.status == "enabled" %>
                <%= f.button "disable", name: :status, value: "disabled", class: "btn btn-danger" %>
              <% else %>
                <%= f.button "enable", name: :status, value: "enabled", class: "btn btn-success" %>
              <% end %>
            <% end %>
          </div><hr>
        <% end %>
    </div>
  </section>
  <section class="card text-white bg-success mb3" style="width: 30rem; float: right; text-align: center;" id="enabled">
    <div class="card-body">
      <h3 class="card-header">Enabled Merchants</h3><br>
      <% @enabled_merchants.each do |em| %>
        <div class="card-text" id="disabled-merchant-<%= em.id %>">
          <a href="/admin/merchants/<%=em.id %>" style="color:white; font-size: larger;"><%= em.name %></a><%= form_with url: admin_merchant_path(em), method: :patch, local: :true do |f| %>
            <%= f.button "disable", name: :status, value: "disabled", class: "btn btn-danger" %>
          <% end %>
        </div><hr>
      <% end %>
    </div>
  </section>
  <section class="card text-white bg-danger mb3" style="width: 30rem; float: right; text-align: center;" id="disabled">
    <div class="card-body">
      <h3 class="card-header">Disabled Merchants</h3><br>
      <% @disabled_merchants.each do |dm| %>
        <div class="card-text" id="disabled-merchant-<%= dm.id %>">
          <a href="/admin/merchants/<%=dm.id %>" style="color:white; font-size: larger;"><%= dm.name %></a><%= form_with url: admin_merchant_path(dm), method: :patch, local: :true do |f| %>
            <%= f.button "enable", name: :status, value: "enabled", class: "btn btn-success" %>
          <% end %>
        </div><hr>
      <% end %>
    </div>
  </section>
</body>