<%= render partial: 'partials/admin_merchant_nav_bar' %>

<div class="new_merchant"><%= link_to "New Merchant", new_admin_merchant_path %></div>

<div class="body_container">
  <div class="sub_container">
    <div class="merchants_container">
      <div id="Enabled_Merchants">
        <h3>Enabled Merchants</h3>
        <% @enabled_merchants.each do |merchant| %>
          <div class="merchant_container", id = "Merchant-<%=merchant.id%>">
              <%= link_to "#{merchant.name}", admin_merchant_path(merchant)%>
              &emsp;
              <%=button_to "Disable", admin_merchant_path(merchant), method: :patch, params: {merchant:{ status: "Disabled"} } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="merchants_container">
      <div id="Disabled_Merchants">
        <h3>Disabled Merchants</h3>
        <% @disabled_merchants.each do |merchant| %>
          <div class="merchant_container", id = "Merchant-<%=merchant.id%>">
            <%= link_to "#{merchant.name}", admin_merchant_path(merchant)%>
            &emsp;
            <%=button_to "Enable", admin_merchant_path(merchant), method: :patch, params: {merchant:{status: "Enabled"} } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sub_container">
    <div id="top_merchants">
      <h3 style="text-align:center;">Top Merchants</h3>
      <ol>
        <% @top_merchants_by_revenue.each do |merchant| %>
          <div id="top_merchant-<%= merchant.id %>">
            <li>
              <p>
                <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
                <%= "- #{number_to_currency((merchant.revenue.to_f/100).truncate, precision: 0)} in sales" %>
              </p>
              <p><%= "Top day for #{merchant.name} was #{merchant.top_day_by_revenue.created_at.strftime("%-m/%-d/%y")}"%> </p>
            </li>
          </div>
        <% end %>
      </ol>
    </div>
  </div>
</div>