<%= link_to 'Return to Dashboard', "/admin", class:"btn btn-outline-dark navbar-custom" %>
<br>
<br>
<h1>Welcome Admin!</h1>
<br>

<%= render partial: 'top_merchants', locals: { placeholder: ''} %>

<br>
<div id="create">
  <%= button_to 'Create New Merchant', new_admin_merchant_path, class:"btn btn-outline-dark navbar-custom", method: :get %>
  <br>
</div>
<br>

<%= render partial: 'enabled_merchants', locals: { placeholder: ''} %>

<br>
<br>

<%= render partial: 'disabled_merchants', locals: { placeholder: ''} %>

<br>
