<h1>Merchants</h1>
<%= link_to "Dashboard", admin__index_path %>
<%= link_to "Invoices", admin_invoices_path %>

<h2> Enabled Merchants</h2>
<% @merchants.group_by_enabled.each do |merchant| %>
  <div id=<%= "#{merchant.id}"%>>
    <%= link_to merchant.name, admin_merchant_path(merchant.id) %>
    <%= form_with url: "/admin/merchants/update/#{merchant.id}?status=false", method: :patch, local: true do |f| %>
      <%= f.submit "Disable" %>
    <% end %>
  </div>
<% end %>

<h2>Disabled Merchants</h2><% @merchants.group_by_disabled.each do |merchant| %>
  <div id=<%= "#{merchant.id}"%>>
    <%= link_to merchant.name, admin_merchant_path(merchant.id) %>
    <%= form_with url: "/admin/merchants/update/#{merchant.id}?status=true", method: :patch, local: true do |f| %>
      <%= f.submit "Enable" %>
    <% end %>
  </div>
<% end %>

<div id="top_five">
<h2>Top Five Merchants By Revenue<% @merchants.top_five_by_revenue.each do |merchant| %></h2>
<%= link_to merchant.name, admin_merchant_path(merchant.id) %>
<%= number_to_currency((merchant.total_revenue)/100) %></br>
<% end %></div>
