<div class="merchant_list">
  <% @merchants.each do |merchant| %>
    <%= merchant.name %>
  <% end %>
</div>

<div class="top_merchants">
  <ol>
    <% @merchants.top_five_merchants.each do |merchant| %>
      <li><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></li>
      <p> <%= "#{merchant.name}" %> - <%= merchant.totalrevenue %> in sales </p>
      <p>Top day for <%= "#{merchant.name}" was: %><%= merchant.best_sales_day %></p>
    <% end %>
  </ol>





</div>
