<div class="flex-container">
  <div id='title'>
  <h2>Admin Dashboard</h2>
  <%= link_to "Create New Merchant", "/admin/merchants/new" %>
  </div>
  <div id='nav'>
    <th><%= link_to "Dashboard", "/admin" %></th>&emsp;
    <th><%= link_to "Merchants", "/admin/merchants" %></th>&emsp;
    <th><%= link_to "Invoices", "/admin/invoices" %></th>
  </div>
</div>


<div class="flex-container">
  <div class='body-left', id="enabled_merchants">
    <center h2 style='background-color: #f1f1f1;'><h3>Enabled Merchants</h3></center>
    <% @merchants.each do |merc| %>
      <div class='body-left', id="enabled-<%= merc.id %>">
        <% if merc.status == "Enabled" %>
          <%= link_to "#{merc.name}", "/admin/merchants/#{merc.id}" %>&emsp;
          <%= button_to "Disable", "/admin/merchants/#{merc.id}?disabled=true", method: :patch, local: true %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='body-right', id="top-five-merchants">
    <center h2 style='background-color: #f1f1f1;'><h3>Top Merchants</h3></center>
    <ol>
    <% @merchants.top_five_merchants.each do |merchant| %>
      <div class='body-right', id="top-five-<%= merchant.id %>">
        <li><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %> - <%= number_to_currency(merchant.revenue.fdiv(100)) %> in sales </li>
        <p><%= merchant.name %>'s Top Sale Date: <%= merchant.top_day.strftime("%-m/%d/%y") %></p>
      </div>
    <% end %>
    </ol>
  </div>
</div>

<div class="flex-container">
  <div class= 'body-left', id="disabled_merchants">
      <center h2 style='background-color: #f1f1f1;'><h3>Disabled Merchants</h3></center>
      <% @merchants.each do |merc| %>
        <div class='body-left' id="disabled- <%= merc.id %>">
          <% if merc.status == "Disabled" %>
            <%= link_to "#{merc.name}", "/admin/merchants/#{merc.id}" %>&emsp;
            <%= button_to "Enable", "/admin/merchants/#{merc.id}?enabled=true", method: :patch, local: true %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<% @merchants.each do |merchant| %>
  <div id="merchants-<%= merchant.id %>">
  <h3> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3><p> =Status: <%= merchant.status %></p>
  <%= button_to "Enable #{merchant.name}", "/admin/merchants/#{merchant.id}?enabled=true", method: :patch, local: true %>&emsp;
  <%= button_to "Disable #{merchant.name}", "/admin/merchants/#{merchant.id}?disabled=true", method: :patch, local: true %>
  </div>
<% end %>