<p id="notice"><%= notice %></p>

<h1>Admin Merchants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<%# fix this %>
  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= link_to 'Show', admin_merchant_path(merchant.id) %></td>
        <td><%= link_to 'Edit', edit_admin_merchant_path(merchant.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Merchant', new_admin_merchant_path %>
