<h1> Admin Merchants</h1>

<% @merchants.each do |merchant| %>
  <div id="id-<%= merchant.id %>">
    <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}"%> 

    <%= form_for merchant, url: merchant_path(merchant), method: :patch do |f| %>
    <% if merchant.status == "enabled" %>
      <%= f.submit "Disable", name: 'merchant[status]', value: 'Disable' %>
    <% else %>
      <%= f.submit "Enable", name: 'merchant[status]', value: 'Enable' %>
    <% end %>
  <% end %>

  </div>
<% end %>
