<h1>Merchants List</h1>

<div id="top_five_merchants_by_rev">
	<h3> Top 5 Merchants by Revenue </h3>
	<% @top_5_merchants.each do |merchant| %>
		<%= link_to "#{merchant.name}", admin_merchant_path(merchant) %> - $<%= "#{merchant.revenue}"%> in sales <br>
		<%= "Top selling date for #{merchant.name} was #{merchant.date_with_most_revenue}" %>
		<br><br>
	<% end %>
</div>
<br>
<br>
<h2>All Merchants</h2>
<div id="merchant-list">
	<% @active_merchants.each do |merchant| %>
		<div id='<%= merchant.id %>'>
			<%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
			<p>Status: <%= merchant.status %></p>
			<%= button_to 'Disable', admin_merchant_path(merchant), params: {status: 'disabled'}, method: :patch %>
		</div>
		</br></br>
	<% end %>

	<% @disabled_merchants.each do |merchant| %>
		<div id='<%= merchant.id %>'>
			<%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
			<p>Status: <%= merchant.status %></p>
			<%= button_to 'Enable', admin_merchant_path(merchant), params: {status: 'active'}, method: :patch %>
		</div>
		</br></br>
	<% end %>
</div>

<%= link_to "Create New Merchant", new_admin_merchant_path %>