<%= render "shared/admin_header" %>

<%= link_to "Create New Merchant", new_merchant_path %>

<div class="flex-parent">

  <div class="flex-child">

    <%= render partial: 'merchants', locals: {
      is_enabled: true,
      edit_value: false,
      merchants: @enabled_merchants
    } %>

    <%= render partial: 'merchants', locals: {
      is_enabled: false,
      edit_value: true,
      merchants: @disabled_merchants
    } %>

  </div>

  <div class="flex-child" id = "top_5">
  <h2>Top Merchants</h2>
  <ol>
  <% @top_5.each do |merchant| %>

    <li>Name: <%= link_to merchant.name, admin_merchant_path(merchant) %></li>
    <p>Total Revenue: <%= format_currency(merchant.revenue) %></p>
    <p>Top selling date for <%= merchant.name %> was <%= format_date(merchant.highest_revenue_date) %></p>
  <% end %>
  </ol>
  </div>

</div>