<%= render 'partials/navbar_admin' %><br>
<%= render 'partials/two_columns' %>

<h5 style="padding-left: 20px"><%= link_to "Create a New Merchant", new_admin_merchant_path %></h5>

<div class="row">
  <div class="column";>
    <div class="enabled-merchants">
      <h3> Status: Enabled </h3>
      <hr><br>
      <ul>
      <% @enabled_merchants.each do |merchant| %>
      <h5><li><%= merchant.name %></li></h5>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="column">
    <div class="disabled-merchants">
      <h3> Status: Disabled </h3>
      <hr><br>
      <ul>
      <% @disabled_merchants.each do |merchant| %>
      <h5><li><%= merchant.name %></li></h5>
      <% end %>
      </ul>
    </div>
  </div>
</div>
