<h2>Merchants Index Page</h2>
<%= link_to "Create New Merchant", new_admin_merchant_path, method: :get %>


<section id="enabled_merchants">
  <h4>Enabled Merchants</h4>
    <% @merchants.enable.each do |merchant| %>
        <section class="admin_merchants" id="admin_merchants-<%=merchant.id%>">
          <%= link_to "Link to #{merchant.name}", admin_merchant_path(merchant) %>
          <%= button_to "Disable", admin_merchant_path(merchant.id), params: {status: "disabled"}, method: :patch %>
        </section>
    <% end  %>
</section>

<section id="disabled_merchants">
  <h4>Disabled Merchants</h4>
    <% @merchants.disable.each do |merchant| %>
    <section class="admin_merchants" id="admin_merchants-<%=merchant.id%>">
          <%= link_to "Link to #{merchant.name}", admin_merchant_path(merchant) %>
          <%= button_to "Enable", admin_merchant_path(merchant.id), params: {status: "enabled"}, method: :patch %>
        </section>
    <% end %>
</section><br><hr>
