<h1>Merchants Dashboard</h1>

<div id="merchants">

  <div id="top_five_merchants">
    <% @merchants.top_sellers.each do |merchant| %>
      <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
      <h2>Total Revenue: <%= merchant.total_revenue %></h2>
    <% end %>
  </div>
  <div id="enabled-merchants">
    <% @merchants.enabled_check(true).each do |merchant| %>
      <div id="merchant-<%= merchant.id %>">
        <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
        <%= link_to "Enabled", admin_merchant_path(merchant.id), method: :patch %>
      </div>
    <% end %>
  </div>
  <div id="disabled-merchants">
    <% @merchants.enabled_check(false).each do |merchant| %>
      <div id="merchant-<%= merchant.id %>">
        <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
        <%= link_to "Disabled", admin_merchant_path(merchant.id), method: :patch %>
      </div>
    <% end %>
  </div>
</div>


<div id="new_merchant_link">
  <%= link_to "Create New Merchant", new_admin_merchant_path %>
</div>