<h3>All Merchants: </h3>
<%= render partial: 'admin/shared/nav' %>

<% @merchants.each do |merchant| %>
  <div id="merchant_<%= merchant.id %>">
  <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>

  <% if merchant.enabled? %>
    <%= button_to 'Disable', admin_merchant_path(merchant.id), method: :patch, params: { enabled: false } %>
  <% else %>
    <%= button_to 'Enable', admin_merchant_path(merchant.id), method: :patch, params: { enabled: true } %></p>
  <% end %>
  </div>
<% end %>
