  <h1>Welcome to the Merchant Admin Portal</h2><br>

  <%= button_to "Add a New Merchant", "/admin/merchants/new", method: :get %><br>

  <table style="width: 100%">
    <tr>
      <th>Merchant ID</th>
      <th>Merchant Name</th>
      <th>Status</th>
      <th>Change Status</th>
    </tr>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.id %></td>
        <td><%= link_to "#{merchant.name}", "#{request.url}/#{merchant.id}", method: :get %></td>
        <td><% if merchant.enabled == true %>
              <p> Enabled </p>
            <% else %>
              <p> Disabled </p>
            <% end %>
        </td>
        <td>
            <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, local: true do |form| %>
            <% if merchant.enabled == true %>
              <%= form.hidden_field :enabled, value: false%>
              <%= form.submit 'Disable' %><br><br>
            <% else %>
               <%= form.hidden_field :enabled, value: true %>
              <%= form.submit 'Enable' %>
            <% end %>
          <% end %></td>
      </tr>
    <% end %>
</table>
