<h1>Admin Merchants Index</h1>

<%= link_to "Create New Merchant", new_admin_merchant_path %>

<section id="merchants-enabled">
  <h3>Enabled Merchants</h3>
  <ul>
    <% @merchants_enabled.each do |merchant| %>
      <li class='merchant-<%= merchant.id %>'><%= link_to merchant.name, admin_merchant_path(merchant) %> <%= button_to 'Disable', admin_merchant_path(merchant, {merchant: {status: "disabled"}}), method: :patch %></li>
    <% end %>
  </ul>
</section>

<section id="merchants-disabled">
  <h3>Disabled Merchants</h3>
  <ul>
    <% @merchants_disabled.each do |merchant| %>
      <li class='merchant-<%= merchant.id %>'><%= link_to merchant.name, admin_merchant_path(merchant) %> <%= button_to 'Enable', admin_merchant_path(merchant, {merchant: {status: "enabled"}}), method: :patch %></li>
    <% end %>
  </ul>
</section>

<section id="merchants-revenue">
  <h3>Top 5 Merchants by Revenue</h3>
  <ol>
    <% @top_5_merchants.each do |merchant| %>
      <li class="merchant"><%= merchant.name %>: <%= number_to_currency(merchant.total_revenue) %></li>
        <p class="best-day">Top selling day was: <%= merchant.best_day %></p>
    <% end %>
  </ol>
</section>