<h2>Merchants</h2>
<%@merchants.each do |merchant|%>
  <p><a href = 'merchants/<%=merchant.id%>'><%=merchant.name%></p>
  <%= form_with url: "/admin/merchants/merchant.id", method: :patch, local: true do |form| %>
  <%= form.hidden_field :status, value: 'enabled' %>
  <%= form.submit('Enable') %><br>
  <% end %>
<%end%>
