<%= render partial: 'admin/header' %>
<%= button_to "Create New Merchant", new_admin_merchant_path , method: :get %>
<span id="enabled-merchants" style="float:left; padding:10px 60px 60px 60px;">
<h3>Enabled Merchants</h3>

<% @merchants.active.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>" >
  <p>
    <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
    <%= button_to "Disable", admin_merchant_path(merchant.id) , method: :patch, params: {merchant: {active_status: :disabled}}%>
  </p>
  </div>
<% end %>
</span>

<span id="disabled-merchants" style="float:left; padding:10px 60px 60px 60px;">
<h3>Disabled Merchants</h3>

<% @merchants.inactive.each do |merchant| %>
<div id="merchant-<%= merchant.id %>" >
  <p>
  <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
  <%= button_to "Enable", admin_merchant_path(merchant.id) , method: :patch, params: {active_status: :enabled}%>
  </p>
</div>
<% end %>
</span>