
<%= link_to 'Create New Merchant', new_admin_merchant_path %>
<div id='merchant-index'>
  <table id='enabled_merchants' style='width:43vw'>
    <tr><th><h3>Enabled Merchants</h3></th></tr>
    <% @enabled_merchants.each do |merchant| %>
    <tr><td id='merchant-<%= merchant.id %>'> 
      <%= link_to merchant.name, admin_merchant_path(merchant) %> 
      <%= button_to "Disable", admin_merchant_path(merchant), method: :patch, params: { enabled: false }, :class => 'status_button' %>
    </td></tr>
    <%end%>
  </table>

  <br>
  
  <br>

  <table id='disabled_merchants' style='width:43vw; margin-bottom: 50px;'>
    <tr><th><h3>Disabled Merchants</h3></th></tr>
    <% @disabled_merchants.each do |merchant| %>
    <tr><td id='merchant-<%= merchant.id %>'> 
      <%= link_to merchant.name, admin_merchant_path(merchant) %> 
      <%= button_to "Enable", admin_merchant_path(merchant), method: :patch, params: { enabled: true }, :class => 'status_button' %>
    </td></tr>
    <%end%>
  </table>
</div>

<% content_for :aside do%>
<div id='top_5_merchants' >
  <table id='top_merchants' >
    <tr><th><h3>Top 5 Merchants by Revenue</h3></th></tr>
    <% @top_merchants.each_with_index do |merchant, index| %>
    <tr><td id='top-merchant-<%= merchant.id %>'> 
      <%=index + 1%>. <%=  link_to merchant.name, admin_merchant_path(merchant) %> - $<%= '%.2f' % (merchant.revenue) %> in revenue
      <%= "Top sales date for #{merchant.name} was #{merchant.best_sales_date}" %>
    </td></tr>
    <%end%>
  </table>
</div>
<%end%>