<h1>Admin - Merchants</h1>

<section>
  <% @merchants.each do |merchant|%>
    <section id="merchant-<%= merchant.id %>">
      <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
      <%= merchant.status %>
      <% if merchant.status == "Disabled" %>
        <%= button_to "Enable", "/admin/merchants/#{merchant.id}", params: {status: "Enabled"}, method: :patch %>
      <% else %>
        <%= button_to "Disable", "/admin/merchants/#{merchant.id}", params: {status: "Disabled"}, method: :patch %>
      <% end %>
    </section>
  <% end %>
</section>
