<h1>Merchants List</h1>

<div id="merchant-list">
	<% @active_merchants.each do |merchant| %>
		<div id='<%= merchant.id %>'>
			<%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
			<p>Status: <%= merchant.status %></p>
			<%= button_to 'Disable', admin_merchant_path(merchant), params: {status: 'disabled'}, method: :patch %>
		</div>
		</br></br>
	<% end %>

	<% @disabled_merchants.each do |merchant| %>
		<div id='<%= merchant.id %>'>
			<%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
			<p>Status: <%= merchant.status %></p>
			<%= button_to 'Enable', admin_merchant_path(merchant), params: {status: 'active'}, method: :patch %>
		</div>
		</br></br>
	<% end %>
</div>