<%= render partial: 'partials/admin_merchant_nav_bar' %>

<div class="sub_container">
  <h2>New Merchant</h2>

  <%= form_with model: [:admin, @merchant], method: :post, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.submit "Submit" %>
  <% end %>
</div>