<h1>New Merchant Form</h1>

<%= form_with url: "/admin/merchants/", method: :post do |f| %>
  <%= f.label :name, "Merchant Name: " %>
  <%= f.text_field :name %>
  <%= f.hidden_field :enabled, value: false %>
  <%= f.submit :submit %>
<% end %>