<header>
    <h1>Admin Dashboard</h1>
    <nav>
    <%= link_to 'Dashboard', '/admin'%>
    <%= link_to 'Merchants', '/admin/merchants'%>
    <%= link_to 'Invoices', '/admin/invoices'%>
    </nav>
</header>

<h1>Create New Merchant</h1>

<%= form_with url: admin_merchants_path, method: :post do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>