<%= flash[:notice] %>
<h3>Merchant: <%= @merchant.name %></h3>
<%= render partial: 'admin/shared/nav' %>

<%= render partial: "/github_info" %>

<p><%= link_to 'Edit this merchant', edit_admin_merchant_path(@merchant) %>