<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<body>
  <%= render partial: "admin_shared/header", locals: { subtitle: "Merchant Show" } %>
</body>
<h3 style="text-align:center;background-color:whitesmoke;border-top-style:solid"><%=@merchant.name%></h3>
<h3>Name: <%=@merchant.name%></h3>
    <br>
  <%= link_to "Update Merchants Info",edit_admin_merchant_path(@merchant.id) %>
  <br><br>
  <%= link_to "Back to All Merchants ",admin_merchants_path %>
</center>
