<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Little Esty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/merchants">Merchants</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul id="dropdownmenu-admin" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin">Dashboard</a></li>
            <li><a class="dropdown-item" href="/admin/merchants">Merchants</a></li>
            <li><a class="dropdown-item" href="/admin/invoices">Invoices</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://snake.googlemaps.com/">Feeling Lucky 😎</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Github Stats
          </a>
          <!-- all data from Github API calls are stored below via PORO method calls (return values for user contribs are all hashes). -->
            <!-- These variables are then rendered individually within the navbar header drop-downs for each statistic -->
          <% repo_name = API.repo_name %>
          <% user_names = API.user_names %>
          <!-- <%# total_commits = API.aggregate_by_author(:commits) %> -->
          <!-- <%# total_pulls = API.aggregate_by_author(:pulls) %> -->
          <!-- Placeholder, proxy for edge case when API rate limit is hit, to keep method calls consistent within navbar items: -->
          <% dummy_hash = {'tvaroglu' => 0, 'AbbottMichael' => 0, 'ElliotOlbright' => 0, 'bfl3tch' => 0} %>
          <!-- Comment the following two lines out (and uncomment the real method calls 4 lines above) to hit the actual endpoints: -->
          <% total_commits = dummy_hash %>
          <% total_pulls = dummy_hash %>
          <ul id="dropdownmenu-github" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://github.com/bfl3tch/little-esty-shop" target="_blank"><%= repo_name %></a></li>
            <li><hr class="dropdown-divider"></li>
            <li class="dropdown-item"><strong>Total Commits:</strong></li>
              <ul><%= "#{user_names[:taylor]}: " "#{total_commits['tvaroglu']}"%></ul>
              <ul><%= "#{user_names[:michael]}: " "#{total_commits['AbbottMichael']}"%></ul>
              <ul><%= "#{user_names[:elliot]}: " "#{total_commits['ElliotOlbright']}"%></ul>
              <ul><%= "#{user_names[:brian]}: " "#{total_commits['bfl3tch']}"%></ul>
            <li><hr class="dropdown-divider"></li>
            <li class="dropdown-item"><strong>Pull Requests:</strong></li>
              <ul><%= "#{user_names[:taylor]}: " "#{total_pulls['tvaroglu']}"%></ul>
              <ul><%= "#{user_names[:michael]}: " "#{total_pulls['AbbottMichael']}" %></ul>
              <ul><%= "#{user_names[:elliot]}: " "#{total_pulls['ElliotOlbright']}" %></ul>
              <ul><%= "#{user_names[:brian]}: " "#{total_pulls['bfl3tch']}" %></ul>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/refresh">Refresh Stats 🔄</a></li>
          </ul>

        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
