<nav style="align: center; position: fixed; width: auto;" class="navbar navbar-expand-lg navbar-dark navbar-center navbar-custom">
  <div class="container-fluid">
    <a style="color: black;" class="navbar-brand" href="/">Little Esty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: black;" class="nav-link active" aria-current="page" href="/merchants">Merchants</a>
        </li>
        <li class="nav-item dropdown">
          <a style="color: black;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul id="dropdownmenu-admin" class="dropdown-menu navbar-custom" aria-labelledby="navbarDropdown">
            <li><a style="color: black;" class="dropdown-item" href="/admin">Dashboard</a></li>
            <li><a style="color: black;" class="dropdown-item" href="/admin/merchants">Merchants</a></li>
            <li><a style="color: black;" class="dropdown-item" href="/admin/invoices">Invoices</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://snake.googlemaps.com/">Feeling Lucky 😎</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a style="color: black;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Github Stats
          </a>
        <!-- all data from Github API calls are stored below via PORO method calls (return values for user contribs are all hashes). -->
          <!-- These variables are then rendered individually within the navbar header drop-downs for each statistic -->
          <% repo_name = API.repo_name %>
          <% user_names = API.user_names %>
          <% total_commits = ApplicationController.commits %>
          <% total_pulls = ApplicationController.pulls %>
          <ul id="dropdownmenu-github" style="width: 200px !important; height: auto;" class="dropdown-menu  navbar-custom" aria-labelledby="navbarDropdown">
            <li><a style="text-align: center; font-weight: bold;" class="dropdown-item" href="https://github.com/bfl3tch/little-esty-shop" target="_blank"><%= repo_name %></a></li>
            <li><hr class="dropdown-divider"></li>
            <li class="dropdown-item"><strong>Total Commits:</strong></li>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:taylor]}: " "#{total_commits['tvaroglu']}"%></ul>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:michael]}: " "#{total_commits['AbbottMichael']}"%></ul>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:elliot]}: " "#{total_commits['ElliotOlbright']}"%></ul>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:brian]}: " "#{total_commits['bfl3tch']}"%></ul>
            <li><hr class="dropdown-divider"></li>
            <li class="dropdown-item"><strong>Pull Requests:</strong></li>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:taylor]}: " "#{total_pulls['tvaroglu']}"%></ul>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:michael]}: " "#{total_pulls['AbbottMichael']}" %></ul>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:elliot]}: " "#{total_pulls['ElliotOlbright']}" %></ul>
              <ul style="padding-top:15px; text-align:left;"><%= "#{user_names[:brian]}: " "#{total_pulls['bfl3tch']}" %></ul>
            <li><hr class="dropdown-divider"></li>
            <li><a style="text-align: center; font-weight: bold;" class="dropdown-item" href="/refresh">Refresh Stats 🔄</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav><br/><br/><br/>
