<h1>Lil Esty is the Betsy</h1>
<br>
<%= link_to "Merchants", "/merchants/", method: :get%><br><br>
<%= link_to "Example Merchant1 Items", "/merchants/1/items", method: :get%><br><br>
<%= link_to "Example Merchant1 Invoices", "/merchants/1/invoices", method: :get%><br><br>
<%= link_to "Admin Dashboard", admin_path, method: :get%><br><br>

<%= link_to "Merchant Roll Out Page", "https://www.tomorrowtides.com/merchant_rickroll_out_page.html" %>