<h1>Welcome to Little Esty Shop With Bulk Discounts!</h1>

<h2>Links: </h2>

<%= link_to "Admin: Merchants", "/admin/merchants" %>
<%= link_to "Admin: Invoices", "/admin/invoices" %>
<%= link_to "Admin Dashboard", dashboard_index_path %>
<%= link_to "Example Merchant: Invoices", "/merchants/1/invoices" %>
<%= link_to "Example Merchant: Items", "/merchants/1/items" %>
<%= link_to "Example Merchant Dashboard", "/merchants/1/dashboard" %>
<%= link_to "Example Merchant: Bulk Discounts", "/merchants/1/bulk_discounts" %>
