<section id="status-<%= object.id%>">
  <%= form_with model: object, method: :patch, local: true do |f| %>
    <%= f.hidden_field :previously, value: request.path %>
    <%= f.select :status, options, selected: object.status%>
    <%= f.submit text %>
  <% end %>
</section>