<p id="notice"><%= notice %></p>

<h1>Merchant Invoices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<%# fix this bishhhh %>
  <tbody>
    <% @merchant_invoices.each do |merchant_invoice| %>
      <tr>
        <td><%= link_to 'Show', merchant_invoice %></td>
        <td><%= link_to 'Edit', edit_merchant_invoice_path(merchant_invoice) %></td>
        <td><%= link_to 'Destroy', merchant_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant Invoice', new_merchant_invoice_path %>
