<h2><%= @merchant.name %></h2>

<section id="inv_info">
  <h4>Invoice #<%= @invoice.id %></h4><br>
  <p>Status: <%= @invoice.status %></p><br>
  <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p><br>
  <% total_revenue = @inv_items.sum do |inv_it| %>
    <% ((inv_it.quantity) * (inv_it.unit_price) / 100.0) %>
  <% end %>
  <p>Total Revenue: <%= number_to_currency(total_revenue) %></p>
</section>

<section id="cust_info">
  <h3>Customer:</h3>
  <p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %><p>
</section><br>

<section id="item_info">
  <h3>Items on this Invoice:</h3>
    <% @invoice.items.each do |item| %>
      <p><strong>Item Name </strong><%= item.name %></p>
      <p><strong>Quantity </strong><%= @invoice.find_invoiceitem_quantity(item) %></p>
      <p><strong>Unit Price </strong><%= number_to_currency(@invoice.find_invoiceitem_unitprice(item) / 100) %></p>
      <p><strong>Status </strong><%= @invoice.find_invoiceitem_status(item) %></p>
      <br>
    <% end %>
</section>