<h3><%= @merchant.name %></h3>

<h4>Invoice #<%= @invoice.id %></h4>

<p>Status: <%= @invoice.status %></p><br>
<p>Created on: <%= @invoice.created_at %></p><br>

<h4>Customer:</h4>

<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %><p>
