<h1><%= @invoice.id %></h1>
<h3><%= @invoice.status %></h3>
<h3><%= @invoice.created_at.strftime("%A, %B %d, %Y") %></h3>
<h2>Customer Information: </h2>
<h3><%= @invoice.customer.first_name.concat(" " + @invoice.customer.last_name) %></h3>
<%= render partial: "invoice_items", locals: { invoice: @invoice, merchant: @merchant } %>
