<h1>Merchant's Invoice Show Page</h1>

<p><b>Invoice ID: </b><%= @invoice.id %></p>
<p><b>Invoice Status: </b> <%= @invoice.status %></p>
<p><b>Customers Name: </b><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %>
<p><small>Created At: <%= @invoice.custom_date %></p></small>

<h3>Item List</h3>
<% @invoice.items.each do |item| %>
<div id="item-<%= item.id %>">
<p><b>Name: </b><%= item.name %></p>
</div>
<% end %>

