<h1>Herein the glorious attributes are herein listed</h1>

<ul>
  <li>Customer name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></li>
  <li>Customer ID: <%= @invoice.customer_id %></li>
  <li>Invoice Status: <%= @invoice.status %></li>
  <li>Invoice Created: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></li>
  <li>Invoice ID: <%= @invoice.id %></li>
  <li>Invoice status: <%= @invoice.status %></li>
</ul>

<br>

<h3>Items in this invoice </h3>

<% @invoice.items.each do |item| %>
  <li>Item name: <%= item.name %></li>
  <li>Item price: <%= item.unit_price %></li>
  <li>Quantity purchased: <%= @invoice.item_quantity(item) %></li>
  <li>Item status: <%= %></li><br>
<% end %>
