<div id="merchant_name"><%=@merchant.name%></div>

<%= link_to "Go To Merchant Items Index", "/merchants/#{@merchant.id}/items"%>
<%= link_to "Go To Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices"%>

<div id="favorite_customers">
  <h2>Favorite Customers</h2>
  <ol>
    <% @favorite_customers.each do |customer| %>
      <li id="customer_<%=customer.id%>"><%=customer.first_name%> <%=customer.last_name%>, Successful Transactions: <%= customer.transac_count %></li>
    <% end %>
</div>  

<div id="items_to_ship">
  <h2>Items Ready to Ship</h2>
  <ul>
    <% @items_to_ship.each do |item| %>
      <li id="item_<%=item.id%>"><%=item.name%> ordered by invoice </li>
    <% end %>
</div>  