
<h1> <%= @merchant.name %> </h1>

<h2>Favorite Customers:</h2>
  <% @top_customers.each do |top| %>
  <p> <%= top.first_name %> <%= top.last_name %> - <%= top.top_successful_transactions(@merchant.id) %> purchases </p>
  <% end %>

<h3> <%= link_to 'Merchant Items Index', merchant_items_path(@merchant.id) %> </h3>
<h3> <%= link_to 'Merchant Invoice Index', merchant_invoices_path(@merchant.id) %> </h3>

<section id="ready_to_ship">
<h1>Items Ready To Ship:</h1>
  <% @items.each do |item| %>
    <p><%= item.name %></p>
    <%= link_to "#{InvoiceItem.invoice_id(item)}", "/merchants/#{@merchant.id}/invoices/#{InvoiceItem.invoice_id(item)}" %></p>
    <p>Created on:<%= Invoice.invoice_creation(item) %></p>
  <% end %>
</section>

