<h1>Merchant Dashboard</h1>

<%= @merchant.name %>

<%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
<%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>

<div id='fav-customers'>
<h4>Favorite Customers</h4>
<ol>
<% @merchant.favorite_customers.each do |customer| %>
  <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.successful_transactions(@merchant.id) %> purchases</li>
<% end %>
</ol>
</div>
