<h1><%= @merchant.name %></h1>
<p><%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices"  %></p>
<p><%= link_to "Items", "/merchants/#{@merchant.id}/items"  %></p>

<div class="top_customers">
  <h3>Top Customers</h3>
  <% @merchant.top_customers(5).each do |customer| %>
    <p><%= "Name: #{customer.full_name}" %></p>
  <% end %>
</div>

<div class="items_ready_to_ship">
  <h3>Items Ready to Ship</h3>
  <% @merchant.items_ready_to_ship.each do |item| %>
    <div class=<%= "item_#{item.id}" %>>
      <p><%= item.name %></p>
      <% item.invoices.each do |invoice| %>
        <div class=<%= "invoice_#{invoice.id}" %>>
          <p><%= link_to "Invoice ID: #{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %> Created On: <%= "#{invoice.created_at.strftime("%A, %B %d, %Y")}" %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
