<h1>Merchant Name: <%=@merchant.name%></h2>

<%=link_to "#{@merchant.name}'s Items", "/merchants/#{@merchant.id}/items"%>

<%=link_to "#{@merchant.name}'s Invoices", "/merchants/#{@merchant.id}/invoices"%>

<p> Top 5 Customers with Highest Successful Transactions for this Merchant </p>

<% @mech_top_5_customers.each do |customer| %>
  <div id = "top_customers-<%= customer.id %>">
    <p> <%= customer.first_name %> <%= customer.last_name %> has <%= customer.transaction_count %> successful transactions!</p>
  </div>
<% end %>

<p>Items Ready to Ship</p>
<% @mech_unshipped_invoice_items.each do |invoice_item|%>
<div id= "invoice_items_info-<%= invoice_item.id %>">
  <p>Item name: <%= invoice_item.item_name %>, Item Invoice Id: <%= link_to invoice_item.id, "/merchants/#{@merchant.id}/invoices/#{invoice_item.id}"%>
  <p>Created: <%= invoice_item.created_at.strftime("%A, %B %e, %Y") %></p>
  <br>
</div>
<%end%>
