<h1> <%= @merchant.name %> </h1>

<h2>Favorite Customers:</h2>
  <% @top_customers.each do |top| %>
  <p> <%= top.first_name %> <%= top.last_name %> - <%= top.top_successful_transactions(@merchant.id) %> purchases </p>
  <% end %>

<h3> <%= link_to 'Merchant Items Index', merchant_items_path(@merchant.id) %> </h3>
<h3> <%= link_to 'Merchant Invoice Index', merchant_invoices_path(@merchant.id) %> </h3>
