<h1><%= @merchant.name %></h1>

<%= link_to "My Items", merchant_items_path %>
<%= link_to "My Invoices", merchant_invoices_path %>

<h2>Favorite Customers</h2>
<ul>
  <% @favorite_customers.each do |customer| %>
    <section id="customer-<%= customer.id %>">
      <li><%= customer.first_name %> <%= customer.last_name %>: <%= customer.purchases %> purchases</li>
    </section>
  <% end %>
</ul>
