<h1><%= @merchant.name %>'s Dashboard Index</h1>

<p>Name: <%= @merchant.name %></p>

<p><%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %></p>

<h2>Top 5 Customers:</h2>
<ol>
  <% @merchant.top_five_customers.each do |customer|%>
    <li><%= customer.first_name %> <%= customer.last_name %>: <%= customer.transaction_count %> successful transactions </li>
  <% end %>
</ol>

<h3>Items Ready to Ship</h3>

<ul>
  <% @merchant.items_ready_to_ship.each do |item| %>
    <li><%= item.name %>: <%= link_to item.item_invoice_id, "/merchants/#{@merchant.id}/invoices" %></li>, <%= item.inv_time.strftime("%A, %B %e, %Y") %>
  <% end %>
</ul>


<%= link_to "View All Discounts", "/merchants/#{@merchant.id}/bulk_discounts" %>