<header>
  <h1><%= @merchant.name %></h1>
  <div class="navbar">  
    <%= link_to "Items", "items" %>
    <%= link_to "Invoices", "invoices" %>
  </div>
</header> <hr>
<body>
  <div class="card text-white bg-info mb-3" id="top-five" style="width: 30rem; float:left;">
    <h3 class="card-title">Top Five Customers</h3><hr>
    <% @merchant.top_five_customers.each do |c| %>
      <div class="card-text" id="customer-<%= c.id %>">
        <p style="font-size: larger;"><%= c.first_name %> <%= c.last_name %>: <i style="font-size: small; color: black;"><%= c.successful %> Transactions</i></p>
      </div> <br>
    <% end %>
  </div>
  <div class="card text-white bg-danger mb-3" style="margin-left: 31rem; width: 30rem;">
    <h3 class="card-title">Unshipped Items</h3>
    <% @merchant.unshipped.each do |item| %>
    <div class="card-text" id="unshipped-<%= item.name %>">
      <b><%= item.name %></b>, <br> 
      Invoice: <a href="/merchants/<%= @merchant.id %>/invoices/<%= item.invoice_id %>"><%= item.invoice_id %></a>, <i style="color: lightblue;"><%= item.invoice_created.strftime('%A, %b %d, %Y') %></i> 
      <hr>
    </div>
    <% end %>
  </div>

  </body>