<%= link_to "Items", "/merchants/#{@merchant.id}/items" %>
<%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %>

<h1><%= @merchant.name %></h1>

<p>Top 5 Customers</p>
<% @merchant.top_five_customers.each do |customer| %>
  <p><%= customer.first_name %>: <%= customer.successful_transactions_count %> successful transactions</p>
<% end %>

<p>Items Ready to Ship<p>
  <% @merchant.items_ready_to_ship.each do |item| %>
    <% item.invoices.each do |invoice| %>
      <p><%= item.name %> | <%= link_to "Invoice ##{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %></p>
      <p>Created on: <%= invoice.created_at.strftime("%A, %B %d, %Y") %></p>
    <% end %>
<% end %>
