<%= @invoice.id %> </br>
<div id="test"><%= @invoice.status %> </div>

  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
    <%= f.label :status %>
    <%= f.select :status, ['in progress', 'cancelled', 'completed']%>

    <%= f.submit "Update Invoice Status" %>
  <% end %>



<%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </br>
<%= @customer.first_name %> </br>
<%= @customer.last_name %> </br>

</br></br>
<% @items.each do |item| %>
  <%=  item.name  %> </br>
  <%=  item.status  %> </br>
  <%=  item.quantity  %> </br>
  <%=  item.unit_price  %> </br>
  </br>
<%  end  %>

</br></br>


<%=  @total_revenue[@invoice.id]  %></br>
