<h1>Merchant Items Index Page</h1>
<br>
<h3><%= @merchant.name %></h3>
<p><%= link_to "Create a New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<br>
<h2>Top 5 Most Popular Items (By Revenue)</h2>
<div id="top_5_items">
  <% @top_5_items.each do |i| %>
    <li><%= link_to i.name, "/merchants/#{i.merchant_id}/items/#{i.id}" %>: <%= number_to_currency(i.revenue) %></li>
  <% end %>
</div>
<h2>Items:</h2>
<ul>
  <% @items.each do |item| %>
    <div id= "item-<%= item.id %>">
        <li><p><%= link_to item.name, "/merchants/#{item.merchant_id}/items/#{item.id}" %> </p></li>
      <%= form_with url: "/items/#{item.id}", method: :patch, local: true do |f| %>
        <li><p>Status: <%= item.status %> Change Status: <%= f.button "Disable", type: "submit", name: "status", value: "disabled" %> <%= f.button "Enable", type: "submit", name: "status", value: "enabled" %></p></li>
      <% end %>
    </div>
  <% end %>
</ul>