<h1> <%= @merchant.name %>'s items </h1>
<br/><hr/>

<%= button_to("Create a New Item", "/merchants/#{@merchant.id}/items/new", method: :get) %>
<% @items.each do |item| %>
  <h3> <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}"  %> </h3>
  <p> <%= item.description %> </p>
  <h4> Price: $<%= item.unit_price.to_f / 100 %> </h4>
  <hr/>
<% end %>
