<h3 id="links"; style="text-align:left;font-weight:bold;">
    Merchant:  &nbsp; <%=  @merchant.name %><span style="float:right;"><%= render partial: 'partials/merch_header' %>&emsp;</span>
</h3>

<h2 align="center">My Items</h2><br/>
<h4><%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %>

<h3 align="right">Top Items  &emsp;  &emsp;</h3>
<h3>Enabled Items</h3>
<% @enabled_items.each do |item| %>
    <h4>&nbsp;  &emsp;<%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></h4>
    <%= button_to("Disable", "/merchants/#{@merchant.id}/items/#{item.id}", :params => {able: "Disable"}, method: :patch) %>
<% end %>


<h3>Disabled Items</h3>
<% @disabled_items.each do |item| %>
    <h4>&emsp;  <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></h4>
    <%= button_to("Enable", "/merchants/#{@merchant.id}/items/#{item.id}", :params => {able: "Enable"}, method: :patch) %>
<% end %>
