<h3>Dashboard</h3>
<%= @merchant.name %>

<%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %>

<%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices" %>

<h5>Top 5 Customers</h5>

<% @best_customers.each do |customer| %>
  <p><%= customer.first_name %> <%= customer.last_name %> - Successful Transactions: <%= customer.success_count %></p>
<% end %>

<h3>Items Ready to Ship:</h3>

<div id="items-not-shipped">
  <% @merchant.items_not_shipped.each do |item| %>
    <p id="#item.id"><%= item.name %> - <%= link_to "#{item.id}", "/merchants/#{@merchant.id}" %> </p>
  <% end %>
</div>