<h1>Merchant Name: <%= @merchant.name %></h1>

<h2><a href="/merchants/<%= @merchant.id %>/items">My Items</a></h2>
<h2><a href="/merchants/<%= @merchant.id %>/invoices">My Invoices</a></h2>

<h2>Favorite Customers</h2>
<ol>
<% @merchant.top_customers.each do |customer| %>
 <li><%= " #{customer.first_name} #{customer.last_name}" %> - <%= customer.attributes["transaction_count"] %> purchases</li>
<% end %>
</ol
<h2>Items Ready to Ship</h2>

<% @merchant.shippable_items.each do |item| %>
 <p><%= item.name %>- Invoice #<%= item.invoice_id %> <%= item.invoice_created_at.strftime("%A, %B %d, %Y") %></p>
<% end %>
