<h1><%= @merchant.name %></h1>

<%= link_to "My Items", "/merchants/#{@merchant.id}/merchant_items" %>
<%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
<br>
<%= render partial: 'sortable' %>

<section id="favorite_customers">
<h3>Favorite Customers</h3>
<% @merchant.favorite_customers(5).each do |customer| %>
    <%= "#{customer.first_name} #{customer.last_name} - #{Customer.transaction_count(customer.id)} purchases" %> <br>
<% end %>
</section>

<section id="ready_to_ship">
<h3>Items Ready to Ship</h3>
<% sortable(@merchant.items_ready_to_ship, params).each do |irts| %>
    <%= "#{irts.name} - " %> <%= link_to "Invoice ##{irts.id}", "/invoices/#{irts.id}" %> 
    <%= "- #{date_formatter(irts.created_at)}" %><br>
<% end %>
</section>