<h1> <%= @merchant.name %> </h1>
<%= link_to "Merchant's Items", "/merchants/#{@merchant.id}/items", method: :get %>

<%= link_to "Merchant's Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %>

<h2><%= @merchant.name %>'s Statistics:</h2>

<div id="statistics">
  <h3>Top 5 Customers: </h3>
  <% @merchant.top_five_customers.each do |customer| %>
    <div id="customer-<%= customer.id %>">
      <h4>Name: <%= customer.first_name %> <%= customer.last_name %></h4>
      <p>Successful Transactions: <%= customer.successful_transactions.count %></p>
    </div>
  <% end %><br>
  <div id="items-ready-to-ship">
    <h3>Items ready to ship:</h3>
    <% @merchant.items_ready_to_ship.each do |item| %>
      <%= item.name %>
    <% end %>
  </div>
</div>
