<h1>Merchant Dashboard</h1>

<p><%= @merchant.name %></p>
  <%= link_to "#{@merchant.name}'s Items", merchant_items_path(@merchant) %>
  <%= link_to "#{@merchant.name}'s Invoices", merchant_invoices_path(@merchant) %>

  <h3>Top 5 Customers<h3>
<div id='top_5_customers'>
<% i = 1 %>
<p><% @merchant.transactions_top_5.each do |customer| %></p>
<p><%= i%>.<%= customer.first_name %> <%= customer.last_name %> <%= customer.num_succesful_transactions %> purchases</p>
<% i += 1 %>
<% end %>
</div>


  <h3>Items Ready to Ship</h3>
<div id='ready_to_ship'>
<p><% @merchant.ready_to_ship_items.each do |item| %></p>
<p><%= item.item_name + " - Invoice #" %><%= link_to "#{item.invoice_id}" %></p>
<% end %>

</div>

