<div id='header'>
  <h1><%= @merchant.name %></h1>
  <p><b><%= link_to "My Invoices", merchant_invoices_path(@merchant.id) %></b></p>
  <p><b><%= link_to "My Items", merchant_items_path(@merchant.id) %></b></p>
  <p><b><%= link_to "My Bulk Discounts ", merchant_bulk_discounts_path(@merchant.id) %></b></p>
</div>

<div id='ready_to_ship'>
  <h2>Items Ready to Ship</h2>
  <% @merchant.ready_to_ship.each do |item| %>
    <p><%= item.item_name %> - <%= link_to "Invoice ##{item.invoice_id}", merchant_invoice_path(@merchant.id, item.invoice_id) %> - <%= item.invoice_date.strftime("%A, %B %-d, %Y") %></p>
  <% end %>

<div id='favorite_customers'>
  <h2>Favorite Customers</h2>
  <% @merchant.top_customers.each.with_index do |customer, index| %>
    <p><%= index + 1 %>. <%= customer.first_name %> <%= customer.last_name %> - <%= customer.total_count %> purchases</p>
  <% end %>
</div>
