<h1>Little Esty Shop</h1>
<h3><%= @merchant.name %></h3>

<p><%= link_to "My Items", "/merchants/#{@merchant.id}/items", method: :get %></p>
<p><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></p>

<p>Items Ready To Ship: </p>
<% @merchant.items_ready_to_ship.each do |invoice_item| %>
  <ul> Name: <%= invoice_item.item.name %>, Invoice ID:<%= invoice_item.invoice_id %> Status: <%= invoice_item.status%> Created at: <%= invoice_item.created_at.strftime("%A, %B %d %Y") %></ul>
<% end %>
<br>
<div id="top5">
  <p>Top 5 Customers:</p>
  <% @merchant.favorite_customers.each do |customer| %>
    <p>Name: <%= customer.first_name %>, Succesful Transactions: <%= customer.transactions.length %></p>
  <% end %>
</div>

<!-- <footer>
  <h3>Github Stats:</h3>
   <% github_info = GithubService.new %>
  <p>Repo name: <%=github_info.repo_name%> </p>
</footer> -->