<h1><center>Little Esty Shop</h1></center>

<h2><%= @merchant.name %></h2>

<h5> <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %></h5>
<h5> <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></h5>

<h3><strong>Top 5 Customers</strong></h3>

<p><% @merchant.top_customers.each do |customer| %></p>
<section id=<%= "customer-#{customer.id}" %>>
  <p><%= customer.first_name %></p>
</section>
<% end %>