<h1>Little Esty Shop</h1>
<h3><%= @merchant.name %></h3>

<p><%= link_to "My Items", "/merchants/#{@merchant.id}/items", method: :get %></p>
<p><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></p>

<p>Items Ready To Ship: </p>
<% @merchant.items_ready_to_ship.each do |item| %>
  <% item.invoices.each do |invoice| %>
  <ul>Name: <%= item.name %>, Invoice IDs:<%= item.invoice_ids %> Created at: <%= invoice.created_at.strftime("%A, %B %d %Y") %></ul>
<% end %>
<% end %>

