<h1>Little Esty Shop</h1>

<div id = "merchant">
<%=@merchant.name %>
</div>

<h4><%=link_to "#{@merchant.name}'s Item Index", "/merchants/#{@merchant.id}/items" %></h4>
<h4><%=link_to "#{@merchant.name}'s Invoice Index", "/merchants/#{@merchant.id}/invoices" %></h4>

<h2>Top 5 Customers by Total Number of Succesful Transactions:</h2>
  <% @merchant.customers.top_five_by_transaction_count.each do |customer| %>
    <p> Name: <%= customer.first_name %> <%= customer.last_name %> <%= customer.transactions.count %></p>
<% end %>

<h2>Items ready to ship</h2>
  <% @merchant.items_ready_to_ship.each do |item| %>
  <% binding.pry %>
    <p><%= item.name %> </p>
<% end %>
