<%= render partial: '/merchants_navbar'%>
<section id="discounts">
  <%= link_to "Discounts", merchant_discounts_path(@merchant) %>
</section>

<div id="top_customers">
  <h3>Top Custmers:</h3>
    <ol>
    <% @merchant.top_five_customers.each do |customer| %>
        <li><b><%= customer.first_name %></b> - Successful Transactions: <%= customer.total_transactions %>
    <% end %>
    </ol>
</div>
<div id="items_ready_to_ship">
  <h3>Items ready to ship</h3>
  <% @merchant.items_ready_to_ship.each do |invoice_item| %>
  <p>
    <%= invoice_item.item.name  %> <%= link_to "#{invoice_item.invoice_id}", 
      "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice_id}" %>
      - Invoice Created At: <%= invoice_item.invoice.created_at.strftime("%A, %B %-d, %Y") %>
  </p>
  <% end %>
</div>