<h1>Merchant Dashboard</h1>
<div id="merchant-links">
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</div>

<div id ="merchant-details">
  <p><%= @merchant.name %></p>
</div>

<div id="items-ready-to-ship">
  <h3>Items Ready To Ship</h3>
  <%= @merchant.items_ready_to_ship.each do |invoice_item| %>
    <div id="invoice-item-<%= invoice_item.id %>">
      <p><%= invoice_item.id %>. <%= invoice_item.item.name %>, created at: <%= invoice_item.invoice.formatted_date %>  
    </div>
    <% end %> 
</div>

<div id="favorite-customers">
  <h3>Favorite Customers</h3>
  <%= @merchant.favorite_customers.each do |customer| %>
    <div id="customer-id-<%= customer.id %>">
      <p><%= customer.first_name %> <%= customer.last_name %>, Successful Transactions: <%= customer.transaction_total %></p>
    </div>
  <% end %> 
</div>
