<h1><%= @merchant.name %></h1>
<p align="right">
    <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
    &nbsp
    <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
</p>
<h3>Items Ready To Ship</h3>
<% @merchant.items_ready_to_ship.each_with_index do |invoice_item, index| %>
    <div id="item-<%= index %>">
        <%= invoice_item.item.name %> 
        &nbsp
        <%= link_to "Invoice ##{invoice_item.invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice.id}" %>
        - <%= invoice_item.created_at.strftime(" %A, %B %e, %Y") %>
    </div>
<% end %>

