<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <%= @merchant.name %>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
      <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide2">
    <p>Items Ready to Ship</p>
    <% @merchant.ordered_not_shipped.each do |invoice_item| %>
    <% binding.pry %> <%= invoice_item.item.name %>- <>
    <% end %>
  </div>

  <div class="page-defaults" id="rightSide2">
  <p>Favorite Customers</p>
    <% @merchant.top_5_customers.each_with_index do |customer, index| %>
      <p> <%= "#{index + 1}. #{customer.first_name} #{customer.last_name} - #{customer.transaction_count} purchases" %></p>
    <% end %>
  </div>

</div>
