<h1>Merchant</h1>

<h3><%=@merchant.name%></h3>

<p><%= link_to "Items Index", "/merchants/#{@merchant.id}/items"%></p>
<p><%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices"%></p>

<h3>Items Ready to Ship</h3>
<% @merchant.ready_to_ship.each do |item| %>
  <% item.invoices.each do|invoice| %>
<div id="item-<%=item.id%>">
  <p><%= item.name %> || invoice# <%=link_to "#{invoice.id}","/merchants/#{@merchant.id}/invoices/#{invoice.id}" %> created at <%= invoice.created_at.strftime("%A,%B %d, %Y") %></p>
</div>
  <%end %>
<%end %>

<h3>Favorite Customers</h3>
<% @merchant.favorite_customers.each do |favorite_customer| %>
   <div id="favorite_customer_<%= favorite_customer.id %>">
      <li><%= favorite_customer.first_name %> <%= favorite_customer.last_name %> - <%= favorite_customer.transaction_count %> purchases</li>
   </div>
<% end %>