<h1> <%= @merchant.name %> </h1>
<%= link_to "Merchant Items", "/merchants/#{@merchant.id}/items" %>
<%= link_to "Merchant Invoices", "/merchants/#{@merchant.id}/invoices" %>
<h2> Favorite Customers: </h2>
<% @favorite_customers.each do |customer, count|%>
  <p> <%= "Name: #{customer}, Number of Transactions: #{count}" %> </p>
<% end %>
<h2> Items Ready to Ship: </h2>
<% @packaged_invoice_items.each do |invoice_item| %>
  <p>Name: <%= invoice_item.item.name %>, ID: <%= link_to "#{invoice_item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice_id}" %></p>
<% end %>
