<%= render partial: "shared/merchant_header", object: @merchant, :as => :merchant  %>
<h3>Items Ready To Ship</h3>
<% @merchant.items_ready_to_ship.each_with_index do |invoice_item, index| %>
    <div id="item-<%= index %>">
        <%= invoice_item.item.name %> 
        &nbsp
        <%= link_to "Invoice ##{invoice_item.invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice.id}" %>
        - <%= invoice_item.created_at.strftime(" %A, %B %e, %Y") %>
    </div>
<% end %>
<h3>Favorite Customers</h3>
<% @merchant.top_5_customers.each_with_index do |customer, index| %>
    <div id="customer-<%= index %>">
        <%= "#{(index + 1)}. #{customer.first_name} #{customer.last_name} - #{customer.successful_transactions_with_merchant(@merchant)}"%>
    </div>
<% end %>

