<h1><%= @merchant.name %></h1>

<%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
<%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>

<section id = 'items_to_ship'>
<h3>Items Ready to Ship:</h3>
<% @merchant.items_ready_to_ship.each_with_index do |invoice_item, index| %>
	<h4>Item No. <%= index + 1 %></h4>
	<p>Item name: <%= invoice_item.item.name  %></p>
	<p>Invoice id: <%= invoice_item.invoice_id %></p>
	<p>Invoice created on: <%= invoice_item.invoice.created_at.strftime("%A, %B %-d, %Y")  %></p>
<% end %>
</section>