<h2>Merchant Dashboard of: <%= @merchant.name %></h2>
<%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %>
<%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices" %>

<div class= "favorite_customers">
  <h3>Top 5 Favorite Customers:</h3>
  <ol>
  <% Customer.favorite_customers(5).each do |customer| %>
    <div id="customer-<%= customer.id %>">
      <li><b> <%= "#{customer.first_name} #{customer.last_name}" %></b>,
      <%= Customer.count_successful_transactions(customer.id) %> Successful Transactions</li>
    </div>
  <% end %>
  </ol>
</div>


<div class= "items_ready_to_ship">
  <h3>Items Ready to Ship:</h3>
  <ol>
    <% @merchant.items_ready_to_ship.each do |item| %>
    <div id="item-<%= item.id %>">
      <li><b> <%= "#{item.name}" %></b></li>
      <p> <%= link_to "#{item.id}", "/merchants/invoices/#{item.id}" %>
      </div>
      <% end %>
    </ol>
  </div>
