<%= render partial: "layouts/merchant_header", locals: {page_name: @merchant.name, merchant_id: @merchant.id}%>

<h2> Favorite Customers: </h2>
<% @favorite_customers.each do |customer, count|%>
  <p> <%= "Name: #{customer}, Number of Transactions: #{count}" %> </p>
<% end %>
<h2> Items Ready to Ship: </h2>
<% @packaged_invoice_items.each do |invoice_item| %>
  <p><%= invoice_item.item.name %> - Invoice # <%= link_to "#{invoice_item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice_id}" %> - <%= invoice_item[:created_at].strftime("%A, %B%e, %Y") %></p>
<% end %>
