<h1><%= @merchant.name %>
</h1>
<br>
<h3>
  <a href="/merchants/<%= @merchant.id %>/items">
    <%= @merchant.name %>'s Items
  </a>
</h3><br/>
<h3>
  <a href="/merchants/<%= @merchant.id %>/invoices">
    Invoices
  </a>
</h3>

<h2>Top 5 Customers:
</h2>
<ol>
  <% @merchant.top_5_customers.each do |cust| %>
    <li id="<%= cust.id %>">
      Name: <%= cust.first_name %> <%= cust.last_name %><br>
      Successful Transactions:
      <%= cust.successful_transactions %></li>
    <br>
  <% end %>
</ol>

<div class="items_ready_to_ship">
<h2>Items ready to ship</h2>
<ul>
  <% @merchant.items_ready_to_ship.each do |item| %>
  <li id="<%= item.item_id %>">
    <%= item.name %>: <a href="/merchants/<%= @merchant.id %>/invoices/<%= item.id %>"><%= item.id %></a>
    <%= item.created_at.strftime("%A, %B %d, %Y") %>
  </li>
  <% end %>
</ul>
</div>
