<div id="header">
    <%= render "shared/merchant_header" %>
</div>


<div class="content">
    <div id="top-customers">
        <div class="section-title">
            <h3>Items Ready to Ship</h3>
        </div><br>
        <% @merchant.unshipped_items.each_with_index do |invoice_item, index| %>
            <div id = "item-<%= index %>">
                <%= invoice_item.item.name %> - <%= link_to "Invoice ##{invoice_item.invoice_id}", merchant_invoice_path(@merchant.id, invoice_item.invoice_id) %> - <%= invoice_item.invoice.created_at.strftime("%A, %B %e, %Y") %>
            </div>
        <% end %>
        <br>
    </div>

    <div id="top-customers">
        <div class="section-title">
            <h3>Favorite Customers</h3>
        </div><br>
        <div id='top-5' >
        <ol>
        <% @merchant.top_5.each_with_index do |customer, index| %>
            <div id="top-5-<%=index%>">
            <li><%= customer.first_name + " " + customer.last_name %> - <%= customer.transactions.count %> purchases</li>
            </div>
        <% end %>
        </ol>
        </div>
    </div>
</div>
