<h4><%= @merchant.name %></h4>

<div id="my-items">
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
</div>

<div id="my-invoices">
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</div>

<ol>
<div id="favorite-customers">
  <% @merchant.favorite_customers.each do |customer| %>
   <div id="customer-<%= customer.id %>">
   <li><%= "#{customer.full_name} - #{customer.transaction_count(@merchant)} purchases" %></li>
   </div>
  <% end %> 
  </ol>