<h2>Update Item</h2>
<div id= 'item_update'>
  <%= form_with url: "/merchants/#{@merchant.id}/items/#{@item.id}", method: :patch, local: true, model: [@merchant, @item] do |f| %>

    <h4><%= f.label "Name:" %>
    <%= f.text_field :name, :value => @item.name %></h4>
    <h4><%= f.label "Description:" %></h4>
    <p><%= f.text_area :description, :value => @item.description %></p>
    <h4><%= f.label "Current Selling Price:" %>
    <%= f.text_field :unit_price, :value => @item.unit_price %></h4>
    <p><%= f.submit%></p>

<% end %>

</div>
