<h1><%= "#{@merchant.name}" %></h1>

<h3>Merchant's Items:</h3>
<ul>
  <% @merchant.items.each do |item| %>
    <div id='item-<%= item.id %>'>
      <li><%= item.name %>
        <% if item.status == "disabled" %>
          <%= button_to "Enable", "/merchants/#{@merchant.id}/items", method: :patch, params: {status: "enabled", id: "#{item.id}"} %>
        <% else %>
          <%= button_to "Disable", "/merchants/#{@merchant.id}/items", method: :patch, params: {status: "disabled", id: "#{item.id}"} %>
        <% end %>
      </li>
    </div>
  <% end %>


</ul>