<div class= "merchant">
  <h1><%= @merchant.name %>'s Items</h1>


<div class= "enabled-items">
<ul>
  <h2>Enabled Items</h2>
<% @items.enabled.each do |item| %>
  <li><%= link_to  item.name, merchant_item_path(@merchant, item) %></li>
  <%= button_to "Disable", merchant_item_path(@merchant, item), params: {status: :disabled}, id: "disable-#{item.id}",  method: :patch %>
<% end %>
</ul>
</div>

<div class= "disabled-items">
<ul>
  <h2>Disabled Items</h2>
<% @items.disabled.each do |item| %>
    <li><%= link_to  item.name, merchant_item_path(@merchant, item) %></li>
    <%= button_to "Enable", merchant_item_path(@merchant, item), params: {status: :enabled}, id: "enable-#{item.id}", method: :patch %>
<% end %>
</ul>
</div>
<div class= "top-five">
<ul>
  <h2>Top 5 Best Selling Items</h2>
<% @items.top_five.each do |item| %>
    <div class = "item-<%= item.id %>">
    <li><%= link_to  item.name, merchant_item_path(@merchant, item) %>-<%= number_to_currency(item.sum.to_f / 100) %> in sales</li>
    </div>
<% end %>
</ul>
</div>
</div>

<div class="new-item">
  <li><%= link_to "Create New Item", new_merchant_item_path(@merchant) %></li>

</div>
