<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <%= @merchant.name %>
    <p> <%= link_to 'Create New Item' %></p>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
      <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide2">
    <h3>New Item</h3>
    <div class="merchant-items-enabled">
    <h2>Enabled Items</h2>
    <% @merchant.items.enabled.each do |item| %>
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> <%= button_to "Disable", "/merchants/#{@merchant.id}/items", id: item.id, method: :patch, params: {:"item[status]" => "Disabled", id: item.id} %>
    <% end %>
    </div>

      <div class="merchant-items-disabled">
      <h3>Disabled Items</h3>
    <% @merchant.items.disabled.each do |item| %>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p> 
      <%= button_to "Enable", "/merchants/#{@merchant.id}/items", id: item.id, method: :patch, params: {:"item[status]" => "Enabled", id: item.id} %>
    <% end %>
    </div>
  </div>

  <div class="page-defaults" id="rightSide2">
  <h3>Top Items</h3>
  </div>

</div>
