<h1>Items</h1>

<%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %>

<div id="disabled-items">
<h2>Disabled Items:</h2>
<% @merchant.items.each do |item| %>
    <% if item.status == "disabled" %>
      <div id="id-<%= item.id %>">
        <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %><br><br>   
        <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: true, params: {status: item.status} %>
      </div>
    <% end %>
<% end %>
</div>

<div id="enabled-items">
<h2>Enabled Items:</h2>
<% @merchant.items.each do |item| %>
    <% if item.status == "enabled" %>
      <div id="id-<%= item.id %>">
        <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
        <%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: true, params: {status: item.status} %> 
      </div>
        <br><br>
    <% end %>
<% end %>
</div>

<div id="top-items">
<h2>Top Items:</h2>
  <% @top_items.each do |item| %>
    <%= link_to "#{item.name}", "/merchants/#{item.merchant_id}/items/#{item.id}" %> <br>
    <%= "Revenue: #{item.revenue}" %>
    <p>Top selling date for <%= item.name%> was <%= item.item_best_day.created_at.strftime('%m/%d/%Y') %></p><br><br>
  <% end %>
</div>