<h1>Merchant Items:</h1>
<p><%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<hr>

<div class="enabled_items">
  <ol>
    <h2>Enabled Items:</h2>
    <% @merchant.items.each do |item| %>
    <% if item.status == "Enabled" %>
    <p><b>Name:</b> <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> </p>
    <%= button_to "Disable #{item.name}", "/items/#{item.id}?status=disable", method: :patch %>
    <% end %>
    <% end %>
  </ol>
</div>

<div class="disabled_items">
  <ol>
    <h2>Disabled Items:</h2>
    <% @merchant.items.each do |item| %>
    <% if item.status == "Disabled" %>
    <p><b>Name:</b> <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> </p>
    <%= button_to "Enable #{item.name}", "/items/#{item.id}?status=enable", method: :patch %>
    <% end %>
    <% end %>
  </ol>
</div>

<div class="top_items">
  <ol>
    <h2>Top 5 Items by Revenue</h2>
    <% @merchant.top_five_items.each do |item| %>
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
      <%= item.revenue %>
    <% end %>
  </ol>
</div>
