
<%= link_to 'Create New Item', new_merchant_item_path(@merchant) %>

<div id='top_5_most_popular_items'>
	<h2>Top 5 Most Popular Items</h2>
	<% @popular_items.each do |item| %>
		<p><%= link_to item.name, merchant_item_path(@merchant, item) %> - Total Revenue: $<%= item.revenue %></p>
	<% end %>
</div>

<div id='disabled_items'>
	<h2>Disabled Items</h2>
	<%@disabled_items.each do |item|%>
		<div id= "<%=item.id%>" >
			<%=link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}"%> 
			<%=button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", params:{status: 0}, method: :patch %>
		</div>
	<%end%>
</div>

<div id='enabled_items'>
	<h2>Enabled Items</h2>
	<%@enabled_items.each do |item|%>
		<div id= "<%=item.id%>" > 
			<%=link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}"%> 
			<%=button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", params:{status: 1}, method: :patch %>
		</div>
	<%end%>
</div>