<h2>Merchant Item Index Page</h2>

<h3>Name: <%= @merchant.name %></h3>

<h3>Top Five Items By Revenue</h3>

<div id="top_merchant_items-<%= @merchant.id %>">
<% @merchant.top_five_items_by_revenue.each do |item| %>
  <p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
  Total Revenue: $<%= item.invoice_items.items_total_revenue.to_s.insert(-3,'.') %></p>
<% end %><hr>
</div>

<h4>Enabled Items</h4>
<% @merchant_items.each do |item| %>
  <% if item.status == 'enabled' %>
    <%= item.name %><br>
    Status: <%= 'available' %>
    <%= button_to "Disable #{item.name}", "/items/#{item.id}?button=true", method: :patch %><br>
  <% end %>
<% end %><hr>

<h4>Disabled Items</h4>
<% @merchant_items.each do |item| %>
  <% if item.status == 'disabled' %>
    <%= item.name %><br>
    Status: <%= 'unavailable' %>
    <%= button_to "Enable #{item.name}", "/items/#{item.id}?button=true", method: :patch %><br>
  <% end %>
<% end %>
