<h1>Items</h1>

<% @merchant.items.each do |item| %>
  <div id="name-<%= item.name %>">
    <%= item.name %>
    <%= item.status %>
    <% if item.status == "enabled" %>
        <%= button_to "Disable", "/merchant/#{@merchant.id}/items/#{item.id}", method: :patch, local: true, params: {status: item.status} %>
    <% elsif item.status == "disabled" %>
        <%= button_to "Enable", "/merchant/#{@merchant.id}/items/#{item.id}", method: :patch, local: true, params: {status: item.status} %>
    <% end %>
  </div>
<% end %>