<h1><%= @merchant.name %>'s Items </h1>
<h4><%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %></h4>
<div class="items">
  <h2>Enabled Items:</h2>
  <% @enabled_items_array.each do |item| %>
    <div class="<%= "item_#{item.id}" %>">
      <h3><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></h3>
      <h4><%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {status: "Enabled"} %></h4>
      <h4><%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {status: "Disabled"} %></h4>
      <hr>
    </div>
  <% end %>

  <h2>Disabled Items:</h2>
  <% @disabled_items_array.each do |item| %>
    <div class="<%= "item_#{item.id}" %>">
      <h3><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></h3>
      <h4><%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {status: "Enabled"} %></h4>
      <h4><%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {status: "Disabled"} %></h4>
      <hr>
    </div>
  <% end %>
</div>
