<h1><%= @merchant.name %> Items</h1>

<div id="items">

  <div id="enabled-items">
    <h2>Enabled Items</h2>

    <% @enabled_items.each do |item| %>
      <% if item.name != nil %>
        <p id="enabled-item-<%=item.id%>">
          <span class="item-name">
            <%= item.name %>
          </span>

          <span class="item-disable-button">
            <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local:true do |form| %>
              <%= form.hidden_field :status, value: "Disabled" %>
              <%= form.submit "Disable"%>
            <% end%>
          </span>
        </p>
      <% end %>
    <% end %>

  </div>

  <div id="disabled-items">
    <h2>Disabled Items</h2>

    <% @disabled_items.each do |item| %>
      <% if item.name != nil %>
        <p id="disabled-item-<%=item.id%>">
          <span class="item-name">
            <%= item.name %>
          </span>

          <span class="item-enable-button">
            <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local:true do |form| %>
              <%= form.hidden_field :status, value: "Enabled" %>
              <%= form.submit "Enable"%>
            <% end%>
          </span>
        </p>
      <% end %>
    <% end %>

  </div>

</div>

