<h1> <%= @merchant.name %>'s Items  </h1>

<%= button_to 'Create New Item', new_merchant_item_path(@merchant), method: :get %>
<h3>Top 5 Items</h3>
<table>
<% @merchant.most_popular_items.each do |item| %>
<td><%= link_to "#{item.name}", merchant_item_path(@merchant,item) %>: Total Revenue: <%= number_to_currency(item.total_revenue/100, precision: 2) %></td>
<td>
  <%= item.best_sales_date %>
</td>
<% end %>
</table>

<hr>

<div id="enabled-<%= @merchant.id %>">
<h2>Enabled Items</h2>
<table>
  <tr>
    <th> Name </th>
    <th> Options </th>
    <th> Top Selling Date For Was </th>
  </tr>
<% @merchant.items.each do |item| %>
  <% if item.status == "enabled" %>
  <tr>
    <div id="enabled-<%= item.id %>">
    <td>Name: <%= link_to "#{item.name}", merchant_item_path(@merchant,item)  %></td>
    <td><%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=disabled",

      method: :patch, local: true do |f| %>
        <button type="submit">Disable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %></td>
    <td>
      <%= item.best_sales_date %>
    </td>
    </div>
  </tr>
  <% end %>
<% end %>
</table>
</div>

<hr>

<div id="disabled-<%= @merchant.id %>">
<h2>Disabled Items</h2>
<table>
  <tr>
    <th> Name </th>
    <th> Options </th>
  </tr>
  <% @merchant.items.each do |item| %>
    <% if item.status == "disabled" %>
  <tr>
    <div id="disabled-<%= item.id %>">
    <td> Name: <%= link_to "#{item.name}", merchant_item_path(@merchant,item)  %> </td>
    <td> <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=enabled",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Enable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %></td>
    </div>
  </tr>
  <% end %>
<% end %>
</table>
</div>

<hr>

<h2>Unknown status </h2>
<table>
<% if @merchant.items.pluck(:status).include?(nil) %>
  <tr><th> Name </th>
  <th> Options </th>
  <th> Top Selling Date For Was </th></tr>
<% end %>
<% @merchant.items.each do |item| %>
  <% if item.status == nil %>
      <tr><td> Name: <a href="/merchants/<%=@merchant.id%>/items/<%= item.id %>"> <%= item.name %> </a> </td>
      <td> <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=enabled",
                    method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Enable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=disabled",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Disable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %></td>
    </tr>
  <% end %>
<% end %>
</table>
