<h1> <%= @merchant.name %>'s Current Stock</h1>

<div id="create-item">
  <p><%= link_to "New Item", "/merchants/#{@merchant.id}/items/new" %></p>
</div>

<% @merchant.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>&emsp; Status: <%= item.status %>
    <%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}?enabled=true", method: :patch, local: true %>&emsp;
    <%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}?disabled=true", method: :patch, local: true %><br>
    </p>
  </div>
<% end %>

<div id="top-five-items">
  <h3>Top Items</h3>
  <% @merchant.top_five_items.each do |item| %>
    <ol>
      <li><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> - <%= number_to_currency(item.revenue.fdiv(100)) %> in sales </li>
      <p> Top selling date for <%= item.name %> was <%= item.top_day.strftime("%-m/%d/%y") %> </p>
    </ol>
  <% end %>
</div>