<h2><%= @merchant.name %></h2>

<%= button_to 'Create a New Item', new_merchant_item_path(@merchant), method: :get %>

<h3>Enabled Items</h3>
  <% @merchant.items.each do |item| %>
    <% if item.status == 'Enabled' %>
      <p><%= link_to item.name, merchant_item_path(@merchant.id, item.id) %></p>
      <%= form_with model: [@merchant, item], url: merchant_item_status_path(@merchant, item), method: :patch, local: true do |f| %>
        <%= f.hidden_field :status, value: 'Disabled' %>
        <%= f.submit "Disable #{item.name}" %>
      <% end %>
    <% end %>
  <% end %>

<h3>Disabled Items</h3>
  <% @merchant.items.each do |item| %>
    <% if item.status == 'Disabled' %>
      <p><%= link_to item.name, merchant_item_path(@merchant.id, item.id) %></p>
      <%= form_with model: [@merchant, item], url: merchant_item_status_path(@merchant, item), method: :patch, local: true do |f| %>
        <%= f.hidden_field :status, value: 'Enabled' %>
        <%= f.submit "Enable #{item.name}" %>
      <% end %>
    <% end %>
  <% end %>

<h3>Top Items</h3>
  <% @merchant.top_five_items.each do |item| %>
    <p><%= link_to item.name, merchant_item_path(@merchant.id, item.id) %> - <%= number_to_currency((item.revenue / 100)) %> in sales</p>
    <p>Top day for <%= item.name %> was <%= item.best_sales_day.strftime("%m/%d/%Y") %></p>
  <% end %>
