<h1> <%= @merchant.name %></h1>

<% @merchant.items.each do |item| %>
<a href="/merchants/<%=@merchant.id%>/items/<%=item.id%>"><h2><%= item.name %></h2></a>
<h2>item status: </h2>
<%= form_with url: "/merchants/#{@merchant.id}/items", method: 'POST', local: true do |form| %>
  <%= form.submit "#{status} Item"%>
<% end %>
