<h1>MerchantItemsIndex</h1>
<%= link_to 'Create New Item', "/merchants/#{@merchant.id}/items/new" %>

<h3>Top five most popular items</h3>
<ol id="top_five_items">
  <% @merchant.items.top_five_items.each do |item| %>
    <li><%= item.name %>
      <ul>
        <li>Total Revenue: <%= number_to_currency(item.total_revenue/100.0) %></li>
        <li>Top selling date was: <%= item.invoices.highest_date %></li>
      </ul>
    </li>
  <% end %>
</ol>

<h3>Enabled Items</h3>
<ul id="enabled-items">
  <% @merchant.items.enabled.each_with_index do |item, index| %>
    <li id="item-<%=index%>">
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}"  %>
        <%= form_with url: "/merchants/#{item.merchant_id}/items/#{item.id}", method: :patch, local: true do |f| %>
          <%= f.submit "Disable" %>
          <%= f.hidden_field :disable, value: 'true' %>
        <% end %>
    </li>
  <% end %>
</ul>

<h3>Disabled Items</h3>
<ul id="disabled-items">
  <% @merchant.items.disabled.each_with_index do |item, index| %>
    <li id="item-<%=index%>">
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}"  %>
        <%= form_with url: "/merchants/#{item.merchant_id}/items/#{item.id}", method: :patch, local: true do |f| %>
          <%= f.submit "Enable" %>
          <%= f.hidden_field :enable, value: 'true' %>
        <% end %>
    </li>
  <% end %>
</ul>
