<h2><%= @merchant.name %></h2>

<h3>Top Five Items By Revenue</h3><hr>
<div id="top-items">
  <% @merchant.top_five_items_by_revenue.each do |item| %>
    <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <p>Total Revenue: <%= item.invoice_items.item_revenue.to_s.insert(-3,'.') %></p>
    <p>Top selling date was <%= item.item_best_day %></p>
    <hr>
  <% end %>
</div>

<p><%= link_to "Create a new Item", "/merchants/#{@merchant.id}/items/new" %></p>

<h3>Enabled Items</h3>
  <div id="enabled-items">
    <% @items.enabled_items.each do |item| %>
      <div id="item-<%= item.id %>">
        <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
        <p>Current Status: <%= item.status %></p>
        <p><%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { status: 0} %></p>
      </div>
    <% end %>
  </div>

<h3>Disabled Items</h3>
  <div id="disabled-items">
    <% @items.disabled_items.each do |item| %>
      <div id="item-<%= item.id %>">
        <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
        <p>Current Status: <%= item.status %></p>
        <p><%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { status: 1} %></p>
      </div>
    <% end %>
  </div>
