<h1> <%= @merchant.name %>'s Current Stock</h1>

<div id="create-item">
  <p><%= link_to "New Item", "/merchants/#{@merchant.id}/items/new" %></p>
</div>

<% @merchant.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
  </div>
<% end %>

<div id="top-five-items">
  <h3>Top Items</h3>
  <% @merchant.top_five_items.each do |item| %>
    <ul>
      <li><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> - <%= number_to_currency(item.revenue) %> in sales </li>
    </ul>
  <% end %>
</div>


