<h1><%= @merchant.name %>'s Items </h1>
<h4><%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %></h4>
<div class="items">
  <h2>Enabled Items:</h2>
  <% @enabled_items_array.each do |item| %>
    <div class="<%= "item_#{item.id}" %>">
      <h3><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></h3>
      <%= form_with model: [@merchant, item], local: true do |form| %>
        <%= form.hidden_field :status, value: "Disabled" %>
        <%= form.submit "Disable #{item.name}"%>
      <% end %>
    </div>
  <% end %>

  <h2>Disabled Items:</h2>
  <% @disabled_items_array.each do |item| %>
    <div class="<%= "item_#{item.id}" %>">
      <h3><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></h3>
      <%= form_with model: [@merchant, item], local: true do |form| %>
        <%= form.hidden_field :status, value: "Enabled" %>
        <%= form.submit "Enable #{item.name}"%>
      <% end %>
    </div>
  <% end %>
</div>

<div class="top_items">
  <h2>Top Items</h2>
  <% @merchant.popular_items(5).each do |item| %>
    <div class=<%= "top_item_#{item.id}" %>>
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
      <p><%= "Total Revenue: #{money_honey(item.revenue)}" %></p>
      <p><%= "Top selling date for #{item.name} was #{item.best_day.strftime("%A, %B %d, %Y")}." %></p>
    </div>

  <% end %>
</div>
