<h1> <%= @merchant.name %>'s Items  </h1>
<h2>Enabled Items</h2>
<% @enabled_items.each do |item| %>
      Name: <a href="/merchants/<%=@merchant.id%>/items/<%= item.id %>"> <%= item.name %> </a>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=enabled",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Enable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=disabled",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Disable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %>
      <hr>
<% end %>

<h2>Disabled Items</h2>
<% @disabled_items.each do |item| %>
      Name: <a href="/merchants/<%=@merchant.id%>/items/<%= item.id %>"> <%= item.name %> </a>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=enabled",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Enable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=disabled",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Disable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %>
      <hr>
<% end %>

<% @merchant.items.each do |item| %>
  <% if item.status == nil %>
<h2>Unknown status </h2>
      <li> Name: <a href="/merchants/<%=@merchant.id%>/items/<%= item.id %>"> <%= item.name %> </a>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=enabled",
                    method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Enable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=disabled",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Disable</button>
        <%= f.text_field :item_id, value: item.id, hidden: true %>
      <% end %>
      </li>
  <% end %>
<% end %>
