
<h1>Merchant Items</h1>
<% @items.each do |item| %>
  <li><%=item.name %></li>
<% end %>

<% @items.each do |item| %>
  <p><%= item.name %> (<%= item.status %>)</p>
  <%=  button_to 'Enable', "/merchants/#{item.merchant_id}/items/#{item.id}?status=enabled", method: :patch, id: item.id %>
  <%=  button_to 'Disable', "/merchants/#{item.merchant_id}/items/#{item.id}?status=disabled", method: :patch, id: item.id %>
<% end %>

<h3>Enabled Items:</h3>
<div id='enabled'>
  <% @items.only_enabled.each do |item| %>
    <%= item.name %>,
  <% end %>
</div>

<h3>Disabled Items:</h3>
<div id='disabled'>
  <% @items.only_disabled.each do |item| %>
    <%= item.name %>,
  <% end %>
</div>

<%= link_to "Create Item", "/merchants/#{@merchant.id}/items/new", method: :get %>

<h3>Top 5 Items</h3>
<div id='top-5-items'>
  <% @items.top_5.each do |item| %>
    <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>, Revenue: $<%= item.revenue_generated %>, Best Date: <%= item.best_selling_date %></p>
  <% end %>
</div>
