<% @merchant.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <% if item.status == "disabled" %>
      <%= button_to "Enable" ,"/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: true, params: {status: "enabled"} %>
    <% elsif item.status == "enabled" %>
      <%= button_to "Disable" ,"/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: true, params: {status: "disabled"} %>
    <% end  %>
  </div>
<% end %>

<%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %>
