<h1>Merchant Items Index</h1>

<h2>Enabled Merchant Items</h2>
<section id='enabled-merchant-items'>
  <%= render partial: 'merchant_items', locals: {merchant_items: @merchant.enabled_items} %>
</section>

<h2>Disabled Merchant Items</h2>
<section id='disabled-merchant-items'>
  <%= render partial: 'merchant_items', locals: {merchant_items: @merchant.disabled_items} %>
</section>

<h2> <%= link_to "Create New Item", new_merchant_item_path(@merchant.id) %></h2>

<section class="item-top5">
  <h1>Five Most Popular Items</h1>
  <% @merchant.items.top_5_popular_items.each do |item| %>
    <li>Item:<%=link_to item.name, merchant_items_path(@merchant.id) %> $<%= item.highest_in_revenue %></li> 
    <p><%= "Top selling date for #{item.name} was #{item.invoices.best_day.created_at.strftime('%m/%d/%y')}" %></p>
  <% end%>
</section>

