<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <%= @merchant.name %>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
      <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide2">
    <p>New Item</p>
    <% @merchant.items.each do |item| %>
    <div class="merchant-items-<%= item.id %>">
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
    <% end %>
    <% if @merchant.items.enabled %>
      <%= button_to "Disable", "/merchants/{#@merchant.id}/items", method: :patch%>
    <% else %>
      <%= button_to "Enable", "/merchants/#{@merchant.id}/items", method: :patch %>
    <% end %>
  </div>

  <div class="page-defaults" id="rightSide2">
  <p>Top Items</p>
  </div>

</div>
