<div id="header">
    <%= render "shared/merchant_header" %>
</div>

<% flash.each do |type, msg| %>
    <div class='flash_green'><%= msg %></div>
    <br>
<% end %>

<div class='section-title' style="font-size:130%">My Items</div>

<div class='content'>
  <div id="all-items-section">
  <h4><%= link_to "Create a New Item", new_merchant_item_path(@merchant) %></h4>
    <div id="enabled-items-section">
      <h3>Enabled Items</h3>
      <% @merchant.items.enabled.each do |item| %>
        <div id="item-<%= item.id %>">
          <%= link_to item.name, merchant_item_path(@merchant, item) %>
          <%= button_to 'Disable', merchant_item_path(@merchant, item), method: :patch, params: { status: "disabled" }, form: {style: 'display:inline-block;'} %>
          <br><br>
        </div>
      <% end %>
    </div>

    <div id="disabled-items-section">
      <h3>Disabled Items</h3>
      <% @merchant.items.disabled.each do |item| %>
        <div id="item-<%= item.id %>">
          <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
          <%= button_to 'Enable', merchant_item_path(@merchant, item), method: :patch, params: { status: "enabled" }, form: {style: 'display:inline-block;'} %>
          <br><br>
        </div>
      <% end %>
    </div>
  </div>

  <div id="top-5-revenue-generated">
    <h3>Top 5 Revenue Generators</h3>
    <ol>
    <% @merchant.top_5_revenue_generated.each_with_index do |item, index| %>
      <div id="number-<%="#{index + 1}"%>-revenue-earner">
        <li><%= link_to item.name, merchant_item_path(@merchant, item) %> - <%= number_to_currency(item.revenue.to_f/100) %> in sales
          <p>Top day for <%= "#{item.name}" %> was <%= "#{item.best_day(item.id)}" %></p>
        </li>
      </div>
    <% end %>
    </ol>
  </div>
</div>