<div id="header">
    <%= render "shared/merchant_header" %>
</div>

<% if flash[:notice] %>
  <div class="notice" style="color:green; font-size:150%;"><%= flash[:notice] %></div>
<% end %>

<div class='section-title' style="font-size:130%"><%= @item.name %></div>

<div id="items-info">
  <br>
  <div id="item-description"><strong>Description: </strong><%= @item.description %></div>
  <br>
  <div id="item-unit_price"><strong>Current Price: </strong><%= number_to_currency(@item.unit_price.to_f/100) %></div>
  <br>
</div>

<%= link_to "Update Information", edit_merchant_item_path(@item.merchant_id, @item) %>