<b><i><%= flash[:alert] %></b></i>

<h1><%= @item.name %></h1>
<p><b>Description: </b><%= @item.description %></p>
<p><b>Price (Cents): </b><%= @item.unit_price %></p>

<%= button_to "Edit #{@item.name}", "/merchants/#{@merchant.id}/items/#{@item.id}/edit", method: :get %>
