<h1> <%= @item.name %> </h1>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<ul>
    <li> Description: <%= @item.description%>
    </li>
    <li> Current Selling Price: <%= number_to_currency(@item.unit_price)%>
    </li>
</ul>
<%= link_to "Edit item", "/merchants/#{@item.merchant.id}/merchant_items/#{@item.id}/edit"%>
