<h1><%= @item.name %></h1>

<% if flash[:notice] %>
  <div class="notice" style="color:green; font-size:150%;"><%= flash[:notice] %></div>
<% end %>

<div id="items-info">
  <ul>
    <li id="item-name"><%= @item.name %></li>
    <li id="item-description"><%= @item.description %></li>
    <li id="item-unit_price"><%= @item.unit_price %></li>
  </ul>
</div>

<%= link_to "Update Information", edit_merchant_item_path(@item.merchant_id, @item) %>