<h2><%="#{@item.name}"%></h2>

<h3><%= "Description: #{@item.description}" %> <br>
<%= "Current Selling Price: $#{(@item.unit_price.to_f/100)}" %><br></h3>
<h3><%= "Status: #{@item.status}" %> </h3><br>
<%= link_to "Update", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>