<h1><%= @merchant.name %>'s Items</h1>

<%= link_to 'Create a new item', new_merchant_item_path %>
<br><br>

<table id="top-item-table" class="table table-light" style="text-align:center">
  <thead>
    <tr>
      <th style="text-align:center"><h4>Top 5 Items</h4></th>
    </tr>
  </thead>
  <tbody>
      <table class="table mb-0 table-striped table-hover">
        <tr id="item-table-headers">
          <th class="table-info">Item Rank:</th>
          <th class="table-info">Item Name:</th>
          <th class="table-info">Top Selling Date:</th>
          <th class="table-info">Total Revenue Generated:</th>
        </tr>
          <% @merchant.top_five_items.each_with_index do |item, idx| %>
            <tr id="item-<%= item.id %>">
              <td><%= "#{idx + 1}" %></td>
              <td><%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: "btn btn-secondary btn-sm" %></td>
              <td><%= "#{item.item_best_day(item.id).first.purchase_date}" %></td>
              <td><%= number_to_currency(("#{item.total_item_price}".to_i)/100.00) %></td>
            </tr>
          <% end %>
    </table>
  </tbody>
</table>
<br><br>

<table id='all-item-table' class="table table-light" style="text-align:center">
  <thead>
    <tr>
      <th style="text-align:center"><h4>Merchants Items</h4></th>
    </tr>
  </thead>
  <tbody>
    <table class="table mb-0 table-striped table-hover">
      <tr id="item-table-headers">
        <th class="table-info">Item Name:</th>
        <th class="table-info">Item Status:</th>
        <th class="table-info">Enable/Disable:</th>
        <th class="table-info">Show Page:</th>
        <th class="table-info">Edit Page:</th>
      </tr>
      <tr id="sort-buttons">
        <th class="table-info"><%= button_to "Sort Alphabetically", merchant_items_path(@merchant.id), method: :get, params: { sort: 'name' }  %></th>
        <th class="table-info"><%= button_to "Sort by Updated Date", merchant_items_path(@merchant.id), method: :get, params: { sort: 'date' }  %></th>
        <th class="table-info"></th>
        <th class="table-info"></th>
        <th class="table-info"></th>
      </tr>
        <% @items.each do |item| %>
          <tr id= "merchant_item-<%= item.id %>">
            <td><%= item.name %></td>
            <td><%= item.enable_opposite.capitalize %>d</td>
            <td><%= button_to "#{item.enable_opposite.capitalize} Item", merchant_item_path(@merchant.id, item.id), method: :patch,
                      params: { direct: :enable, item: { id: item.id, enable: item.enable_opposite }} %></td>
            <td><%= link_to 'Show', merchant_item_path(@merchant.id, item.id) %></td>
            <td><%= link_to 'Edit', edit_merchant_item_path(@merchant.id, item.id) %></td>
          </tr>
        <% end %>
    </table
  </tbody>
</table>
<br><br>

<div style="margin: auto; width: 100%; padding: 0 100px 0;">
<div id="enabled" style="display:inline-block; width:500px; background:rgb(250,250,250); padding:20px; margin:0 4em 2em 0;">
<table class="table mb-0 table-striped table-hover">
    <tbody>
      <h4>Enabled Items</h4>
      <% @enabled_items.each do |item| %>
        <tr id="enabled_item-<%= item.id %>">
          <td><%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: "link-dark" %></td>
          <td><%= button_to "#{item.enable_opposite.capitalize} Item", merchant_item_path(@merchant.id, item.id), method: :patch,
                    params: { direct: :enable, item: { id: item.id, enable: item.enable_opposite }} %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>

<div id="disabled" style="display: inline-block; width:500px; background:rgb(250,250,250); padding:20px;">
<table class="table mb-0 table-striped table-hover">
    <tbody>
      <h4>Disabled Items</h4>
      <% @disabled_items.each do |item| %>
        <tr id="disabled_item-<%= item.id %>">
          <td><%= link_to item.name, merchant_item_path(@merchant.id, item.id), class: "link-dark" %></td>
          <td><%= button_to "#{item.enable_opposite.capitalize} Item", merchant_item_path(@merchant.id, item.id), method: :patch,
                    params: { direct: :enable, item: { id: item.id, enable: item.enable_opposite }} %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
</div>
