<% content_for :heading do%>
<%= @merchant.name %>'s shop
<%end%>

<h1>My Items</h1>
<%= link_to "Create New Item", new_merchant_item_path(@merchant) %>
<h3>Enabled Items</h3>
<ul id="enabled_items">
  <% @merchant.enabled_items.each do |item| %>
    <li id="item-<%= item.id %>">
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
      <%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: { enabled: false } %>
    </li>
  <% end %>
</ul>
<h3>Disabled Items</h3>
<ul id="disabled_items">
  <% @merchant.disabled_items.each do |item| %>
    <li id="item-<%= item.id %>">
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
      <%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: { enabled: true } %>
    </li>
  <% end %>
</ul>

<% content_for :aside do%>
<h3>Top 5 Items By Revenue</h3>
<ol id="top-five">
  <% @merchant.top_5_items.each do |item| %>
    <li id="top-item-<%= item.id %>">
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
      <p>Total Revenue: <%= price_round(item.revenue) %></p>
      <p>Top selling date for <%= item.name %> was <%= item.best_sales_date %></p>
    </li>
  <% end %>
</ol>
<%end%>
