<h1>Merchant: <%= @merchant.name %></h1>

<div id="new-item">
  <%= link_to "New Item", "/merchants/#{@merchant.id}/items/new" %>
</div>

<div class="" style="max-width: 1000px">
  <div class="" style="display: inline-block; float: left">
    <section id="enabled-items">
  <h3>Enabled Items</h3>
  <% @merchant.items.enabled.each do |item| %>
    <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <div class="btn btn-outline-danger">
      <%= button_to "disable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch %>
    </div><br>
  <% end %>
</section>

<section id="disabled-items">
  <h3>Disabled Items</h3>
  <% @merchant.items.disabled.each do |item| %>
    <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <div class="btn btn-outline-success">
      <%= button_to "enable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch %>
    </div><br>
  <% end %>
</section>
  </div>

  <div id="top-items", style="display: inline-block; float: right;">
    <h3>Top Items</h3>
    <ol>
      <% @merchant.top_5_items_by_revenue.each do |item| %>
        <li style="font-size:20px">
          <%= item.name %> - <%= number_to_currency(item.revenue) %> in sales </br>
          Top day for <%= item.name %> was <%= item.item_top_day.strftime("%m/%d/%y") %>
        </li></br>
      <% end %>
    </ol>
  </div>
</div>
