<h1><%= "#{@merchant.name}'s items" %></h1>
<% @items.each do |item| %>
  <p><%= link_to item.name, merchant_item_path(@merchant.id, item.id) %></p>
  <%= form_with url: merchant_item_path(@merchant.id, item.id), method: :patch, local: true do |form| %>
    <% if item.status == "disabled" %>
      <%= form.hidden_field :status, value: "enabled" %>
      <%= form.submit "Enable", id: "enable_#{item.id}" %>
    <% else %>
      <%= form.hidden_field :status, value: "disabled" %>
      <%= form.submit "Disable", id: "disable_#{item.id}" %>
    <% end %>
  <% end %>
<% end %>