<h1>My Items</h1>

<div id="enabled">
  <h2>Enabled Items</h2>
  <% @merchant.items.enabled.each do |item| %>
    <div id= <%= "#{item.id}" %>>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <p>Status: <%= item.status %></p>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=1", method: :patch, local: true do |f| %>
        <%= f.submit "Disable" %>
      <% end %>
    </div>
  <% end %>
</div>

<div id='disabled'>
  <h2>Disabled Items</h2>
  <% @merchant.items.disabled.each do |item| %>
    <div id= <%= "#{item.id}" %>>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <p>Status: <%= item.status %></p>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=0", method: :patch, local: true do |f| %>
        <%= f.submit "Enable" %>
      <% end %>
    </div>
  <% end %>
</div>
