<h1>Merchant Items</h1>
<%= link_to 'Create a new item', new_merchant_item_path %><br>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<%# fix me %>
<h3>Merchants Items</h3>
  <tbody>
    <% @merchant.items.each do |merchant_item| %>
      <tr id= "merchant_item-<%= merchant_item.id %>">
        <td><%= merchant_item.name %></td>
        <td>:<%= merchant_item.enable %>d&nbsp</td>
        <td><%= button_to merchant_item.enable_opposite, "/merchants/#{merchant_item.merchant_id}/items/#{merchant_item.id}", method: :patch,
                  params: { direct: :enable, item: { id: merchant_item.id, enable: merchant_item.enable_opposite }} %></td>
        <td><%= link_to 'Show', merchant_item_path(@merchant.id, merchant_item.id) %></td>
        <td><%= link_to 'Edit', edit_merchant_item_path(@merchant.id, merchant_item.id) %></td>
        <td><%#= link_to 'Destroy', merchant_item , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table id='top-item-table' class="table table-light" style="text-align:center">
  <thead>
    <tr>
      <th style="text-align:center">Top 5 Items</th>
    </tr>
  </thead>
  <!-- Then I see the names of the top 5 most popular items ranked by total revenue generated
  And I see that each item name links to my merchant item show page for that item
  And I see the total revenue generated next to each item name -->
  <tbody>

  <tr>
    <td colspan="3">
      <table class="table mb-0 table-striped table-hover">
        <tr id="item-table-headers">
          <th class="table-info">Item Rank:</th>
          <th class="table-info">Item Name:</th>
          <th class="table-info">Top Selling Date:</th>
          <th class="table-info">Total Revenue Generated:</th>
        </tr>
        <tr id="merchant-top-items">
          <% @merchant.top_five_items.each_with_index do |item, idx| %>
            <tr id="item-<%= item.id %>">
              <td><%= "#{idx + 1}" %></td>
              <td><a class="btn btn-secondary btn-sm" href=<%="/merchants/#{@merchant.id}/items/#{item.id}" %>><%= "#{item.name}" %></td>
              <td><%= "#{item.item_best_day(item.id).first.purchase_date}" %></td>
              <td><%= number_to_currency(("#{item.total_item_price}".to_i)/100.00) %></td>
            </tr>
          <% end %>
        </tr>
      <br>
  </tbody>
</table>
