<h1> Merchant Items: </h1>
<% @enabled_items.each do |item| %>
<section id="enabled_items-<%= item.id %>">
<%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
<%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", params: {item_status: false}, method: :patch %>
<% end %>
</section>
  <% @disabled_items.each do |item|   %>
  <section id="disabled_items-<%= item.id %>">
    <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
    <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", params: {item_status: true}, method: :patch %>
  <% end %>
</section>
<%= link_to "Create New Item", new_merchant_item_path(@merchant) %>
