<h1> Merchant Items: </h1>
<% @enabled_items.each do |item| %>
<section id="enabled_items-<%= item.id %>">
<%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
<%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", params: {item_status: false}, method: :patch %>
<% end %>
</section>
  <% @disabled_items.each do |item|   %>
  <section id="disabled_items-<%= item.id %>">
    <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
    <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", params: {item_status: true}, method: :patch %>
  <% end %>
</section>
<h1> Top Five Items by Revenue: </h1>
  <section id="topitems-">
    <% @top_items.each do |item| %>
      <%= "#{item.name} - Revenue Generated - #{item.revenue}"  %>
      <% end %>
  </section>
