<h2 class="title">Add a New Item:</h2>
<%= form_with url: "/merchants/#{@merchant.id}/items", method: :post, local: true do |form| %>
   <%= form.label :name %><br/>
   <%= form.text_field :name %><br/>

   <%= form.label :description %><br/>
   <%= form.text_field :description %><br/>

   <%= form.label :unit_price %><br/>
   <%= form.text_field :unit_price %><br/>

   <%= form.label :merchant_id, style: "display:none;"  %><br/>
   <%= form.text_field :merchant_id, value: "#{@merchant.id}", style: "display:none;" %><br/>

   <%= form.label :status, style: "display:none;"  %><br/>
   <%= form.text_field :status, value: "disable", style: "display:none;" %><br/>

   <%= form.submit "Submit"%>
<% end %>
