<% content_for :heading do%>
<%= @merchant.name %>'s shop
<%end%>

<p><%= flash.notice %></p>

<h2><%= @item.name %></h2>
<p>Description: <%= @item.description %></p>
<p>Current Price: $<%= '%.2f' % (@item.unit_price/100) %></p>
<p><%= link_to "Update", edit_merchant_item_path(@item.merchant, @item) %></p>