<div align="center">
  <h2>Editing
    <%= link_to "#{@discount.name}", merchant_discount_path(@merchant, @discount), method: :get, class:"btn btn-outline-dark navbar-custom btn-lg" %>
     Discount
   </h2>
  <br/><br/>
</div>

<div align="center">
  <%= form_with(model: [@merchant, @discount], local: true, :html => { :class => 'card navbar-custom card-body', :style => 'width: 18rem;' }) do |form| %>

    <% if @discount.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>
        <ul>
          <% @discount.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :threshold %>
      <%= form.number_field :threshold, min: 1 %>
    </div>

    <div class="field">
      <%= form.label :percentage %>
      <%= form.number_field :percentage, min: 1, max: 100 %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>
  <br/>
  <%= link_to 'Back', merchant_discounts_path(@merchant), class:"btn btn-outline-dark navbar-custom btn-sm" %>
</div>
