<h1><%= @merchant.name %>'s Discounts</h1>
<%= link_to "Create Discount", new_merchant_discount_path(@merchant) %>

<section id="next_three_holidays">
  <h2>Upcoming Holidays:</h2>
  <% @holidays.next_three_holidays.each do |holiday| %>
    <p><%= holiday.local_name %>: <%= holiday.date %></p>
  <% end %>
</section>
<section id="discount_list">
  <% @merchant.discounts.each do |discount| %>
    <h2><%= discount.name %></h2>
    <p>threshold: <%= discount.threshold %></p>
    <p>percentage: <%= discount.percentage %></p>
    <p>Click here for details: <%= link_to "#{discount.name}", merchant_discount_path(@merchant, discount) %></p>
    <%= button_to "Delete #{discount.name}", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %>
  <% end %>
</section>