<h1>New Discount for <%= @merchant.name  %></h1>

<div align="center">
<%= form_with(model: [@merchant, @discount], local: true, :html => { :class => 'card navbar-custom card-body', :style => 'width: 18rem;' }) do |form| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: params[:discount] %>
  </div>

  <div class="field">
    <%= form.label :threshold %>
    <%= form.number_field :threshold, min: 1, value: params[:threshold] %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.number_field :percentage, min: 1, max: 100, value: params[:percentage] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', merchant_discounts_path(@merchant), class:"btn btn-outline-dark navbar-custom" %>
