<div class="flex-container">
  <div id='title'>
    <h3><%= @merchant.name %></h3>
  </div>
    <div id='nav'>
      <th><%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard" %></th>&emsp;
      <th><%= link_to "My Items", "/merchants/#{@merchant.id}/items" %></th>&emsp;
      <th><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></th>&emsp;
      <th><%= link_to "My Discounts", "/merchants/#{@merchant.id}/bulkdiscounts" %></th>
    </div>
</div>

  <center><h2 style='background-color: #f1f1f1;'>My Invoices</h2></center>

<div class="flex-container">

  <div class='body-left'>
    <% @merchant.items.each do |item| %>
      <% item.invoices.each do |invoice| %>
        <h3>Invoice #<%= link_to "#{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %><br>
      <% end %>
    <% end %>
  </div>
