<h3>Invoice ID: <%= @invoice.id %></h3><br>

<a>Status: <%= @invoice.status %></a><br>
<a>Created At: <%= @invoice.formatted_created_at %></a><br>
<a>Customer Name: <%= @invoice.customer_name %></a><br><br>

<h3>My Items on This Invoice:</h3>

<% @merchants_items.each do |invoice_item| %>
<section id="invoice_item-<%= invoice_item.id %>">


  Item Name: <%= invoice_item.item.name %><br>
  Quantity Ordered: <%= invoice_item.quantity %><br>
  Item Price: <%= invoice_item.price_to_dollars %><br>
  Invoice Item Status: <%= invoice_item.status %><br><br>

</section>

<% end %>
