<%= render partial: '/merchants/merchants-nav', locals: {merchant: @merchant} %>
<h2 class="subtitle">Invoice #<%= @invoice.id %></h2>
<div id="inv_info_container">
  <div class="inv_info"><strong>Status:</strong> <%= @invoice.status.gsub("_", " ").titleize %></div>
  <div class="inv_info"><strong>Created On:</strong> <%= @invoice.created_at.strftime("%A, %B %-d, %Y") %></div>
  <div class="inv_info" id="inv_cust_info">
    <div><strong>Customer:</strong></div>
    <div><%= "#{@customer.first_name} #{@customer.last_name}" %></div>
  </div>
</div>