<h1>Invoice # <%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Total Revenue: <%= @invoice.total_revenue %></p>
<p>Created At: <%= @invoice.created_at.strftime("%A, %B %d %Y") %></p>

<h3>Customer: <%=@invoice.customer.first_name %> <%= @invoice.customer.last_name %></h3>

<h2>Items on this invoice:</h2>
<% @invoice.invoice_items.each do |invitem| %>
<div id="<%= invitem.item_id %>">
  <p>Name: <%=invitem.item.name %></p>
  <p>Quantity: <%=invitem.quantity %></p>
  <p>Price sold at: <%=invitem.unit_price %></p>
  <p>Status: <%=invitem.status %></p>
  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?invoice_item_id=#{invitem.id}", method: :patch, local: true do |form| %>
    <%= form.select :new_invoice_item_status, ['pending', 'shipped', 'packaged'], selected: invitem.status %>
    <%= form.submit "Update Item Status" %>
  <% end %>
</div>

<br>
<% end %>
