<h1>Invoice Show Page</h1>

<div id="invoice-details">
    <p>ID: <%= @invoice.id %></p>
    <p>Status: <%= @invoice.status %></p>
    <p>Created: <%= @invoice.formatted_date %></p>  
    <p>Customer: <%= @invoice.customer_name %></p><br>
</div>

<div id="invoice-item-total-revenue">
    <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue/100) %></p><br>
</div>
<div id="invoice-item-discounted-revenue">
    <p>Total Discounted Revenue: <%= number_to_currency(@invoice.total_discounted_revenue/100) %></p><br>
</div>

<div id="invoice-item-information">
    <% @invoice.invoice_items.each do |invoice_item|%>
        <h3><%="Item Name: #{invoice_item.item.name}"%></h3>
        <p><%="Quantity Ordered: #{invoice_item.quantity}"%></p>
        <p><%="Price: #{number_to_currency(invoice_item.unit_price/100)}"%></p>
        <p><%="Status: #{invoice_item.status}"%></p>

        <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
            <%= form.label :status %>
            <%= form.select :status, ['pending', 'packaged', 'shipped'] %>
            <%= form.hidden_field :invoice_item_id, value: invoice_item.id  %>
            <%= form.submit "Update Item Status" %>
        <% end %>
    <% end %>
</div>



