<h1>Invoice <%=@invoice.id%>'s Information</h1>
<h3>Merchant: <%=@merchant.name%></h3>
<p>Status: <%=@invoice.status%></p>
<p>Created On: <%=@invoice.created_at.strftime("%A, %B %d, %Y")%></p>
<p>Customer: <%=@invoice.customer_name%></p>

<h2><%=@invoice.id%>'s Items</h2>
<%@invoice.merchant_invoice_items(@merchant).each do |invoice_item|%>
  <section id="invoice_<%= invoice_item.item_id%>">
    <h3>Item: <%=invoice_item.item.name%></h3>
    <p>Quantity Ordered: <%=invoice_item.quantity%></p>
    <p>Unit Price: $<%=(invoice_item.unit_price.to_f/100)%></p>
    <p>Status: <%=invoice_item.status%></p>
  </section>
<%end%>

<h2>Total Potential Revenue</h2>
<h4>$<%=@invoice.potential_revenue(@merchant).to_f/100%></h4>
