<h1> Little Esty Shop </h1>
<h3>Invoice #<%= @invoice.id %></h3>
<section id="invoiceDetails">
  <p> Status: <%= "#{@invoice.status}"%> </p><br>
  <p> Created on: <%= "#{@invoice.created_at_format}" %> </p><br>
  <h4>Customer:</h4>
  <p><%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>
</section>
<section id="invoiceItemsDetails">
  <h4>Items on this Invoice</h4>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <% if invoice_item.belongs_to_merchant(@merchant) %>
      <p class="invoiceItem"><%= invoice_item.item.name %></p>
      <p>Quantity: <%= invoice_item.quantity %></p>
      <p>Price: <%= invoice_item.unit_price %></p>
      <p>Status: <%= invoice_item.status %></p>
      <% end %>
    <% end %>
</section>
