<h1>Invoice# <%= @invoice.id %></h1>
  <p>Status: <%= @invoice.status %></p>
  <p>Created at:<%= @invoice.date %></p>

<br>

<h3>Total Revenue Y'all</h3>
<p><%=@invoice.revenue %></p>


<% @items.each do |item| %>
  <%= item.name %>
  <%= item.amount(@invoice.id) %>
  <%= item.sold_price(@invoice.id) %>
  <%= item.order_status(@invoice.id) %>
<% end %>

