<h1> Merchant Invoice </h1>

<p>Invoice Id: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Invoice Status: <%= @invoice.status %></p><br>


<% @invoice.items.each do |item| %>
  <h3> Item Name: <%= item.name %></h3>
  <p> Item Price: <%= item.unit_price %></p>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <%= form_with model: invoice_item, url: merchant_invoice_item_path(@invoice.merchant.id, invoice_item.id) do |f| %>
      <%= f.label :status, 'Status:' %>
      <%= f.select :status, ['packaged', 'pending', 'shipped'] %>
      <%= f.submit 'Update Item Status' %>
    <% end %>
 <br><% end %>
<% end %>

<section class="customer-information">
  <h2>Customer Information</h2>

  <p>First Name: <%= @invoice.customer.first_name %></p>
  <p>Last Name: <%= @invoice.customer.last_name %></p>
  <p>Address: <%= @invoice.customer.address %></p>
</section>
