<h1> <%= "Invoice number: #{@invoice.id}" %> </h1>
<h3> <%= "Status: #{@invoice.status}" %> </h3>
<h3> <%= "Created at: #{@invoice.created_at.strftime("%A, %B %d, %Y")}" %> </h3>
<h3> <%= "Customer Name: #{@invoice.customer.first_name} #{@invoice.customer.last_name}" %> </h3>

<h2> Items </h2>
<% @invoice.invoice_items.each do |invoice_item| %>
  <li> <%= "Item name: #{invoice_item.item.name}" %> </li>
  <li> <%= "Qty: #{invoice_item.quantity}" %> </li>
  <li> <%= "Unit price: #{invoice_item.unit_price}" %> </li>
  <li> <%= "Status: #{invoice_item.status}" %> </li>
  <%= form_with url: "/merchants/#{invoice_item.item.merchant.id}/invoices/#{@invoice.id}?invoice_item_id=#{invoice_item.id}", method: :patch, local: true do |form| %>
    <%= form.radio_button :status, "pending" %>
    <%= form.label :status_pending, "pending" %>
    <%= form.radio_button :status, "packaged" %>
    <%= form.label :status_packaged, "packaged" %>
    <%= form.radio_button :status, "shipped" %>
    <%= form.label :status_shipped, "shipped" %>
    <%= form.submit "Update Item Status" %>
  <% end %>
<% end %>
<h2> <%= "Total Revenue: #{@invoice.total_invoice_revenue}" %> </h2>
