<h1>Merchant Invoices</h1>
<P>ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Created: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
<p>Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
