<h1>Merchant Invoice Show Page</h1>
<%= "Invoice ID: #{@invoice.id} "%><br>
<%= "Invoice Status: #{@invoice.status}"%><br>
<%= "Invoice Created at: #{@invoice.created_at.strftime("%A, %B %e, %Y")}" %><br>
<%= "Customer Name: #{@invoice.customer.first_name} #{@invoice.customer.last_name}" %><br>

<% @invoice.items.each do |item| %>
<div id="items-<%= item.id %>">
  <h3>Item: <%= item.name %></h3>
  <p>Quantity: <%= item.quantity_ordered(@invoice) %><p>
  <p>Price: <%= number_to_currency(item.price_sold(@invoice).fdiv(100)) %><p>
  <p>Status: <%= form_with url: "/merchants/#{item.merchant_id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %></p><br>
  <%= f.select :update_status, ['pending', 'packaged', 'shipped'], selected: item.item_status(@invoice) %><br>
  <%= f.submit 'Update Status' %>
  <% end %>
</div>
<% end %>

<h3>Total Revenue</h3>
<%= "Total Revenue: #{number_to_currency(@invoice.invoice_items.sum{|ii|ii.quantity*ii.unit_price}.fdiv(100))}"%>
