<h1>Invoice # <%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Created At: <%= @invoice.created_at.strftime("%A, %B %d %Y") %></p>

<h3>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></h3>
