<h1>Invoice <%=@invoice.id%>'s Information</h1>
<h3>Merchant: <%=@merchant.name%></h3>
  <p>Status: <%=@invoice.status%></p>
  <p>Created On: <%=@invoice.created_at.strftime("%A, %B %d, %Y")%></p>
  <p>Customer: <%=@invoice.customer_name%></p>

<h2><%=@invoice.id%>'s Items</h2>
<%@invoice.merchant_invoice_items(@merchant).each do |invoice_item|%>
  <section id="invoice_<%= invoice_item.item_id%>">
    <h3>Item: <%=invoice_item.item.name%></h3>
    <p>Quantity Ordered: <%=invoice_item.quantity%></p>
    <p>Unit Price: <%=money_honey(invoice_item.unit_price) %></p>
      <div id="status-<%= invoice_item.item_id%>">
        <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}/#{invoice_item.id}", method: :patch, local: true do |f| %>
        <p>Status: <%= f.select(:status, [:pending, :packaged, :shipped], selected: invoice_item.status)%> <%= f.submit "Update Item Status"%></p>
        <%end%>
      </div>
  </section>
<%end%>

<h2>Total Potential Revenue</h2>
<h4><%= money_honey(@invoice.potential_revenue_by_merchant(@merchant)) %></h4>
