<h1>Merchant Invoice Show Page</h1>

<h3><% @invoice.invoice_items.each do |invoice_item| %></h3>
    <div id="invoice-item-<%= invoice_item.item.id %>">
    <% if @merchant.items.include?(invoice_item.item) %>
        <p>Name: <%= invoice_item.item.name %></p>
        <p>Quantity: <%= invoice_item.quantity %></p>
        <p>Unit Price: <%= invoice_item.unit_price %></p>
        <p>Status: <%= invoice_item.status %> </p>
        <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?invoice_item_id=#{invoice_item.id}", method: :patch, local: true do |f| %>
          <%= f.label "New Status" %>
          <%= f.select :status, ["pending", "packaged", "shipped"], selected: invoice_item.status %>
          <%= f.submit "Update Item Status" %>
        <% end %><hr>
    <% end %>
    </div>
<% end %>

<p>Total Revenue: <%= @invoice.total_revenue(@merchant.id) %></p>

