<h1> Merchant Invoice </h1>

<p>Invoice Id: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Invoice Status: <%= @invoice.status %></p><br>

<p>Total Revenue: $<%= @invoice.total_revenue %></p
<p>Total Discount Revenue: $<%= @invoice.merchant.total_discount_revenue(@invoice.invoice_items) %></p
<ul>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <section id="invoice-item-<%= invoice_item.id %>">

      <% if @invoice.merchant.discount_used(invoice_item).nil? %>
      <p> There is no discount for this item! </p>
      <% else %>
        <%= link_to "Discount Used", merchant_discount_path(@invoice.merchant.id, @invoice.merchant.discount_used(invoice_item).id) %>
      <% end %>
      <h3>Item Name: <%= invoice_item.item.name %></h3>
      <p>Item Price: <%= invoice_item.item.unit_price %></p>
      <p>Quantity: <%= invoice_item.quantity %></p>
      <%= form_with model: invoice_item, url: merchant_invoice_item_path(@invoice.merchant.id, invoice_item.id) do |f| %>
        <%= f.label :status, 'Status:' %>
        <%= f.select :status, ['packaged', 'pending', 'shipped'] %>
        <%= f.submit 'Update Item Status' %>
      <% end %>
    </section>
  <% end %>
</ul>

<section class="customer-information">
  <h2>Customer Information</h2>

  <p>First Name: <%= @invoice.customer.first_name %></p>
  <p>Last Name: <%= @invoice.customer.last_name %></p>
  <p>Address: <%= @invoice.customer.address %></p>
</section>
