<h1> Invoice #<%= @invoice.id %> </h1>

<% @invoice.invoice_items.each do |invoice_item| %>
  <h3><%= Item.find(invoice_item.item_id).name %><br></h3>
  Price: <%= Item.find(invoice_item.item_id).unit_price %><br>
  Quantity: <%= invoice_item.quantity %><br>
  <div id="id-<%=invoice_item.id%>">
    <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
      <%= f.label :status, "Status:" %>
      <%= f.select :status, ["Packaged", "Pending", "Shipped"], selected:invoice_item.status %><br>
      <%= f.button "Update Item Status", type: "submit", name: "invoice_item_id", value: "#{invoice_item.id}" %>
    <% end %>
  </div>
<% end %>

<h3>Total Revenue: <%= @invoice.total_revenue %></h3>
