<h1>Invoice <%=@invoice.id%>'s Information</h1>
<h3>Merchant: <%=@merchant.name%></h3>
<p>Status: <%=@invoice.status%></p>
<p>Status: <%=@invoice.status%></p>
<p>Created On: <%=@invoice.created_at.strftime("%A, %B %d, %Y")%></p>
<p>Customer: <%=@invoice.customer_name%></p>
