<div class="flex-container">
  <div id='title'>
    <h3><%= @merchant.name %></h3>
  </div>
    <div id='nav'>
      <th><%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard" %></th>&emsp;
      <th><%= link_to "My Items", "/merchants/#{@merchant.id}/items" %></th>&emsp;
      <th><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></th>&emsp;
      <th><%= link_to "My Discounts", "/merchants/#{@merchant.id}/bulkdiscounts" %></th>
    </div>
</div>

  <center><h2 style='background-color: #f1f1f1;'>Invoice #<%= @invoice.id %></h2></center>

<%= render "invoice_show/show" %>

<% @invoice.items.each do |item| %>

  <div id="items-<%= item.id %>">
    <h3>Item: <%= item.name %></h3>
    <p>Quantity: <%= item.quantity_ordered(@invoice) %><p>
    <p>Price: <%= number_to_currency(item.price_sold(@invoice).fdiv(100)) %><p>
    <p>Status: <%= form_with url: "/merchants/#{item.merchant_id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %></p><br>
    <%= f.select :update_status, ['pending', 'packaged', 'shipped'], selected: item.item_status(@invoice) %><br>
    <%= f.submit 'Update Status' %>
    <% end %>
  </div>
<% end %>

<% @invoice.invoice_items.each do |invoice_item| %>
  <% @bulkdiscounts.each do |discount| %>
  <% if invoice_item.quantity >= discount.threshold %>
    <%= link_to "Discounts", "/merchants/#{@merchant.id}/bulkdiscounts/#{discount.id}" %>
    <% else %>
    <% end %>
    <% end %>
  <% end %>
