<h1> Invoice #<%= @invoice.id %> </h1>

<% @invoice.invoice_items.each do |invoice_item| %>
  <h3><%= Item.find_item(invoice_item.item_id).name %><br></h3>
  Price: <%= Item.find_item(invoice_item.item_id).unit_price %><br>
  Quantity: <%= invoice_item.quantity %><br>
  Status: <%= invoice_item.status %><br>
<% end %>

<h3>Total Revenue: <%= @invoice.total_revenue %></h3>
