<h1>Merchant Invoice Show Page</h1>
<%= "Invoice ID: #{@invoice.id} "%><br>
<%= "Invoice Status: #{@invoice.status}"%><br>
<%= "Invoice Created at: #{@invoice.created_at.strftime("%A, %B %e, %Y")}" %><br>
<%= "Customer Name: #{@invoice.customer.first_name} #{@invoice.customer.last_name}" %><br>

<% @invoice.items.each do |item| %>
<div id="items-<%= item.id %>">
  <h3>Item: <%= item.name %></h3>
  <p>Quantity: <%= item.quantity_ordered(@invoice) %><p>
  <p>Price: <%= number_to_currency(item.price_sold(@invoice).fdiv(100)) %><p>
  <p>Status: <%= item.item_status(@invoice) %><p><br>
</div>
<% end %>