<h1>Invoice: <%= @invoice.id %> </h1>

<h2>Invoice information: </h2>

<ul>
  <li>
    <p>Id: <%= @invoice.id %></p>
  </li>
  <li>
    <p>Status: <%= @invoice.status %></p>
  </li>
  <li>
    <p>Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  </li>
  <li>
    <p>Customer name: <%=  @invoice.customer.first_name %>  <%=  @invoice.customer.last_name %> </p>
  </li>
</ul>

<h2>Items ordered:</h2>

<% @invoice.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <h4><%= item.name %></h4>
    <ul>
      <li>
        <p>Quantity: <%= @invoice.get_invoice_item(item.id).quantity %></p>
      </li>
      <li>
        <p>Price per Item: $<%= @invoice.get_invoice_item(item.id).unit_price.to_s.insert(-3, ".") %></p>
      </li>
      <li>
        <p>Status: <%= @invoice.get_invoice_item(item.id).status %></p>
      </li>
    </ul>
    <%= form_with url: "/merchants/#{@invoice.get_invoice_item(item.id).item.merchant_id}/invoices/#{@invoice.id}?item_id=#{item.id}",
               method: :patch, local: true do |form| %>
      <%= form.label :select_status %>
      <%= form.select :select_status,
                      ['pending', 'packaged', 'shipped'], selected: @invoice.status %>
      <%= form.submit 'Update Item Status' %>
    <% end %>
  </div>
<% end %>

<h2>Total Revenue: $<%= @invoice.total_revenue.to_s.insert(-3,".") %> </h2>
