<h1> Invoice #<%= @invoice.id %> </h1>

<% @invoice.invoice_items.each do |invoice_item| %>
  <h3><%= Item.find_item(invoice_item.item_id).name %><br></h3>
  Price: <%= Item.find_item(invoice_item.item_id).unit_price %><br>
  Quantity: <%= invoice_item.quantity %><br>
  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
    <%= f.label :status, "Status" %>
    <%= f.select :status, ["Packaged", "Pending", "Shipped"], selected:invoice_item.status %><br>
    <%= f.submit "Update Item Status" %>
  <% end %>
<% end %>

<h3>Total Revenue: <%= @invoice.total_revenue %></h3>
