<h1>Invoice# <%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Created at:<%= @invoice.date %></p>
<h3>Customer name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></h3>
