<%= render partial: 'shared/home_link', locals: {path: "/"} %>

<h1>Merchant Invoice</h1>
  <h2>Invoice ID: <%= @invoice.id %></h2>
  <p>Status: <%= @invoice.status %></p>
  <p>Created: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
  <h3>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></h3>
  <br/>
<h2>Item Information</h2>
  <% @invoice.items.each do |item| %>
    <% item.invoice_items.each do |invoice_item| %>
      <h3>Name: <%= item.name %></h3>
      <p>Quantity: <%= invoice_item.quantity %></p>
      <p>Price: <%= number_to_currency(item.unit_price.fdiv(100)) %>
      <p>Status: <%= invoice_item.status %></p>
    <% end %>
  <% end %>
  <br/>

<h2>Total Revenue</h2>
  <%= number_to_currency(@invoice.total_rev.fdiv(100)) %>
