<h1>Invoice: <%= @invoice.id %> </h1>

<h2>Invoice information: </h2>

<ul>
  <li>
    <p>Id: <%= @invoice.id %></p>
  </li>
  <li>
    <p>Status: <%= @invoice.status %></p>
  </li>
  <li>
    <p>Created at: <%= @invoice.formatted_date %></p>
  </li>
  <li>
    <p>Customer name: <%=  @invoice.customer.first_name %>  <%=  @invoice.customer.last_name %> </p>
  </li>
</ul>

<h2>Items ordered:</h2>

<%= @invoice.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <ul>
      <p><%= item.name %><p>
      <li>
        <p>Quantity: <%= @invoice.get_invoice_item(item.id).quantity %></p>
      </li>
      <li>
        <p>Price per item: <%= @invoice.get_invoice_item(item.id).price_in_dollars %></p>
      </li>
      <li>
        <p>Status: <%= @invoice.get_invoice_item(item.id).status %></p>
      </li>
    </ul>
  </div>
<% end %>
