<h2>Admin Dashboard</h2>

<%= link_to "Merchants", admin_merchants_path %>
<%= link_to "Invoices", admin_invoices_path %>

<h3>Top Five Customers</h3>

<ol id="top-five-customers">
  <% @customers.top_five_customers.each do |customer| %>
    <li><%= customer.first_name %> <%= customer.last_name %>:   <%= customer.successful_transactions_count %> transactions</li>
  <% end %>
</ol>

<h3>Incomplete Invoices</h3>
<ul id="incomplete-invoices">
  <% @invoices.incomplete_invoices.each do |invoice| %>
    <li>
      <%= link_to invoice.id, "/admin/invoices/#{invoice.id}" %> <%= invoice.created_at.strftime("%A, %B %d, %Y") %>
    </li>
  <% end %>
</ul>
