<%= render 'shared/flash_messages' %>
<%= render 'shared/nav_bar_merchant' %>
<h1>Update <%= @item.name %></h1>
<br>
<section id='udpate-item'>
<%= form_with url: merchant_item_path(@merchant, @item), method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: @item.name %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description, value: @item.description %>
  <br>
  <%= f.label :unit_price %>
  <%= f.number_field :unit_price, value: @item.unit_price_to_dollars %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
</section>