<h2>Edit Item</h2>
<%= form_with url: "/merchants/#{@merchant.id}/items/#{@item.id}", method: :patch, local: true do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name, value: "#{@item.name}" %></p>

  <p><%= f.label :description %>
  <%= f.text_area :description, value: "#{@item.description}" %></p>

  <p><%= f.label :current_price, "Current Price: $" %>
  <%= f.number_field :current_price, value: "#{@item.unit_price_to_dollars}" %></p>

  <%= f.submit 'Submit' %>
<% end %>
