<%= render partial: 'partials/merchants_item_nav_bar' %>
<br>
<br>
<div class="sub_container">
  <div class="sub_header_merchant_item">My Items</div>
</div>

<div class="new_merchant"><%= link_to "New Item", "/merchants/#{@merchant.id}/items/new" %></div>

<div class="body_container">
  <div class="sub_container">
    <div class="merchants_container">
      <div id="enabled_items">
        <h3>Enabled Items</h3>
        <% @enabled_items.each do |item| %>
          <div class="merchant_container", id = "merchant_item_enabled-<%=item.id%>">
            <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
            &emsp;
            <%=button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {item:{ status: "Disabled"} } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="merchants_container">
      <div id="disabled_items">
        <h3>Disabled Items</h3>
        <% @disabled_items.each do |item| %>
          <div class="merchant_container", id = "merchant_item_disabled-<%=item.id%>">
            <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
            &emsp;
            <%=button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {item:{ status: "Enabled"} } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sub_container">
    <div id="5_most_popular_items">
      <h3 style="text-align:center;">Top Items</h3>
      <ol>
        <% @top_5_items.each do |item| %>
          <div id = "merchant_item-<%=item.id %>">
            <li>
              <p>
              <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
              <%= "- #{number_to_currency((item.revenue.to_f/100).truncate, precision: 0)} in sales" %>
              </p>
              <p><%= "Top day for #{item.name} was #{item.item_best_day.strftime("%-m/%-d/%y")}"%> </p>
            </li>
          </div>
          <br>
        <% end %>
      </ol>
    </div>
  </div>
</div>
