<div id="most_popular_items">
  <h1>Top 5 Most Popular Items:</h1>
  <% @merchant.most_popular_items.each do |item| %>
  <div id="popular_item-<%= item.id %>">
    <h3><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></h3>
    <p>Total Revenue: $<%= "%.2f" % (item.total_revenue.to_f/100).truncate(2) %></p>
  </div>
  <% end %>
</div>

<div id="enabled_items">
  <h1>Enabled Items</h1>
  <% @merchant.items.enabled.each do |item| %>
    <div id="item-<%= item.id %>">
      <h3><%= item.name %></h3>
      <%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}",
      params: {disable: true}, method: :patch %>
    </div>
  <% end %>
</div>

<div id="disabled_items">
  <h1>Disabled Items</h1>
  <% @merchant.items.disabled.each do |item| %>
    <div id="item-<%= item.id %>">
      <h3><%= item.name %></h3>
      <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}",
      params: {enable: true}, method: :patch %>
    </div>
  <% end %>
</div>

<%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %>
