<h1><%="Index Page for #{@merchant.name}"%></h1>

<%= link_to "Add Item", "/merchants/#{@merchant.id}/items/new" %>

<h1> List of all Items</h1>


  <div id= "disabled_items"%>
    <h3>List of Disabled Items</h3>
    <%@items_with_disabled_status.each do |item|%>
      <div id= "item_number_<%="#{item.id}"%>">
        <h5><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %></h5>
        <p>Status <%=item.status%> 
        <%= form_with url: "/items/#{item.id}", method: :patch, local: true do |form| %>
          <%= form.hidden_field :merchant_id, value: "#{@merchant.id}" %>
          <%= form.submit "Enable/Disable Item #{item.name}" %>
        <% end %>
      </div>
    <%end%>
  </div>


<div id= "enabled_items"%>
  <h3>List of Enabled Items</h3>
  <%@items_with_enabled_status.each do |item|%>
    <div id= "item_number_<%="#{item.id}"%>">
      <h5><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %></h5>
      <p>Status <%=item.status%></p>
      <%= form_with url: "/items/#{item.id}", method: :patch, local: true do |form| %>
        <%= form.hidden_field :merchant_id, value: "#{@merchant.id}" %>
        <%= form.submit "Enable/Disable Item #{item.name}" %>
      <% end %>
    </div>
  <%end%>
</div>

<div id= "5_most_popular_items">
  <h2>List of most popular items</h2>
    <%@five_popular_items_hash.each do |key, value|%>
    <p><%="Top selling date for #{key.name} was #{value[0].strftime("%B %d, %Y")}"%></p>
      <p>Link: <%= link_to "#{key.name}", "/items/#{key.id}"%></p>
      <p><%="Total revenue generated for #{key.name}: #{value[1]}"%>
    <br>
    <br>
    <%end%>
</div>
