<%= render 'shared/flash_messages' %>
<%= render 'shared/nav_bar_merchant' %>
<h1><%= @item.name %></h1>
<br>
<%= image_tag(@images.first.small) %>
<br>
<p> Description: <%= @item.description %></p>
<br>
<p>Current Price: $<%= @item.unit_price_to_dollars %></p>
<br>
<%= button_to 'Update Item', edit_merchant_item_path(@merchant, @item), method: :get %>