
<% @items.each do |item|%>
  <div id="item-<%= item.id %>">
    <p>Name: <%= item.name %> Description: <%= item.description %> Unit Price: <%= item.unit_price %>
    <%= link_to "Edit Item", "/merchants/#{@merchant.id}/items/#{item.id}/edit" %>
  </div>
<% end %>