<h1>Item show page</h1>

<p>Item name: <%= @item.name %></p><br/>
<p>Item description: <%= @item.description %></p><br/>
<p>Unit price: <%= @item.unit_price %></p><br/>
<p>Item status: <%= @item.status %></p><br/>

<%= link_to "Update item", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>
