<%= form_with url: merchant_item_path(@item.merchant, @item), method: :patch, local: true do |form| %>
    <p><%= form.label :name %></p>
    <p><%= form.text_field :name, value: @item.name %></p>
    <p><%= form.label :description %></p>
    <p><%= form.text_area :description, value: @item.description %></p>
    <p><%= form.number_field :unit_price, value: @item.unit_price %></p>
    <%= form.submit "Submit" %>
<% end %>
