<%= render partial: "layouts/merchant_header", locals: {page_name: @merchant.name, merchant_id: @merchant.id}%>

<h1>Edit Item</h1>
<%=form_with url: "/merchants/#{@merchant.id}/items/#{@item.id}", method: :patch, local: true do |f|%>
<%=f.label :name, 'Name:'%>
<%=f.text_field :name, value: @item.name%>
<%=f.label :description, 'Description:'%>
<%=f.text_area :description,  value: @item.description%>
<%=f.label :unit_price, 'Price:'%>
<%=f.number_field :unit_price, value: @item.unit_price%>
<%=f.submit 'Update'%>
<%end%>