<h1>Edit <%= @item.name%></h1>

<%= form_with url: "/merchants/#{@merchant.id}/items/#{@item.id}", method: :patch do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, value: @item.name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description, value: @item.description %>
  </p>

  <p>
  <%= f.label :unit_price %>
  <%= f.text_field:unit_price, value: @item.unit_price %>
  </p>

  <p>
  <%= f.label :enabled %>
  <%= f.text_field :enabled, value: @item.enabled %>
  </p>

  <%= f.submit 'Save' %>
<% end %>
