<h1>Editing <%= @item.name %></h1>
<%= form_tag "/merchant/#{@item.merchant_id}/items/#{@item.id}", method:  :patch do %>
<%= label_tag :name %>
<%= text_field_tag :name, @item.name %>
<%= label_tag :description %>
<%= text_field_tag :description, @item.description %>
<%= label_tag :unit_price %>
<%= text_field_tag :unit_price, @item.unit_price.round(2) %>
<%= submit_tag 'Submit' %>
<% end %>
