<h1>Edit Item Details</h1>

<%= form_with url: merchant_item_path(@merchant, @item), method: :patch, local: true do |f| %>
  <%= f.label :name, "Item Name:" %><br>
  <%= f.text_field :name, value: @item.name %><br><br>
  <%= f.label :description, "Description:" %><br>
  <%= f.text_area :description, value: @item.description %><br><br>
  <%= f.label :unit_price, "Unit Price:" %><br>
  <%= f.text_field :unit_price, value: @item.unit_price %><br><br>
  <%= f.submit "Submit" %>
<% end %>