<%= form_with model: [@merchant, @item], local: true do |form| %>
  <p><%= form.label :name %>
  <%= form.text_area :name, value: @item.name %></p>
  <p><%= form.label :description %>
  <%= form.text_area :description, value: @item.description %></p>
  <p><%= form.label :unit_price %>
  <%= form.text_area :unit_price, value: @item.unit_price %></p>
  <%= form.submit %>
<% end %>