<h1><%= "#{@merchant.name} Inventory" %></h1>

<h3>Items:</h3>
<% @merchant.items.each do |item| %>
  <div id="item-<%= item.id %>">

    <p>
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> Status: <%= item.status %>
    </p>

    <p>
      <%= button_to "Enable", merchant_item_status_path(@merchant, item), method: :patch, params: {enabled: true, item_id: item.id } %>
    </p>

    <p>
      <%= button_to "Disable", merchant_item_status_path(@merchant, item), method: :patch, params: {disabled: true, item_id: item.id } %>
    </p>

  </div>
<% end %>

<br>

<div id= "new_item">
  <p><%= link_to "Create a New Item", new_merchant_item_path(@merchant) %>
</div>
