<html>
<head>
<style>
h1 {text-align: center}
h2 {text-align: left}
</style>
</head>
<body>

<h1>Little Esty Shop</h1>


<h2><%= @merchant.name %></h2>

  <% @merchant.items.each do |item| %>
    <div class="merchant_item-<%=item.id%>">
      <%if item.availability == "enable" %>
        <%= link_to "Name: #{item.name}", merchant_items_path(@merchant, item)%> 
        <%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { availability: "disable" }  %>
      <%else item.availability == "disable" %>
        <%= link_to "Name: #{item.name}", merchant_items_path(@merchant, item)%> 
        <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { availability: "enable" }  %>
      <% end %>
    </div>
  <% end %>



</body>
</html>


