<h1> <%= @merchant.name %></h1>
<hr>

<h3>Top 5 Most Popular Items</h3>
<hr>

<div id="top_five_items">
<% @merchant.top_five_items.each do |item| %>
    <p><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></p>
    <p>Total Revenue Generated: <%= number_to_currency(item.revenue/100, precision: 0) %></p>
    <p><%= "Top selling date for #{item.name} was #{item.top_item_best_day.strftime("%A, %B %d, %Y")}" %></p>
<% end %>
</div>

<h3>Enabled Items</h3>
<hr>
<div id='enableditems'>
<% @items.enabled.each do |item| %>
  <section id="item-<%=item.id%>">
    <p>
      <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
      <%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: {item_status: :disabled} %>
    </p>
  </section>
<% end %>

</div>

<h3>Disabled Items</h3>
<hr>
<div id='disableditems'>
<% @items.disabled.each do |item| %>
  <section id="item-<%=item.id%>">
    <p>
      <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
      <%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: {item_status: :enabled} %>
    </p>
  </section>
<% end %>
</div>

<hr>
<%= link_to "Create a New Item", "/merchants/#{@merchant.id}/items/new" %>
