<h2><%= @merchant.name %> </h2>

<h3>Top 5 Sellers</h3>
<div id="5-best-items">
  <% @merchant.items.top_5_order_by_revenue.each do |item| %>
    <p><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> - Revenue: <%= number_to_currency((item.total_revenue/100))%></p>
    <% if item.invoices.best_day != nil %>
        <p>Top selling date for <%= item.name %> was <%= item.invoices.best_day.created_at.strftime("%A, %B %d, %Y")%></p>
    <% end %> 
  <% end %>
</div>
<%= button_to "Create New Item", new_merchant_item_path(@merchant) , method: :get %>
<span id="enabled-items" >
  <h3>Enabled Items</h3>
  <% @merchant.items.active.each do |item| %>
  <div id="item-<%= item.id %>">
  <p>
    <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <%= button_to "Disable #{item.name}", merchant_items_path(@merchant.id), method: :patch, params: { id: "#{item.id}", active_status: :disabled}%>
    </p>
    </div>
  <% end %>
</span>

<span id="disabled-items">
  <h3>Disabled Items</h3>
  <% @merchant.items.inactive.each do |item| %>
  <div id="item-<%= item.id %>">
  <p>
    <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <%= button_to "Enable #{item.name}", merchant_items_path(@merchant.id), method: :patch, params: { id: "#{item.id}", active_status: :enabled}%>
    </p>
    </div>
    <% end %>
</span>
