<h1> <%= @merchant.name %> </h1><br>

<h1>Enabled Items:</h1>
<% @merchant.enabled_items.each do |item| %>
  <b><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}"  %></b>
  <b><%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", params: {status: "disabled"}, method: :patch %></b>
  <br><br>
<% end %>

<h1>Disabled Items:</h1>
<% @merchant.disabled_items.each do |item| %>
  <b><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %></b>
  <b><%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {enabled: "enabled"}  %></b>
  <br><br>
<% end %>
