<h1>Items by <%= @merchant.name %></h1>



<section id="Top_5_Items">
  <h3>Top Items</h3>
  <section id="Top Items">
  <%= @merchant.top_5_items.each do |item| %>
    <ol>
      <div id="Top-Item-<%= item.id %>">
        <li><%= item.name %></li>
        <p>$<%= item.revenue_formatted.to_i %> In Sales</p>
        <p>Top selling date for <%= item.name %> was <%= item.item_best_day %></p>
      </div>
    </ol>
  </section>
  <% end %>
</section>

<section id="all_items">
  <h3>Enabled Items</h3>
  <section id='Enabled'>
  <%@merchant.items_enabled_list.each do |item| %>
    <ul>
      <div id="Item-<%= item.id %>">
      <li><%= link_to "#{item.name}", merchant_item_path(@merchant, item.id) %></li>
      <li> <%= item.status  %> </li>
      <%= button_to 'Disable Item', "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params:{status: 'disabled'}, local: true %>
      </div>
    </ul>
  </section>
  <% end %>

  <h3>Disabled Items</h3>
  <section id='Disabled'>
  <%@merchant.items_disabled_list.each do |item| %>
    <ul>
      <div id="Item-<%= item.id %>">
      <li><%= link_to "#{item.name}", merchant_item_path(@merchant, item.id) %></li>
      <li> <%= item.status  %> </li>
      <%= button_to 'Enable Item', merchant_item_path(@merchant, item), method: :patch, params:{status: 'enabled'}, local: true %>
      </div>
    </ul>
  </section>
  <% end %>

</section>

<%= link_to "Create new item", new_merchant_item_path(@merchant) %>
