<h3> Merchant Items: </h3>
<% @items.each do |item| %>
  <div id="<%= item.id%>" %>
  <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}"%>, <%=item.status%></p>
<p><%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", type: "submit", name: "status", item_status: "enabled", method: :patch %><%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", type: "submit", name: "status", item_status: "disabled", method: :patch %></p>
  </div>
<% end %>

<div id="right-container">
  <h2>Disabled Items:</h2>
  </div>
<div id="left-container">
  <h2>Enabled Items:</h2>
  </div>