<h1> Merchant Items Index Page </h1>

<%= link_to "Create a New Item", new_merchant_item_path(@merchant), method: :get %>

<h3> Enabled Items </h3>
<div id= "enabled_items" >
<% @merchant.enabled_items.each do |merchant_item| %>
    <div id= "item_<%= merchant_item.id %>">
        <%= link_to "#{merchant_item.name}", merchant_item_path(@merchant, merchant_item), method: :get %>
        <%= button_to "Disable", merchant_item_path(@merchant, merchant_item), method: :patch, params: { enabled: false } %>
    </div>
    <% end %>
</div>

<h3> Disabled Items </h3>
<div id= "disabled_items" >
    <% @merchant.disabled_items.each do |merchant_item| %>
    <div id= "item_<%= merchant_item.id %>">
        <%= link_to "#{merchant_item.name}", merchant_item_path(@merchant, merchant_item), method: :get %>
        <%= button_to "Enable", merchant_item_path(@merchant, merchant_item), method: :patch, params: { enabled: true } %>
    </div>
    <% end %>
</div>


<h3> Top Items </h3>
<div id = "top_items" >
<ol>
   <% @merchant.top_items.each do |merchant_item| %>
    <li>
        <div id="top_items_id_<%= merchant_item.id %>">
            <%= link_to "#{merchant_item.name}", merchant_item_path(@merchant, merchant_item), method: :get %>
            <p> $<%= '%.2f' % (merchant_item.revenue/100.to_f) %> in sales </p>
            
            <p> Top selling date for <%= merchant_item.name %> was <%= merchant_item.item_best_day %> </p>

        </div>
    </li>
    <% end %>
</ol>

</div>