<h3 id="links"; style="text-align:left;font-weight:bold;">
    Merchant:  &nbsp; <%=  @merchant.name %><span style="float:right;"><%= render partial: 'partials/merch_header' %>&emsp;</span>
</h3>

<h2 align="center">My Items</h2><br/>
<h4><%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %>

<h3 align="right">Top Items  &emsp;  &emsp;</h3>
<% @top_items.each_with_index do |item, index| %>
    <h4>&nbsp;  &emsp;<%= link_to "#{item.name}", "/items/#{item.id}" %></h4>
    <p>$<%= item.revenue %></p>
    <p><%= "Top selling date for #{item.name}  was #{@top_days[index].best_day} with most sales" %></p>
<% end %>

<h3>Enabled Items</h3>
<% @enabled_items.each do |item| %>
    <h4>&nbsp;  &emsp;<%= link_to "#{item.name}", "/items/#{item.id}" %></h4>
    <%= button_to("Disabled", "/items/#{item.id}", :params => {able: "Disabled"}, method: :patch) %>
<% end %>


<h3>Disabled Items</h3>
<% @disabled_items.each do |item| %>
    <h4>&emsp;  <%= link_to "#{item.name}", "/items/#{item.id}" %></h4>
    <%= button_to("Enabled", "/items/#{item.id}", :params => {able: "Enabled"}, method: :patch) %>
<% end %>
