<html>
<head>
<style>
h1 {text-align: center}
h2 {text-align: left}
</style>
</head>
<body>

<h1>Little Esty Shop</h1>
<p><%= link_to "Create New Item", new_merchant_item_path(@merchant) %></p>

<h2><%= @merchant.name %></h2>

<h4> Enabled Items </h4>

  <section id="enabled">
      <% @enabled_items.each do |item| %>
        <div class="merchant_item-<%=item.id%>">
          Name: <%= link_to "#{item.name}", merchant_items_path(@merchant, item) %> 
          <%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { availability: "disable" }  %>
        </div>
      <% end %>
  </section>

<h4> Disabled Items </h4>

  <section id="disabled">
      <% @disabled_items.each do |item| %>
        <div class="merchant_item-<%=item.id%>">
          Name: <%= link_to "#{item.name}", merchant_items_path(@merchant, item) %> 
          <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { availability: "enable" }  %>
        </div>
      <% end %>
  </section>

<h4> Top 5 Items </h4>
  <section id="top_5" >
    <% @merchant.top_5_items.each do |item| %>
      <p><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>: <%= number_to_currency(item.revenue) %></p>
    <% end %>
  </section>

</body>
</html>
