<h3 id="links"; style="text-align:left;">&emsp;
    Merchant: &emsp;<%=  @merchant.name %><span style="float:right;"><%= render partial: 'partials/merch_header' %>&emsp;</span>
</h3>

<h2 align="center">My Items</h2><br/>
<h4>&emsp;*<%= link_to "Create NEW Item", "/merchants/#{@merchant.id}/items/new" %>

<style>
.column {
  float: left;
  width: 40%;
  padding: 50px;
}
</style>

<div class="row">
  <div class="column">
    <h3>Enabled Items</h3>
    <% @enabled_items.each do |item| %>
        <h4>&emsp;<%= link_to "#{item.name}", "/items/#{item.id}" %></h4>
        <%= button_to("Disabled", "/items/#{item.id}", :params => {able: "Disabled"}, method: :patch) %>
    <% end %></br>

    <h3>Disabled Items</h3>
    <% @disabled_items.each do |item| %>
        <h4>&emsp;  <%= link_to "#{item.name}", "/items/#{item.id}" %></h4>
        <%= button_to("Enabled", "/items/#{item.id}", :params => {able: "Enabled"}, method: :patch) %>
    <% end %>
  </div>

  <div class="column">
    <h3>&emsp;<%= "5 Most Poplular Items" %></h3>
    <% @top_items.each_with_index do |item, index| %>
        <h4><%= index+1 %>.&emsp;<%= link_to "#{item.name}", "/items/#{item.id}" %> -  $<%= item.revenue %></h4>
        <p><%= "Top sales date for '#{item.name}' was   #{@top_days[index].items_day.strftime("%A, %B %d, %Y")}" %></p>
    <% end %>
  </div>

</div>
