<h1>All Items For This Merchant</h1>

<%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get %>

<% @items.each do |item| %>
  <section id="item-<%= item.id %>">
    <p><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> Status: <%= "#{item.status}" %></p>
    <p><%= button_to "change status", "/merchants/#{@merchant.id}/items/#{item.id}/change_status", method: :get %></p>
  </section>
<% end %>
