<%= link_to "Home Page", "/" %> |
<%= link_to "Create New Item", "/merchant/#{@merchant.id}/items/new", method: :get, params: { merchant_id: @merchant.id} %>

<h2>My Items</h2>
<h3><u>Disabled Items</u></h3>
<ul>
  <% @items.disabled_items.each do |item| %>
    <li class="disabled_items" id="disabled-item-<%= item.id %>">
      <%= link_to "#{item.name}", "/merchant/#{@merchant.id}/items/#{item.id}" %>
      <%= button_to "Enable", "/merchant/#{@merchant.id}/items/#{item.id}", method: :patch, params: { item_status: item.status} %>
    </li>
  <% end %>
</ul><br>

<h3><u>Enabled Items</u></h3>
<ul>
  <% @items.enabled_items.each do |item| %>
    <li class="enabled_items" id="enabled-item-<%= item.id %>">
      <%= link_to "#{item.name}", "/merchant/#{@merchant.id}/items/#{item.id}" %>
      <%= button_to "Disable", "/merchant/#{@merchant.id}/items/#{item.id}", method: :patch, params: { item_status: item.status} %>
    </li>
  <% end %>
</ul>

<h3><u>Top Items</u></h3>
<ol>
  <% @items.most_popular_items.each do |item| %>
    <li id="top-item-<%= item.id %>">
      <%= link_to "#{item.name}", "/merchant/#{@merchant.id}/items/#{item.id}" %> - <%= number_to_currency(item.revenue) %><br>
      <p>Top sale date for <%= item.name %> was <%= item.invoice_items.best_item_sale_day.strftime("%A, %B %d, %Y") %></p>
    </li>
  <% end %>
</ol>
