<h1>Welcome To <%= @merchant.name %></h1>

<%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get %>

<div id="enabled">
<h2>--- Enabled Items ---</h2>
  <% @merchant_items.each do |item| %>
    <% if item.status == 'enabled' %>
      <p>
      <b><%=link_to item.name, merchant_item_path(@merchant, item)%><b><br>
      Status: available for purchase<br>
      </p>
      <%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}?button=true", method: :patch %><br>
    <% end %>
  <% end %>
</div>

<div id="disabled">
<h2>--- Disabled Items ---</h2>
  <% @merchant_items.each do |item| %>
    <% if item.status == 'disabled' %>
      <p>
      <b><%=link_to item.name, merchant_item_path(@merchant, item)%><b><br>
      Status: not available for purchase<br>
      </p>
      <%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}?button=true", method: :patch %><br>
    <% end %>
  <% end %>
</div>
