<h1> <%= @merchant.name %>'s items </h1>
<br/>
<%= button_to("Create a New Item", "/merchants/#{@merchant.id}/items/new", method: :get) %>
<hr/>

<div id="top_five_items">
  <h2>Top 5 Items</h2>
  <% @merchant.top_five_items.each do |item| %>
  <div id="top_item_<%= item.id %>"
    <h3><a href="/items/<%= item.id %>"><%= item.name %></a></h3>
    <p>Total revenue generated:<strong> $<%= item.total_rev.to_f / 100 %></strong></p>
    <hr/>
  </div>
  <% end %>
</div>

<% @disabled_items = @merchant.items.find_all {|item| item.status == "disabled"}%>

<h2>Disabled Items:</h2>
<% @disabled_items.each do |item| %>
  <h3> <%= item.name %> </h3>
  <p> <%= item.description %> </p>
  <h4> Price: $<%= item.unit_price.to_f / 100 %> </h4>
  <div id="DisabledItem-<%= item.id %>">
    <%= button_to "Enable Item", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch %>
  </div>
  <hr/>
<% end %>

<% @enabled_items = @merchant.items.find_all {|item| item.status == "enabled"} %>

<h2>Enabled Items:</h2>
<% @enabled_items.each do |item| %>
  <h3> <%= item.name %> </h3>
  <p> <%= item.description %> </p>
  <h4> Price: $<%= item.unit_price.to_f / 100 %> </h4>
  <div id="EnabledItem-<%= item.id %>"
    <%= button_to "Disable Item", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch %>
  </div>
  <hr/>
<% end %>
