<h1><%= "#{@merchant.name} Inventory" %></h1>

<div id='top_by_revenue'>
  <h3>Top 5 Items by Revenue:</h3>
    <ol>
      <% @merchant.top_items_by_revenue.each do |item| %>
          <li><b><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></b> - Total Revenue: <%= item.item_revenue %></li>
      <% end %>
    </ol>
</div>


<section id= "disabled">
  <h3>Disabled Items:</h3>
  <% @disabled_items.each do |item| %>
    <div id="item-<%= item.id %>">
      <p>
        <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> Status: <%= item.status %>
      </p>
      <p>
        <%= button_to "Enable", merchant_item_status_path(@merchant, item), method: :patch, params: {enabled: true, item_id: item.id } %>
      </p>
    </div>
  <% end %>
</section>


<section id= "enabled">
  <h3>Enabled Items:</h3>
  <% @enabled_items.each do |item| %>
    <div id="item-<%= item.id %>">
      <p>
        <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> Status: <%= item.status %>
      </p>
      <p>
        <%= button_to "Disable", merchant_item_status_path(@merchant, item), method: :patch, params: {disabled: true, item_id: item.id } %>
      </p>
    </div>
  <% end %>
</section>

<br>

<div id= "new_item">
  <p><%= link_to "Create a New Item", new_merchant_item_path(@merchant) %>
</div>
