<h3> Merchant Items: </h3>
<% @items.each do |item| %>
  <div id="<%= item.id%>" %>
  <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}"%>, <%=item.status%></p>
<p><%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", type: "submit", name: "status", item_status: "enabled", method: :patch %><%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", type: "submit", name: "status", item_status: "disabled", method: :patch %></p>
  </div>
<% end %>

<div id="Enabled">
  <h2>Enabled Items:</h2>
    <% Item.enabled_items.each do |item| %>
      <div id="enabled_item<%= item.id %>">
      <%= item.name%>
      
      </div>
    <% end %>  
  </div>
<div id="Disabled">
  <h2>Disabled Items:</h2>
    <% Item.disabled_items.each do |item| %>
      <div id="disabled_item<%= item.id %>">
      <%= item.name%>
      
      </div>
    <% end %>  
  </div>