<%= render partial: '/merchants_navbar'%>

<h2><%= "#{@merchant.name}'s Items" %></h2>

<div id="top_5_revenue">
  <h2>Top 5 Items</h2>
  <% @merchant.top_five_items_by_revenue. each do |item| %>
    <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> Total Revenue: <%= item.item_revenue %>
    Top selling date for <%= item.name%> was: <%= item.top_selling_days %> </p>
  <% end %>
</div>

<section id="disabled">

  <h3>Disabled Items</h3>
  <% @merchant.items.disabled_items.each do |item| %>
    <div id="item_<%= item.id%>">
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> Status: <%= item.status%>
      <%= button_to 'Enable', "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {status: 1} %>
    </div>  
  <% end %>
</section>
    

<section id="enabled">

  <h3>Enabled Items</h3>
    <% @merchant.items.enabled_items.each do |item| %>
      <div id="item_<%= item.id%>">
        <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> Status: <%= item.status%>
        <%= button_to 'Disable', "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {status: 0} %>
      </div>
    <% end %>
</section>
<br>

<div id= "new_item">
  <p><%= link_to "Create new item", "/merchants/#{@merchant.id}/items/new"%>
</div>      
