<h1>All Items For: <%= @merchant.name %></h1>
<% @merchant.items.each do |item| %>
<div id="item-<% item.id %>">
  <p> <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> <p>
  <p> <%= item.description %> <p>
  <p> <%= item.unit_price %> <p>
  <p> <%= item.status %> <p>  
</div>
<% end %>

<%= link_to "New Item", "/merchants/#{@merchant.id}/items/new" %>
