<h1><%= @merchant.name %> Items</h1>

<% @merchant.items.each do |item| %>
  <div id = "item-<%= item.id %>">
  <ul><li><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" 
  %>
  <% if item.status == "enabled" %>
    <%= button_to "Disable Item", "/merchants/#{item.id}/items", method: :patch %>
  <% else %>
    <%= button_to "Enable Item", "/merchants/#{item.id}/items", method: :patch %>
  <% end %>
  </li></ul>
  </div>
<% end %>

<h3>Top Items</h3>
<div id="five-most-popular-items"><% @merchant.five_most_popular_items.each_with_index do |item, index| %>
  <div id="topitems-<%= index %>"><p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
   - <%= number_to_currency(item.revenue / 100) %> in sales</p></div>
<% end %>
</div>