<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, style: 'pull-right' %>
      <%= link_to 'My Items', merchant_items_path(@merchant), style: 'pull-right' %>
      <%= link_to 'My Invoices', merchant_invoices_path(@merchant), style: 'pull-right' %></li>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='col-12'>My Items</p>
  </div>

  <p><%= link_to "Create New Item", new_merchant_item_path(@merchant) %></p>
    
  <div class="row">
    <p class='mr-auto col-sm-5'>Enabled Items</p>
    <p class='ml-auto col-sm-5'>Top Items</p>
  </div>

  <ul class='mr-auto col-sm-4'>
    <section id="enabled">
      <% @enabled_items.each do |item| %>
        <section id="item-<%= item.id %>">
          <li><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></li>
          <%= button_to "Disable", merchant_item_status_path(@merchant, item), method: :patch, params: {status: "disabled"} %>
        </section>
      <% end %>
    </section>
  </ul>
  
  <div class="row">
    <p class='mr-auto col-sm-5'>Disabled Merchants</p>
  </div>
  
  <ul class='mr-auto col-sm-4'>
    <section id="disabled">
      <% @disabled_items.each do |item| %>
        <section id="item-<%= item.id %>">
          <li><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></li>
          <%= button_to "Enable", merchant_item_status_path(@merchant, item), method: :patch, params: {status: "enabled"} %>
        </section>
      <% end %>
    </section>
  </ul>
  
  <ul class='ml-auto col-sm-4'>
  <section id="top_5">
    <% @merchant.top_5_items.each do |item| %>
      <li><%= link_to "#{item.name}", merchant_item_path(@merchant, item)  %> -
        $<%= item.total_revenue %> in sales</li>
      <p> Top selling date for <%= item.name %> was <%= item.best_day %> </p>
    <% end %>
  </section>
</body>
