<h1>My Items</h1>
<section id="new-item">
  <%= link_to "New Item", new_merchant_item_path(@merchant) %>
</section>

<section id="top-five-items">
  <h3>Top Items</h3>
  <ol>
    <% @top_five_items.each do |item| %>
    <li><%= item.name %> - $<%= item.total_revenue.round(2) %> in sales</li>
    <% end %>
  </ol>
</section>

<section id="merchant-items">
    <h3>Enabled Items</h3>
      <% @active_items.each do |item| %>
        <ul>
          <li>
            <section id="item-<%= item.id %>">
              <%= link_to "#{item.name}", merchant_item_path(@merchant, item), method: :get %>
              <%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: {status: "Inactive"} %>
            </section>
          </li>
        </ul>
      <% end %>

    <h3>Disabled Items</h3>
      <% @inactive_items.each do |item| %>
        <ul>
          <li>
            <section id="item-<%= item.id %>">
              <%= link_to "#{item.name}", merchant_item_path(@merchant, item), method: :get %>
              <%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: {status: "Active"} %>
            </section>
          </li>
        </ul>
      <% end %>
</section>
