<h1> <%= @merchant.name %></h1>
<% @items.each do |item| %>
<section id="item-<%=item.id%>">
  <p>
    <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
    <%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: {item_status: :enabled} %>
    <%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: {item_status: :disabled} %>
  </p>
  <p>
    <%= "Status: #{item.item_status}" %>
  </p>
</section>
<% end %>
