<h1><%= @merchant.name %>'s Items</h1>

<body>
  <%= link_to "Create Item", new_merchant_item_path(@merchant) %>
  <section id="merchant-items-list">
    <div id="merchant-enabled-items">
      <h2>Enabled Items:</h2>
      <%= render partial: 'list_items', locals: { list: @enabled_items,
                                           button: "Disable",
                                           status: "disabled"
                                          } %>
    </div>

    <div id="merchant-disabled-items">
      <h2>Disabled Items:</h2>
      <%= render partial: 'list_items', locals: { list: @disabled_items,
                                           button: "Enable",
                                           status: "enabled"
                                          } %>
    </div>

    <div id="merchant-top-items">
      <h2>Your Top Selling Items:</h2>
      <% @merchant.top_five_items.each do |item| %>
        <div id="top-item-<%= item.id %>">
        <h3><%= item.name %></h3>
        <p>Total revenue: <%= item.total_revenue%></p>
        <p>Top selling date was: <%= item.best_day.format_day%></p>
        </div>
      <% end %>
    </div>
   
  </section>

</body>