<h1><%= @merchant.name %>'s Items </h1>

<% @items.each do |item| %>
  <section id="item-<%= item.id %>">
    <h3><%= item.name %></h3>
    <%# <%= link_to "Edit #{item.name}", "/merchants/#{merchant.id}/#{item.id}", method: :patch %>
    <%# <%= link_to "Delete #{vet.name}", "/merchants/#{merchant.id}/#{item.id}", method: :delete %>
  </section>
<% end %>
