<h1><center>Items for: <%=@merchant.name%></center></h1>

<%=button_to "New Item", "/merchants/#{@merchant.id}/items/new", method: :get %>

<div class="row">
  <style>
    .column {
    float: left;
    width: 50%;
    }
  </style>

  <div class="column", id="enable_disable"> 
    <div id="enabled_items">
      <h2>Enabled Items</h2>
      <%@merchant.enabled_items.each do |item|%>
        <section id="enabled-item-<%=item.name%>">
          <%=item.name%>
          <%=button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}?status=Disabled", method: :patch %>
        </section>
      <%end%>
    </div>

    <div id="disabled_items">
      <h2>Disabled Items</h2>
      <%@merchant.disabled_items.each do |item|%>
        <section id="disabled-item-<%=item.name%>">
          <%=item.name%>
          <%=button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}?status=Enabled", method: :patch %>
        </section>
      <%end%>
    </div>
  </div>

  <div class= "column", id= "top_items">
    <h2>Top Items</h2>
    <%@merchant.most_popular_items.each do |item|%>
      <p><%=link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", method: :get %> - <%=item.revenue%> in sales</p>
      <%item.invoices.each do |invoice| %>
        <%=invoice.created_at.strftime('%A, %B %d, %Y')%><%=@merchant.most_recent_date%>
      <%end%>
    <%end%>
  </div>

</div>


