<h1>Merchant Items Index Page</h1>
<br>
<h3><%= @merchant.name %></h3>
<p><%= link_to "Create a New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<br>

<h2>Top 5 Most Popular Items (By Revenue)</h2>
<div id = "top_5_items">
  <% @top_5_items.each do |item| %>
    <li><%= link_to item.name, "/merchants/#{item.merchant_id}/items/#{item.id}" %>: <%= number_to_currency(item.revenue) %></li>
    <li>Top selling date for <%= item.name %> was <%= item.top_item_day.invoice_date.strftime("%B %e, %Y") if !item.top_item_day.nil? %></li> 
  <% end %>
</div>

<div class="main-container">
  <div class="left-container">
    <h2>Enabled Items:</h2>
    <ul>
      <% @enabled_items.each do |item| %>
        <div id="enabled-item-<%= item.id %>"> 
          <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: true do |f| %>
            <li><p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %></p></li>
            <p><%= f.button "Disable #{item.name}", type: "submit", name: "status", value: "disabled" %></p>
            <p><%= f.hidden_field :to_index %></p>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="right-container">
    <h2>Disabled Items:</h2>
    <ul>
      <% @disabled_items.each do |item| %>
        <div id="disabled-item-<%= item.id %>">
          <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: true do |f| %>
            <li><p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %></p></li>
            <p><%= f.button "Enable #{item.name}", type: "submit", name: "status", value: "enabled" %></p>
            <p><%= f.hidden_field :to_index %></p>
          <% end %>
        </div>

      <% end %>
    </div>
</ul>
