<h1><%= @merchant.name %> Items</h1>
<div id="items">
  <% @items.each do |item| %>
    <p><%= item.name %></p>
  <% end %>
</div>
<h3 align="center">My Items:</h3>
<ul>
<div id="disabled">
<h3>Disabled:</h3>
<% @merchant.items.each do |item| %>
    <div id="item-<%= item.id %>">
      <% if item.status == "disabled" %>
        <li><%= item.name %>
        <%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: {status: "enabled", item_id: "#{item.id}"} %>
        </li>
      <% end %>
    </div>
<% end %>
</div>
</ul>
<ul>
<div id='enabled'>
<h3>Enabled:</h3>
<% @merchant.items.each do |item| %>
    <div id="item-<%= item.id %>">
      <% if item.status == "enabled" %>
        <li><%= item.name %>
        <%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: {status: "disabled", item_id: "#{item.id}"} %>
        </li>
      <% end %>
    </div>
<% end %>
</div>
</ul>
<%= link_to "New Item", new_merchant_item_path(@merchant) %>

<h3>Best Selling Items</h3>
  <ol id="top_5_items">
  <% @merchant.top_5_items.each do |best_seller| %>
    <li><%= link_to "#{best_seller.name}", merchant_item_path(@merchant, best_seller) %> - Total Revenue: $<%= best_seller.total_revenue %>. Top selling date for <%= best_seller.name %>.</li>
  <% end %>
</ol>
