<h1><%= @merchant.name %>'s Item Page</h1>

<u><h3>Enabled Items:</h3></u>
<% @merchant.items.enabled_items.each do |item| %>
<section id="item-<%= item.id %>">
  <p><%= link_to item.name, merchant_item_path(@merchant, item) %>: <%= item.status.capitalize %> </p>
  
  <%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: {item_id: item.id, disable: 1} %>

  </section>
<% end %>
<HR COLOR="black" SIZE="4">
<u><h3>Disabled Items:</h3></u>
<% @merchant.items.disabled_items.each do |item| %>
<section id="item-<%= item.id %>">
  <p><%= link_to item.name, merchant_item_path(@merchant, item)%>: <%= item.status.capitalize %></p>

  <%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: {item_id: item.id, enable: 0}  %>
  </section>
<% end %>

<br>
<%= link_to "New Item", "/merchants/#{@merchant.id}/items/new" %>

