<h1>All Items For This Merchant</h1>

<%= link_to "Create New Item", new_merchant_item_path(@merchant) %>

<% @items.each do |item| %>
  <section id="item-<%= item.id %>">
    <p><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> Status: <%= "#{item.status}" %></p>
    <% if item.status == 'Enabled' %>
      <%= button_to "Disable this item", merchant_item_status_path(@merchant, item), method: :patch, params: {status: "Disabled"} %>
    <% elsif item.status == 'Disabled' %>
      <%= button_to "Enable this item", merchant_item_status_path(@merchant, item), method: :patch, params: {status: "Enabled"} %>
    <% end %>
  </section>
<% end %>
<section id='top_five_items'>
  <h3>Top Five Items:</h3>
  <ol>
    <% @merchant.top_five_items.each do |item| %>
      <li>Item: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> - Total Sales: <%= item.total_sales %></li>
    <% end %>
  </ol>

</section>
