<html>
<head>
<style>
p.groove {border-style: groove;}
</style>
</head>
<body>

<h1> Little Esty Shop </h1> <br>
<br>
<br>
<h3> <%= @merchant.name %> </h3>
<br>
<br>
<br>
<p class="groove">My Items</p>
<br>
<br>
<h5> Items </h5>

<div class="top_5_items">
  <ol>
    <% @merchant.top_five_items.each do |item| %>
      <div id="top_5_item-<%=item.id%>">
      <p> <li> <%= link_to item.name, merchant_item_path(@merchant, item) %>, Total Revenue: $<%= number_with_precision ((item.revenue).to_f / 100), precision: 2, delimiter: ',' %> </li> </p>
      <p> Top Selling Date <%=item.name%> was <%= item.best_day.strftime("%-m/%-d/%Y")%> </p>
      </div>
    <% end %>
  </ol>
</div>

<div class="items">
  <% @merchant.items.each do |item| %>
    <div id="item-<%=item.id%>">
      <%= link_to item.name, item_path(item) %> <br>
    </div>
  <% end %>
</div>