<h1>Create new item</h1>

<%=form_with url: merchant_items_path(@merchant), method: :post,local: true do |f| %>
<%= f.label :name %>
<ol> Name <%= f.text_field :name %></ol>
<%= f.label :description %>
<ol> Description <%= f.text_field :description %></ol>
<%= f.label :price %>
<ol> Price <%= f.text_field :unit_price %></ol>
<ol><%= f.submit "Submit" %></ol>
<% end %>
