<h3>New Item</h3><br/>
<%= form_with url:"/merchants/#{@merchant.id}/items", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br/><br/>

  <%= form.label 'Description' %>
  <%= form.text_area :description %><br/><br/>

  <%= form.label 'Unit Price' %>
  <%= form.number_field :unit_price %><br/><br/>

  <%= form.label :able %>
  <%= form.hidden_field :able, :value = "Disable" %><br/><br/>

  <%= form.submit 'Submit New Item' %>
<% end %>
