<h1><center><%= @item.merchant.name %></center></h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<hr>

  <div id="merchant-items-<%=@item.id%>">
    <ul><h3>Item: <%= @item.name %></h3></ul>
    <ul>Description: <%= @item.description %></ul>
    <ul>Current Selling Price: <%= @item.unit_price %></ul>
  </div>

  <div style="position:fixed; padding: 1em; top: 0; left: 0;">
    <%= button_to "Update Item", "/merchants/#{@item.merchant.id}/items/#{@item.id}/edit", method: :get %>
  </div>