<p><b><%= @item.merchant.name %><b></p>
<p><b><%= @item.name %><b></p>
<p>Description: <%= @item.description %></p>
<p>Current Price: $<%= @item.unit_price %></p>
<p><%= link_to 'Update Item', edit_merchant_item_path(@item.merchant, @item) %></p>