<%= render partial: 'shared/home_link', locals: {path: "/"} %>
<%= render partial: 'shared/merchant_links', locals: {path: "/merchants/#{@merchant.id}"} %>

<%  if flash[:alert] %>
<div class="notice"><%= flash[:alert] %></div>
<% end %>
<h1><center><%= @item.name %></center></h1>
<h3><b>Description: </b><%= @item.description %></h3>
<h3><b>Price: </b><%= number_to_currency(@item.unit_price.fdiv(100)) %></h3>
<%= button_to 'Update', "/merchants/#{@merchant.id}/items/#{@item.id}/edit", method: :get %>
