<h1><center><%= @item.merchant.name %></center></h1>
<hr>

  <div id="merchant-items-<%=@item.id%>">
    <ul><h3>Item: <%= @item.name %></h3></ul>
    <ul>Description: <%= @item.description %></ul>
    <ul>Current_Selling_Price: <%= @item.unit_price %></ul>
  </div>

