<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<p><%= "Current Price: #{@item.unit_price}" %></p>
<p><%= "Merchant ID: #{@item.merchant_id}" %></p>
<p><%= link_to "Edit Item", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %></p>