<h1> <%= @merchant.name %>'s product: <%= @item.name %> </h1>

<p><b>About the <%= @item.name %>: <%= @item.description %> </b></p>
<p><b>Currently being sold for: $<%= @item.unit_price %> </b></p>

<%= link_to "Update #{@item.name}", "/merchants/#{@item.merchant_id}/items/#{@item.id}/edit" %>
