<h2><%= @merchant.name %>'s Item:</h2>

<h3> <%= @item.name %> </h3>
  <p><%= @item.description%></p>
  <p><%= @item.unit_price %></p>
  <%# <%= link_to "Edit #{item.name}", "/merchants/#{merchant.id}/#{item.id}", method: :patch %>
  <%# <%= link_to "Delete #{vet.name}", "/merchants/#{merchant.id}/#{item.id}", method: :delete %>
