<h2><%= @item.name %></h2>
<div id="item-attributes">
  <p> <%= @item.name %></p>
  <p> <%= @item.description %></p>
  <p> <%= @item.unit_price %></p>
</div>

<%= link_to "Update #{@item.name}", edit_merchant_item_path(@merchant, @item) %>
