<h1><%= @merchant.name %></h1>

<p><%= link_to "Merchant Items", merchant_items_path(@merchant) %></p>
<p><%= link_to "Merchant Invoices", merchant_invoices_path(@merchant) %></p>

<p>Top Five Customers:</p>
<% @merchant.top_customers.each do |customer| %>
<h3> <%= customer.first_name %> </h3>
<p>Count of Transactions: <%= customer.count_transaction %></p>
<% end %>
<p>Items Packaged and Ready to Ship: </p>
<%= @merchant.items_ready_ship %> </p>
