<h1><%= @merchant.name %></h1>

<p><%= link_to "Merchant Items", merchant_items_path(@merchant) %></p>
<p><%= link_to "Merchant Invoices", merchant_invoices_path(@merchant) %></p>

<p>Top Five Customers:</p>
<% @merchant.top_customers.each do |customer| %>
<h3> <%= customer.first_name %> </h3>
<p>Count of Transactions: <%= customer.count_transaction %></p>
<% end %>
<h3>Items Packaged and Ready to Ship: </h3>
<% @merchant.order_by_invoice.each do |ordered_invoice| %>
  <% ordered_invoice.items_ready_ship.each do |merch_ii|%>
    <p><%= merch_ii.item.name  %> - Invoice id# <%= link_to merch_ii.invoice.id, [@merchant, merch_ii.invoice] %> <%= merch_ii.invoice.created_at_formatted %></p>
  <% end  %>
<% end  %>
