<h1>Merchant Dashboard</h1>

<h2><%= @merchant.name %></h2>

<%= link_to "My Items", merchant_items_path(@merchant) %>

<%= link_to "My Invoices", merchant_invoices_path(@merchant) %>

<div id="top_customers">
  <h2>Top Customers: </h2>
  <ol>
    <% @merchant.customers.top_five_customers_by_merchant.each do |customer, transactions| %>
     <li> <%= customer[1] %> <%= customer[0] %> - <%= transactions %> purchases </li>
    <% end %>
  </ol>
</div>
