<%= form_with model: [@merchant, @discount], local: true do |form| %>
  <p><%= form.label :bulk_discount %>
  <%= form.text_area :bulk_discount, value: @discount.bulk_discount.round(2) %></p>
  <p><%= form.label :item_threshold %>
  <%= form.text_area :item_threshold, value: @discount.item_threshold %></p>
  <%= form.submit %>
<% end %>
