<%# TODO: @discount value is nil - localhost is not working %>

<div class="container"><h5>

  <h2>Update <%= @discount.percentage %>% Discount</h2><br>

  <%= form_with url: merchant_discount_path(@merchant, @discount), method: :patch, local: true do |f| %>
    <%= f.label :percentage, 'Percentage Discount:' %><br>
    <%= f.number_field :percentage, value: @discount.percentage %><br>
    <%= f.label :quantity_threshold, 'Quantity Threshold:' %><br>
    <%= f.number_field :quantity_threshold, value: @discount.quantity_threshold %><br>
    <%= f.submit 'Update' %>
  <% end %>

</div></h5>
