<div class="container">

  <h3>Create a New Discount | <%= @merchant.name %></h3><hr><br>
  <%= form_with url: merchant_discounts_path(@merchant), method: :post, local: true do |f| %>
    <%= f.label :percentage, 'Discount Percentage' %>
    <%= f.number_field :percentage %><br>
    <%= f.label :quantity_threshold, 'Quantity' %>
    <%= f.number_field :quantity_threshold %><br>
    <%= f.submit 'Submit' %>
  <% end %>

</div>
