<%= render partial: 'partials/merchants_dashboard_nav_bar' %>

<div class="body_container">
  <div class="sub_container">
    <div class="sub_header">Items Ready to Ship</div>
    <div id="items_ready_to_ship">
      <ol>
        <% @invoice_items_ready_to_ship.each do |invoice_item| %>
          <p>
            <div class="sub_font">
            <%= "#{invoice_item.item.name}" %> - <%= link_to "Invoice ##{invoice_item.invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice.id}" %> - <%= invoice_item.created_at.strftime("%A, %B %-d, %Y") %>
            </div>
          </p>
        <% end %>
    </div>
  </div>

  <div class="sub_container">
    <div class="sub_header">Favorite Customers</div>
    <div id="top_customers">
      <ol>
        <% @top_five_merchant_customers.each do |customer| %>
          <li><div class="customer_font"><%= "#{customer.first_name} #{customer.last_name} - #{customer.total_purchases} purchases" %></div></li>
        <% end %>
    </div>
  </div>
</div>