<%= form_with model: [@merchant, @item], local: true do |f| %>
  <% if @item.id.nil? %>
    <%= f.hidden_field :enabled, value: false %>
  <% end %>

  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :description %>
  <%= f.text_area :description %></p>

  <p><%= f.label :current_price %>
  <%= f.number_field :current_price, step:'any', value: "#{@item.unit_price_to_dollars}", required: true %></p>

  <%= f.submit %>
<% end %>