
<p>Name: <%=@merchant.name%></p>
<%=link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
<%=link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
<div id="items_and_invoices">
<h3>Items Ready to Ship</h3>
  <%@ready_merchant_items.each do |object| %>
   <p>Item: <%=object.item.name%>
    <%= link_to "#{object.invoice_id}", merchant_invoices_path(@merchant.id)%>,
    <%= object.invoice.created_at.strftime("%A, %B %d, %Y")%></p>
    <br>
  <% end %>
  </div>
