<%= render partial: 'merchants/shared/header' %>


<div class='general_body'>
  <div id='favorite_customers'>
    <h4>Favorite Customers</h4>
    <ol>
      <% @merchant.top_five_customers.each do |customer| %>
        <li class='column'><%= "#{customer.first_name} #{customer.last_name} - #{customer.transaction_count} Purchases" %></li>
      <% end %>
    </ol>
  </div>

  <div id='items_ready_to_ship'>
    <h4>Items Ready to Ship</h4>
    <ul>
      <% @merchant.ready_to_ship_items.each do |item| %>
        <li class='column'><%= "#{item.name} - Invoice #" %><%=link_to item.invoice_id, "/merchants/#{@merchant.id}/invoices/#{item.invoice_id}"%>
        <%= "- #{item.invoice_created_at.strftime("%A, %B %-d, %Y")}" %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render partial: "/github_info" %>