<h1>Little Esty Shop</h1>

<h2><%= @merchant.name %></h2>
<p>
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</p>

<h3>Favorite Customers:</h3>
<ol>
  <% @merchant.top_five_customers.each do |customer| %>
    <li><%= "#{customer.name} - #{customer.transactions.count} purchases" %></li>
  <% end %>
</ol>

<section id="items_ready_to_ship">
  <h3>Items Ready to Ship:</h3>
  <% @merchant.incomplete_invoices.each do |invoice| %>
    <section id="invoice-<%= invoice.id %>">
      <% invoice.items.each do |item| %>
        <%= "#{item.name} - Invoice #" %><%= link_to "#{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %>
      <% end %>
    </section>
  <% end %>
</section>