<%= link_to "Home Page", "/" %> |
<%=link_to "Merchants", "/admin/merchant"%> |
<%=link_to "Invoices", "/admin/invoices"%> |
<%=link_to "Dashboard", "/admin"%>

<h2>Admin Dashboard</h2>
  <%= link_to "Create Merchant", "/admin/merchant/new", method: :get %>

<section>

<h3>Top 5 Merchants </h3>
  <%  @top_merchants.each do |merchant| %>
  <%= link_to "#{merchant.name}", "/admin/merchant/#{merchant.id}" %>: <%= number_to_currency(merchant.total_revenue) %><br>
  <p>Top selling date for <%= merchant.name %> was <%= merchant.invoice_items.best_item_sale_day.strftime("%A, %B %d, %Y") %></p>
  <%end%>
</section>

<h3>Enabled Merchants</h3>
<ul>
  <% @enabled_merchants.each do |merchant| %>
  <li class="merchants" id="enabled-merchant-<%= merchant.id %>">
    <%= link_to "#{merchant.name}", "/admin/merchant/#{merchant.id}" %>
    <%= button_to "Disable", "/admin/merchant/#{merchant.id}", method: :patch, params: { merchant_status: merchant.status} %>
  </li>
  <% end %>
</ul>

<h3>Disabled Merchants</h3>
<ul>
  <% @disabled_merchants.each do |merchant| %>
    <li class="merchants" id="disabled-merchant-<%= merchant.id %>">
      <%= link_to "#{merchant.name}", "/admin/merchant/#{merchant.id}" %>
      <%= button_to "Enable", "/admin/merchant/#{merchant.id}", method: :patch, params: {merchant_status: merchant.status} %>
    </li>
  <% end %>
</ul><br>
