<br><br>

<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
<div class="card-header">Contributors</div>
<div class="card-body">
  <% if @contributors.is_a?(String) %>
    <p class="card-text"><%= @contributors %></p>
  <% else %>
  <% @contributors.each do |contributor| %>
    <p class="card-text"><%= contributor  %></p>
    <p></p>
    <% end %>
  <% end %>
</div>
</div>
</div>
<br>
<br>

<div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Number of Commits</div>
  <div class="card-body">
    <% if @commits.is_a?(String) %>
      <p class="card-text"><%= @commits %></p>
    <% else %>
    <% @commits.each do |contributor, commits| %>
      <p class="card-text"><%= contributor  %> Commits: <%= commits  %></p>
      <p></p>
      <% end %>
    <% end %>
  </div>
</div>
</div>
<br><br>

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Number of Merged Pull Requests</div>
  <div class="card-body">
    <p class="card-text"><%= @pull_requests %></p>
  </div>
</div>
</div>
</div>
