<% if @repository.present? %>
  <% if @repository.is_a?(Repository) %>
    <p><b>Repo:</b> <%= @repository.name %></p>
  <% else %>
    <p><%= @repository[:message] %></p>
  <% end %>
<% end %>

<% if @contributors.present? %>
  <% if @contributors.is_a?(Contributor) %>
    <% @contributors.each do |contributor| %>
      <strong>Contributors: </strong><%= contributor.login %>
    <% end %>
  <% else %>
    <p><%= @contributors[:message] %></p>

<% if @pulls.present? %>
  <% if @pulls.is_a?(PullRequest) %>
    <p><b>Closed Pulls:</b> <%= @pulls.count %></p>
  <% else %>
    <p><%= @pulls[:message] %></p>
  <% end %>
<% end %>
