<div class="repo">
  <h4> Repo: <%= @repository_name %></h4>
</div>
<div class="group">
  <h4> Group Members: </h4>
  <% @group_usernames.each do |member| %>
    <p> <%= member %> </p>
  <% end %>
</div>
<div class="commits">
  <h4> Commits by Group Member: </h4>
  <% @contributor_commits.each do |member, commits| %>
    <% if @group_usernames.include?(member) %>
    <p> Member: <%= member %>, Commits: <%= commits %> </p>
    <% end %>
  <% end %>
</div>
<div class="pull">
  <h4> Number of Pull Requests: <%= @pull_requests %></h4>
</div>