<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop: <%= @page_title || "Admin Dashboard" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
  </head>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>


    <body>

    <header>
    <div id="admin-header">
        <h1><%= @repo_name %></h1>
        <%# <h1>Little Esty Shop</h1> %>
    </div>
    </header>

    <div id="topnav">
        <h1>Admin Dashboard</h1>
        <div class="topnav-right">
            <a class="active" href="">Dashboard</a>
            <a href="/admin/merchants">Merchants</a>
            <a href="/admin/invoices">Invoices</a>
            <!-- #USE LINK_TO -->
        </div>
    </div>

    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->

    </body>
</html>