<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>Contributors</p>
      <ul>
        <% @user_names.each do |name| %>
          <li><%= name %></li>
        <% end %>
      </ul>
      <p> Our total pull requests: <%= @pr_total %> </p>
  </footer>
</html>
