<!DOCTYPE html>
<html>
  <head>
    <style>
      h1 {
        text-align: center;
        padding: 10px;
        margin: 40px;
        background-color: gray
      }
      .dash_header {
        float: left;
        margin: 20px
      }
      nav {
        float: right;
        margin: 20px
      }

      #top_customers {
        float: right;
        margin: 10px
      }
      body {
        font-family: sans-serif;
      }
    </style>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Little Esty Shop</h1>
 <nav>
  <%= link_to 'Merchants', '/admin/merchants' %>
  <%= link_to 'Invoices', '/admin/invoices' %>
  <%= link_to 'Dashboard', '/admin' %>
 </nav>
    <%= yield %>
  </body>
</html>
