<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>

  <body>
    <%= yield %>
  </body>

  <footer>
      <div id="footer">
        <% response = Faraday.get("https://api.github.com/repos/aetzion1/little-esty-shop/commits") %>
        <% api = JSON.parse(response.body, symbolize_names: true) %>
        <% pr_count = 0 %>
        <% api.each do |commit| %>
          <% if commit[:commit][:committer][:name] == "GitHub" %>
            <% pr_count += 1 %>
          <% end %>
        <% end %>
        <% adam_count = 0 %>
        <% liam_count = 0 %>
        <% robert_count = 0 %>
        <% api.each do |commit| %>
          <% if commit[:commit][:committer][:name].include?("Adam") %>
            <% adam_count += 1 %>
          <% elsif commit[:commit][:committer][:name].include?("Liam") %>
            <% liam_count += 1 %>
          <% else %>
            <% robert_count += 1 %>
            <% end %>
            <h5>Adam's Commits: <%= adam_count %>
            Liam's Commits: <%= liam_count %>
            Robert's Commits: <%= robert_count %></h5>

        <h3>Little Esty Shop</h3><br>
        <h3><%= "Number of Pull Requests: #{pr_count}" %></h3>
    </div>

  </footer>

</html>
