<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <div id="page-header">
      <span id="app-title"> Little Esty Shop </span>
    </div>

    <% flash.each do |type, msg| %>
      <div class="flash-notice">
        <%= msg %>
      </div>
    <% end %>

    <div id="main-content">
      <%= yield %>
    </div>
</html>
