<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="page-border">
  <header>
    <div class="header-image"><img src = "<%=@logo.thumb_url%>" id="logo_img" height="50", width="auto"></div>
    <h1 class="header-title"><span>Little Esty Shop<span></h1>
  </header>

  <body>
    <%= render 'shared/messages' %>
    <%= yield %>
  </body>
  </div>
</html>
