<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <center><h1>LittleEtsyShop</h1></center>
    <%= yield %>
    <hr><br><br><br><br><br>
    <footer>
      <h3>Github Info</h3>
      repo name: <%= @repo = RepoSearch.new.create_repo.name %>

      <h4>Commits by User:</h4>
      <%binding.pry%>
        <% commit_info.each do |user, commit_num| %>
          <p><%= "#{user} - #{commit_num}" %></p>
        <% end %>

      <h4>Pull Requests by User:</h4>
        <% pr_info.each do |user, pr_num| %>
          <p><%= "#{user} - #{pr_num}" %></p>
        <% end %>
    </footer>
  </body>
</html>
