<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="flash-notice"><%= flash[:notice] %></p>
    <ul id="flash-error">
      <% flash.each do |type, text| %>
        <li><%= text if type == "alert" %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
