<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4> Github Repo Name: <%= api_repo.name %> </h4>
    <h4> Total Number of Closed Pull Requests: <%= api_merges %> </h4>
    </br>
    <% api_contributors.each do |contributor|%>
      <p> Name: <%= contributor.login %>, Number of Commits: <%= contributor.contributions %> </p>
    <% end %>

    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
