<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
  <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <h1 id="welcome_header">Little Esty Shop</h1>
    <%= yield %>
    <footer id="github_api">
    <div>
    <h3>The Collaborators</h3>
    <% commit_count.each do |name, commits| %>
      <p><%= name %> has <%= commits %> commits.</p>
    <% end %>
    Repo Name: <%= repo_name %>
    <h4>Pull Requests: <%= pull_request %></h4>

    </div>
    </footer>
  </body>
</html>
