<!DOCTYPE html>
<html>
  <head>
    <style>
      .footer {
        padding: 3px;
      }
      .footer_l {
        float: left;
        background-color: lightgray;
        width: 30%;
        padding: 10px;
      }
      .footer_r {
        float: right;
        text-align: right;
        background-color: lightgray;
        width: 70%;
        padding: 10px;
      }
    </style>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
    <div id="flash-messages">
      <%= msg %>
    </div>
    <% end %>
    <%= yield %>
    <footer class="footer">
      <div class="footer_l">
        <h4>Repo Name: <%= @repo_name.name %></h4>
        <h4>Number of Pull Requests: <%=@latest_pr.number%></h4>
      </div>
      <div class="footer_r">
        <h4>Contributors With Number of Commits:</h4>
        <p><% @contributors.each do |contributor| %>
          <%= "#{contributor.name}: #{contributor.num_commits}" %>
        <% end %></p>
      </div>
    </footer>
  </body>
</html>
