<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="flash">
    <% flash.each do |type, message| %>
      <p><%= message.join('\n') %></p>
    <% end %>
  </p>
    <%= yield %>
    <footer id="footer">
      <p>Repo Name:
        <%= @repo.responses("")[:name] %>
      Commits Count:
    <%= @repo.responses("/commits").count %>
      All Pull Requests Count:
    <%= @repo.responses("/pulls?state=all").count %>
      Collaborators:
    <% @repo.responses("/collaborators").map do |collaborator| %>
      <%= collaborator[:login] %>
    <% end %>
    </footer>

  </body>
</html>
