<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
  <footer>
    <h3>Github Stats:</h3>
     <% github_info = GithubService.new %>
    <p>Repo name: <%=github_info.repo_name%> </p>
    <p>Contributors: <%=github_info.commits_per_person%> </p>
    <p>Merged commits count: <%=github_info.all_merged%> </p>
  </footer>

</html>
