<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
    <% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>
<% end %>

    <%= yield %>
  </body>
<footer>
  <p>Repository name:<%= @repo_name %></p>

  <p>Contributors</p>
  <ul>
    <% @user_names.each do |name| %>
    <li><%= name %></li>
    <% end %>
  </ul>
  <p>Pull request amount:<%=@repo_pr_number%></p>

</footer>
</html>
