<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Little Esty Shop</h1>
    <%= yield %>
    <footer><strong>Repository Name: </strong><%= @search.repo_information.name %> | <strong>Count of Pull Requests: </strong><%= @search.pull_requests.total_pull_requests %></footer>
  </body>
</html>
