<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <h1>Little Esty Shop</h1>
      <p>
      <%= link_to "Merchants Index", "/merchants" %> //
      <%= link_to "Admins Index", "/admin" %>
      </p>
      <p>
      GitHub Repository: <%= link_to GithubFacade.repository.name, "https://github.com/haewonito/little-esty-shop" %><br>
      Github Users:<ol>
                      <% GithubFacade.users.get_users.each do |user| %>
                        <li><%= link_to user, "https://github.com/#{user}" %>
                      <% end %>
                    <ol>
      </p>
      <hr>
    </section>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
