<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_container">
      <% flash.each do |type, msg| %>
        <div id="flash_message">
          <%= msg %>
        </div>
      <% end %>

      <h1><span>Little Esty Shop</span></h1>
      <br>

      <%= yield %>
      
      <footer>        
        <p><%= "Repository name: #{@repo_name.name}" %></p>
        <p><%= "Number of Merged Pull Requests: #{@pull_requests.pull_request_count}" %></p>
        <p><%= "Users:"%></p>
        <% @contributors.each do |contributor| %>
          <p><%= "#{contributor.user_name}'s commits: #{contributor.commits}" %></p>
        <% end %>
      </footer>
    </div>
  </body>
</html>
