<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% flash.each do |type, msg| %>
    <div id="flash-message">
      <%= msg %>
    </div>

<% end %>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>

<footer>
  <% merged_prs = MergedPrs.new %>
  <% merged_prs.count.each do |user, pr_count| %>
    <%= user %>'s PR count: <%= pr_count %>
    <br>
  <% end %>
</footer>