<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



<body>

  <%response = Faraday.get('https://api.github.com/repos/jacobyarborough/little-esty-shop')
  body = response.body
  parsed = JSON.parse(body, symbolize_names: true)
  repo_name = parsed[:name]%>

  <%= repo_name %>

  <%response = Faraday.get('https://api.github.com/repos/jacobyarborough/little-esty-shop/contributors')
  body = response.body
  parsed = JSON.parse(body, symbolize_names: true)%>
    <% instructor_names = %w(BrianZanti timomitchel scottalexandra jamisonordway) %>
    <% parsed.each do |contributor|%>
      <% if !instructor_names.include?(contributor[:login]) %>
        <%= contributor[:login] %>
      <% end %>
    <% end %>


    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
