<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="content">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= link_to "Home", "/" %>
    <%= link_to "Merchants (Admin)", "/admin/merchants" %>
    <%= link_to "Invoices (Admin)", "/admin/invoices" %>
    <%= yield %>
    </div>
  
  <footer class="footer">
    <%= render partial: 'githubstats' %>
  </footer>
  
  </body>
</html>
