<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Repo Name: <%= @repo_names %><br>
    Repo Pull Request Count: <%= @repo_pull_count %><br>
    <% @repo_contributors.each do |contributor| %>
      <%= "Contributor #{contributor[0]} has #{contributor[1]} commits" %><br>
    <% end %>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
