<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div style="color:purple;font-weight:bold;">
        <%= msg %>
      </div>
    <% end %>

    <h1 style="font-family:Helvetica;"><center><span style="background-color:#E0E0E0;padding:0.5em">Little Esty Shop</span></center></h1>

    <%= yield %>
  </body>
</html>
