<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('shopping_bags.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <button><a href="/admin">Admin</a></button>  <button><a href="/admin/merchants"> Admin Merchants</a></button>
      <button><a href="/admin/invoices">Admin invoices</a></button>
  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
      <% end %>
    <%= yield %>
  </body>
</html>
