<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
		<% flash.each do |type, msg| %>
			<div>
				<%= msg %>
			</div>
    <% end %>
    
    <h1><%= @repo_name.name %></h1>
    <h3>Collaborators</h3>
    <% @users.each do |user| %>
      <p><%= user.username %> - <%= user.commit_count %> Commits</p>
    <% end %>
    <p><%= @pull_requests %> merged pull requests</p>

    <%= yield %>
  </body> 
</html>
