<!DOCTYPE html>
<html>
  <head>
    <center><h1 class='header', style='background-color: #f1f1f1;'>Little Etsy Shop</h1></center>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |type, message| %>

      <div>
        <p> <%= message %></p>
      </div>
    <% end %>

    <%= yield %>

    <%# <%= render 'shared/footer' %> 

  </body>
</html>
