<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style="text-align:center;">Little Esty Shop</h1>
    <% flash.each do |type, msg| %>
      <div>
      <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
  <footer>Repo Name: <%= RepoSearch.all_repos.name %></footer>
</html>
