<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
    <div class="row">
      <div class="col">
        <h1 class='bg-secondary bg-gradient text-center p-2'>Little Esty Shop</h1>
      </div>
    </div>
    <div class="row">
  <div class="col border border-1 d-flex justify-content-between mt-5">
    <div class="d-flex border border-1 flex-column justify-content-center">
      <h2><%= "MERCHANT NAME GOES HERE" %></h2>
    </div>
    <div>
      <nav class="border border-1 d-flex">
        <div class="m-3">
        <%#feel free to update this with whatever you need%>
          <%= link_to "Dashboard" %>
        </div>
        <div class="m-3">
        <%#feel free to update this with whatever you need%>
          <%= link_to "My Items" %>
        </div>
        <div class="m-3">
        <%#feel free to update this with whatever you need%>
          <%= link_to " My Invoices" %>
        </div>
      </nav>
    </div>
  </div>
</div>
    <%= yield %>
  </body>
</html>
