<!DOCTYPE html>
<html>
  <head>
    <p></p>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>

  <footer>
    <h3>Github Stats:</h3>
    <% github_info = GithubInfo.new %>
    <p>Repo name: <%= github_info.repo_name %> </p>
    <% github_info.commits_per_person.each_pair do |k, v| %>
      <span><%= k.to_s + ": " + v.to_s + "," %></span>
    <% end %>
    <p>Merged PR count: <%= github_info.all_merged %> </p>
  </footer>
</html>
