<!DOCTYPE html>
<html>
  <head>
    <title>Little Etsy Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    .navbar {
      margin-bottom: 30px;
    }
    .navbar-text {
      margin-top: 1px;
      margin-bottom: 1px;
      font-weight: bold;
    }
    .col-sm-5 {
      background-color:lavender;
      font-weight: bold;
      text-align:center;
      margin-right: 80px
    }
    .col-sm-6 {
      background-color:lavenderblush;
      font-weight: bold;
      text-align:center;
    }
    </style>
  </head>

  <body>
    <div class="top-container">
      <h1 style="text-align:center; background-color:#EBEFF3;">Little Esty Shop</h1>
      
      <%= yield %>
      
    </div>
  </body>
</html>
