<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <%= @github_info.repo_name %>
      <% @github_info.collaborators.each do |collaborator|%>
        <%= collaborator %>
      <% end %>
      <p>Pull Requests: <%= @github_info.pulls %></p>
    </footer>
  </body>


</html>
