<%= stylesheet_link_tag 'application' %>
<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <div class = "merchantItemHeader">
    <h1> Little Esty Shop </h1><br/>
  </div>
  <div class = "app_logo">
     <% <%= image_tag @app_logo.url, size: "220x220" %>
  </div>
  <div class = "app_logo_likes">
     <p><%= @app_logo.likes%> people liked this logo.</p>
  </div>
</header>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
