<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <div class="facade">
       #facade = HeaderFacade.new %>
      <p> #{}"GitHub Repository: #{facade.repo}" %> </p>
       #facade.contributors.each do |contributor| %>
        <p> #{}"Contributor: #{contributor.username}" %></p>
        <p> #{}"Commits: #{contributor.commits}" %></p>
       #end %>
      <p> #{}"Total Pull Requests Closed: #{facade.pulls.first.number}" %></p>
    </div> -->
  </head>

  <body>
    <div class="flash_message">
      <% flash.each do |type, message| %>
          <p><%= message %></p>
      <% end %>
    </div>
    <%= yield %>


  </body>
</html>
