<!DOCTYPE html>
<html>
  <head>
    <style>
      h1 {
        text-align: center;
        padding: 10px;
        margin: 40px;
        background-color: gray
      }
      #items {
        float: left;
        margin: 40px
      }  

      #top_items {
        float: right;
      }

      .dash_header {
        float: left;
        margin: 20px
      }
      nav {
        float: right;
        margin: 20px
      }

      #top_customers {
        float: right;
        margin: 10px
      }
      body {
        font-family: sans-serif;
      }

      #enabled_merchants {
        float: left;
        margin: 20px
      }

      #disabled_merchants {
        float: left;
        margin: 20px
      }

      #top_by_revenue {
        float: right;
        margin: 20px
      }
    </style>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Little Esty Shop</h1>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
