<!DOCTYPE html>
<html>
  <head>
    <title>Little Esty Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-border">
    <%= render 'shared/header' %>
    <%= render 'shared/messages' %>
    <%= yield %>
  </body>
</html>
