<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= flash[:notice] %>
    <%= yield %>
    <%= @github_info.repo_name %>
    <p> Contributors:</p><% @github_info.contributors.each do |contributor| %>
      <%= contributor %>
    <% end %>
    <p> pull request: <%= @github_info.pr_count %></p>
    <h4> commits by contributor 
      <%@github_info.commits.each do |key, value|%>
        <p><%="#{key} has #{value} number of commits" %></p>
      <%end%> </h4>


  </body>
</html>
