<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <header>
      <div class="nav-bar">
            <%= link_to 'Go to admin/merchants', "/admin/merchants" %>
            <%= link_to 'Go to admin/invoice', "/admin/invoices" %></p>
    </header>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
