<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <h1 id="page_title">Little Esty Shop</h1>
    <% if flash.count > 0 %>
      <div id="flash_messages">
        <div class='flash_message'>
          <% flash.each do |type, msg| %>
              <%= msg %><br>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
