<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  <%= @repo.repo_name %>

  <h3>Contributors</h3>
  <% @contributors.each do |contributor| %>
  <% binding.pry %>
    <p><%= contributor.user_name %> Commits: <%= @commits.filter_by_user_and_count(contributor.user_name) %></p>
  <% end  %>


  </footer>
</html>
