<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
     <p class='flash-message'><%= message %></p>
   <% end %>
    <%= yield %>
    <h3>Github Contributors</h3>
    <% GithubServices.new.get_commits.each do |username| %>
      <%= username[:login] %> - <%= username[:contributions] %> commits<br>
    <% end %>
  </body>
</html>
