<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<% flash.each do |type, msg| %>
			<div>
				<%= msg %>
			</div>
    <% end %>
    <h3>Collaborators</h3>
    <% @users.each do |user| %>
      <p><%= user.username %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
