<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>

  <footer align:"center">
    <% @contributors.each do |contributor| %>
      <p> <%= contributor.name %> -- <%= contributor.commits %> commits </p>
    <% end %>
    <p> GitHub Repo Name: <%= @repo.name %> </p>
    <p> Total Pull Requests: <%= @repo.pr_count %> </p>
  </footer>
</html>
