<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>

  Repo: <%= @repo.name %><br>

  <% @commits.each do |name, commit_number| %>
  <%= name %> submitted <%= commit_number %> commits. <br>
  <% end %>

  <% @usernames.each do |user| %>
  <%= user %><br>
  <% end %>

  <b>Pull Requests: <%= @count %><br><br><br><br>

    <% @avatar_urls.each do |url| %>
    <img src=<%= url %>><br>
    <% end %>

</html>
