<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/header' %>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
    <div>
      <h3 style= "color:orange">  <%= msg %> </h3>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
