<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <%=RepoSearch.repo_name.repo_name%>
  <%UsernameSearch.username_information.each do |username|%>
  <p><%= username.login %>: <%=CommitSearch.commit_information(username.login)%> commits  </p>
  <%end%>
  <p> Total Pulls: <%= PullSearch.pull_count %></p>
</div>

	<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>"><%= message %></div>
<% end %>
    <%= yield %>
  </body>
</html>
