<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=RepoSearch.repo_name.repo_name%>
  <%=CommitSearch.commit_information('torienyart')%>
  <%=CommitSearch.commit_information('brad-dunlap')%>
  <%=CommitSearch.commit_information('c-v-l')%>
  <%=CommitSearch.commit_information('ALHelton')%>

	<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>"><%= message %></div>
<% end %>
    <%= yield %>
  </body>
</html>
