<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Little Esty Shop</h1>
    <%= yield %>

    <footer>
     <strong> GitHub Repository Name: </strong><%= @search.repo_information.name %><br>
     <strong>Count of Pull Requests: </strong><%= @search.pull_requests.total_pull_requests %><br>
     <strong>GitHub Usernames of Team Members: </strong>
     <ul>
      <% @search.contributors.each do |contributor| %>
        <li><%= contributor.username %>, commit count: <%= @search.commit_count(contributor.username) %></li>
      <% end %>
      </ul>
    </footer>
  </body>
</html>
