<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_container">
      <% flash.each do |type, msg| %>
        <div id="flash_message">
          <%= msg %>
        </div>
      <% end %>

      <h1><span>Little Esty Shop</span></h1>
      <br>

      <%= yield %>
    </div>
  </body>
</html>
